@define-color cluebar_color shade (@theme_base_color, 0.9);

NemoWindow * {
	-GtkPaned-handle-size: 1;
}

/* FIXME - Something I don't understand. Why this theme gets a gray bg without this, and Ambiance which it's based on does not. */
NemoWindow .view {
	background-color: @theme_base_color;
}

NemoWindow .view:selected {
	background-color: @theme_selected_bg_color;
}

NemoWindow .view:selected:backdrop {
	background-color: @backdrop_selected_bg_color;
}

NemoWindow .view.rubberband {
	background-color: alpha (@theme_selected_bg_color, 0.35);
}
/* FIXME end */

.nemo-inactive-pane .view {
	background-color: shade (@theme_base_color, 0.96);
}

.nemo-inactive-pane .view:selected,
.nemo-inactive-pane .nemo-canvas-item:selected {
	background-color: @backdrop_selected_bg_color;
	color: @backdrop_selected_fg_color;
}

.nemo-inactive-pane .expander.view:selected {
	background-color: @backdrop_selected_bg_color;
}

.nemo-canvas-item {
	border-radius: 2px;
}

/* desktop mode */
.nemo-desktop.nemo-canvas-item {
	color: @theme_bg_color;
	text-shadow: 1px 1px alpha (#000000, 0.8);
}

.nemo-desktop.nemo-canvas-item:active {
	background-image: none;
	background-color: alpha (@theme_bg_color, 0.84);

	color: @theme_fg_color;
}

.nemo-desktop.nemo-canvas-item:selected {
	background-image: none;
	background-color: alpha (@theme_selected_bg_color, 0.84);

	color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
	text-shadow: none;
}

/* browser window */
NemoTrashBar.info,
NemoXContentBar.info,
NemoSearchBar.info,
NemoQueryEditor.info {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@cluebar_color, 1.0)),
		to (shade (@cluebar_color, 1.0)));
	background-color: @cluebar_color;
	border-bottom-color: shade (@cluebar_color, 0.92);
	border-radius: 0;
	border-style: solid;
	border-width: 0px 0px 1px 0px;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
	-unico-inner-stroke-gradient: none;
	color: @theme_fg_color;
}

NemoSearchBar .entry {
}

.nemo-cluebar-label {
	font: normal;
	text-shadow: 0px 1px shade (@cluebar_color, 1.06);
}

.nemo-cluebar-label:backdrop {
	color: mix (@theme_fg_color, @cluebar_color, 0.2);
	text-shadow: 0px 1px shade (@cluebar_color, 1.02);
}

#nemo-search-button *:active,
#nemo-search-button *:active:prelight {
	color: @theme_fg_color;
}

NemoFloatingBar {
	background-color: @info_bg_color;
	border-radius: 2px 2px 0 0;
	border-style: solid;
	border-width: 1px;
	border-color: darker (@info_bg_color);

	-unico-border-gradient: none;
}

NemoFloatingBar .button {
	-GtkButton-image-spacing: 0;
	-GtkButton-inner-border: 0;
}

/* sidebar */
NemoWindow .sidebar,
NemoWindow .sidebar .view {
	background-color: @theme_bg_color;

	color: @theme_fg_color;
	text-shadow: 0px 1px shade (shade (@theme_bg_color, 0.95), 1.04);  
}

NemoWindow .sidebar row:selected {
	color: @theme_selected_fg_color;
	text-shadow: 0px -1px shade (@theme_selected_bg_color, 0.8); 
}

NemoWindow .sidebar row:backdrop:selected {
	color: @backdrop_selected_fg_color;
	text-shadow: none; 
}

NemoWindow .sidebar .frame {
}

NemoWindow .pane-separator {
	background-color: shade (shade (@theme_bg_color, 0.95), 0.94);
	border-color: @dark_bg_color;
	border-style: solid;
	border-width: 0;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
}

NemoWindow .pane-separator:backdrop {
	background-color: shade (shade (@theme_bg_color, 0.95), 0.96);
}

/* FIXME - Just a workaround atm. */
NemoWindow .primary-toolbar .button {
	-unico-border-gradient: none;
}

NemoWindow .primary-toolbar .button:hover {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.7)),
		to (shade (@theme_bg_color, 0.6)));
}

