/* Parole media player */

.osd #ParoleScale.horizontal {
    background-color: transparent;
}

.osd #ParoleScale.horizontal trough {
    min-height: 4px;
    margin: 0px;
}

/* rhythmbox */

.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:checked,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:hover {
    padding: 0px 6px;
}

/* nemo */

/* icon and list view */
.nemo-window-pane scrolledwindow {
    background-color: @theme_base_color;
}

