@define-color theme_base_color #fff;
@define-color theme_fg_color #000;
@define-color theme_active_color #555753;
@define-color theme_border_color @theme_active_color;

@define-color theme_highlight_color #3465a4;
@define-color theme_highlight_alt #204a87;
@define-color theme_highlight_border #12294a;

@define-color theme_internal_bg #d6d6d6;
@define-color theme_internal_border shade(@theme_internal_bg, 0.90);

@define-color theme_insensitive_color #7a7a79;
@define-color theme_insensitive_bg #f4f4f2;
@define-color theme_insensitive_border #babdb6;

@define-color theme_slider_bg #6f706d;

@define-color theme_button_bg #eeeeec;
@define-color theme_button_fg #2e3436;
@define-color theme_button_active_bg @theme_slider_bg;
@define-color theme_button_active_border @theme_slider_bg;
@define-color theme_button_insensitive_bg #fafaf9;
@define-color theme_button_insensitive_fg #c6c8c8;
@define-color theme_button_insensitive_border #c1c2c3;
@define-color theme_button_insensitive_active_bg #cccdcc;
@define-color theme_button_insensitive_active_fg @theme_base_color;
@define-color theme_button_insensitive_active_border @theme_button_insensitive_active_bg;
@define-color theme_button_linked_border @theme_active_color;
@define-color theme_button_linked_insensitive_bg @theme_button_insensitive_bg;
@define-color theme_button_linked_insensitive_fg @theme_button_insensitive_fg;

@define-color theme_entry_bg @theme_base_color;

@define-color theme_notebook_bg @theme_base_color;
@define-color theme_notebook_border @theme_active_color;

@define-color theme_scale_trough_bg @theme_active_color;
@define-color theme_scale_trough_insensitive_bg @theme_button_insensitive_active_bg;

@define-color theme_switch_slider_bg @theme_active_color;
@define-color theme_switch_slider_border @theme_active_color;
@define-color theme_switch_slider_active_bg @theme_base_color;
@define-color theme_switch_slider_insensitive_bg @theme_trough_insensitive_fg;
@define-color theme_switch_slider_insensitive_border @theme_trough_insensitive_fg;
@define-color theme_switch_slider_active_insensitive_bg @theme_base_color;

@define-color theme_trough_bg @theme_button_bg;
@define-color theme_trough_fg @theme_active_color;
@define-color theme_trough_insensitive_bg #fafaf9;
@define-color theme_trough_insensitive_fg @theme_button_insensitive_active_bg;
@define-color theme_trough_insensitive_border @theme_button_insensitive_active_bg;

@define-color theme_toolbar_bg @theme_button_bg;
@define-color theme_inline_toolbar_button_bg @theme_base_color;
@define-color theme_inline_toolbar_button_fg @theme_fg_color;
@define-color theme_inline_toolbar_button_side #dddedb;

@define-color theme_check_radio_bg @theme_button_bg;
@define-color theme_check_radio_border @theme_border_color;

@define-color theme_view_bg @theme_base_color;

@define-color theme_cursor_color @theme_fg_color;

@define-color wm_border_color @theme_fg_color;
@define-color wm_border_bakcdrop_color @theme_insensitive_border;
@define-color wm_button_bg @theme_button_bg;
@define-color wm_button_fg @theme_button_fg;
@define-color wm_button_pressed_fg @theme_internal_bg;
@define-color wm_button_prelight_bg @theme_fg_color;
@define-color wm_button_pressed_bg @theme_fg_color;
@define-color wm_button_prelight_fg @theme_base_color;
@define-color wm_button_pressed_fg @theme_base_color;
@define-color wm_shadow alpha(black, 0.5);

/*******
 * OSD *
 *******/
@define-color osd_highlight #ffffff;
@define-color osd_lowlight #525252;
@define-color osd_base #212526;

@define-color osd_fg #ededed;
@define-color osd_bg alpha(@osd_base, 0.80);

@define-color osd_text_shadow alpha(black, 0.75);

@define-color osd_toolbar_bg_a alpha(@osd_base, 0.80);
@define-color osd_toolbar_bg_b alpha(#101010, 0.80);
@define-color osd_toolbar_bg_c alpha(shade(@osd_base, 1.02), 0.80);

@define-color osd_button_bg_a alpha(@osd_highlight, 0.16);
@define-color osd_button_bg_b alpha(@osd_lowlight, 0.05);
@define-color osd_button_bg_c alpha(@osd_highlight, 0.12);

@define-color osd_button_bg_insensitive alpha(@osd_highlight, 0.25);
@define-color osd_button_bg_insensitive_active alpha(@osd_highlight, 0.16);

@define-color osd_button_bg_hover_a alpha(@osd_highlight, 0.28);
@define-color osd_button_bg_hover_b alpha(@osd_lowlight, 0.14);
@define-color osd_button_bg_hover_c alpha(@osd_highlight, 0.14);

@define-color osd_button_bg_active_a alpha(@osd_lowlight, 0.18);
@define-color osd_button_bg_active_b alpha(@osd_highlight, 0.23);
@define-color osd_button_bg_active_c alpha(@osd_lowlight, 0.17);

@define-color osd_button_fg shade(@osd_fg, 0.80);
@define-color osd_button_fg_hover shade(@osd_fg, 0.96);
@define-color osd_button_fg_active shade(@osd_fg, 1.10);
@define-color osd_button_fg_insensitive shade(@osd_fg, 0.70);

@define-color osd_button_border alpha(@osd_highlight, 0.40);
@define-color osd_button_inset shade(@osd_fg, 0.67);
@define-color osd_button_shadow alpha(black, 0.35);

@define-color osd_trough_bg alpha(@osd_button_fg, 0.10);


* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #000060;
    -GtkIMHtml-hyperlink-visited-color: #600000;
    -GtkIMHtml-hyperlink-prelight-color: #404080;

    /* Evolution */
    -GtkHTML-link-color: #000060;
    -GtkHTML-vlink-color: #600000;
    -GtkHTML-cite-color: #003000;

    -GtkWidget-link-color: @theme_highlight_color;
    -GtkWidget-visited-link-color: #ff80ff;
}

@import url("gtk-widgets.css");
@import url("mate-applications.css");
