/*************
 * rhythmbox *
 *************/

.primary-toolbar.toolbar.horizontal RBHeader.horizontal button.scale.flat,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal button.scale.flat:hover,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal button.scale.flat:hover:active {
	padding: 0px 4px;
}

/********
 * Nemo *
 ********/

/* workaround for broken first/last-child logic with linked buttons
   in pathbar with gtk+-3.18 */
NemoPathBar:dir(ltr).raised.linked button.text-button,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active,
NemoPathBar:dir(ltr).raised.linked button.text-button:active,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active,
NemoPathBar:dir(ltr).raised.linked button.text-button:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:active:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active:first-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:active:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active:last-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:hover:active:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:active:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:only-child,
NemoPathBar:dir(ltr).raised.linked button.text-button:checked:hover:active:only-child {
	border-right-width: 2px;
	border-left-width: 2px;
	border-radius: 4px;
}

