/* default color scheme */
@define-color bg_color #CBD9D4;
@define-color fg_color #101010;
@define-color base_color #FFF;
@define-color text_color #1A1A1A;
@define-color selected_bg_color #72B49D;
@define-color selected_fg_color #FFF;
@define-color tooltip_bg_color #DBFFF3;
@define-color tooltip_fg_color #000;

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #00CC85;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (@theme_bg_color, 1.06);
@define-color button_insensitive_bg_color shade (@theme_bg_color, 0.95);
@define-color insensitive_fg_color shade(@bg_color, 0.70);
@define-color insensitive_border_color shade(@bg_color, 0.80);
@define-color dark_bg_color #1F2724;
@define-color dark_fg_color #E6E6E6;
@define-color transparent rgba (0, 0, 0, 0);

@define-color button_base shade(@theme_bg_color, 1.15);
@define-color button_gradient1 shade(@button_base, 0.98);
@define-color button_gradient2 shade(@button_base, 0.95);
@define-color button_gradient3 shade(@button_base, 0.92);
@define-color button_gradient4 shade(@button_base, 0.89);
@define-color button_bg_active shade(@theme_selected_bg_color, 1.00);
@define-color button_border shade(@theme_bg_color, 0.70);
@define-color button_border_active shade(@button_bg_active, 0.95);

@define-color backdrop_selected_bg_color shade (@theme_selected_bg_color, 1.12);
@define-color backdrop_selected_fg_color @theme_selected_fg_color;

/* Zukitwo colors */
@define-color toolbar_gradient_base #CBD9D4;
@define-color toolbar_gradient_final #C0CEC9;
@define-color toolbar_border #BBC9C4;
@define-color menubar_color @dark_bg_color;

/* WM colors */
@define-color wm_title @dark_fg_color;
@define-color wm_highlight shade (@menubar_color, 1.5);
@define-color wm_title_highlight shade (@menubar_color, 1.5);

@define-color wm_bg_a shade (@menubar_color, 1.4);
@define-color wm_bg_b @menubar_color;

@import url("gtk-widgets.css");
@import url("apps/gedit.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-terminal.css");
@import url("apps/nautilus.css");
@import url("apps/nemo.css");
@import url("apps/unity.css");
@import url("apps/popover.css");
@import url("apps/epiphany.css");
