/*********************
 * CAJA File manager *
 *********************/

/**** View ***/

/* Look out !
FIXME This is the background color of caja view */

CajaView .entry {
    background-color: shade(@base_color, 1.0);
}

/* FIXME 
CajaView .view {
	background-color: shade (@theme_bg_color, 1.08);
	color: @theme_fg_color;
}
*/

.caja-inactive-pane .view {
	background-color: shade(@less_dark_color, 1.3);
}

/* file renaming */
/*CajaView .view .entry,
CajaView .view .entry:focus {
	background-image: none;
	border-image: none;
	border-style: solid;
	border-radius: 1px;
	border-color: @theme_selected_bg_color;
	background-color: shade(@theme_selected_bg_color, 0.3);
}
*/
/**** Window ***/

/*FIXME normaly this isn't the right entry for adjusting
the sidebar background color*/
CajaWindow .view {
	background-color: shade (@theme_bg_color, 1.08);
}

/* the small line between sidebar and view */
CajaWindow * {
    -GtkPaned-handle-size: 2px;
}

/* disabled, looks uggly
CajaWindow > GtkTable > .pane-separator,
CajaWindow .pane-separator {
    background-color: @sidebar_background;
    background-image: -gtk-gradient (linear,
                                     left top, right top,
                                     from (@sidebar_background),
                                     color-stop(0.50, @sidebar_background),
                                     to   (shade(@theme_bg_color, 0.60)));
    border-style: solid;
    border-width: 0px;
    border-color: @sidebar_background;
    border-image: none;
}*/

CajaWindow .sidebar .scrollbar {
	background-image: none;
	border-style: solid;
    -GtkRange-stepper-size: 16;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;
	-GtkRange-arrow-scaling: 0.666;
	-GtkRange-slider-width: 13;
	-GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
	-GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-min-slider-length: 31;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
}

CajaWindow .sidebar .scrollbar.trough,
CajaWindow .sidebar .scrollbar.trough.vertical {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.98)),
		to (shade (@theme_bg_color, 1.06)));
	border-radius: 0;
	border-width: 0 0 0 0;
	border-style: solid;
	border-right-color: shade (@theme_bg_color, 0.96);
	border-left-color: shade (@theme_bg_color, 0.96);
}

/* selected item in sidebar */
/* FIXME caja ignore .sidebar calls */
CajaWindow .view row:selected,
CajaWindow .view row:selected:hover {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@sidebar_selected_bg, 0.90)),
                                     color-stop (0.40, shade (@sidebar_selected_bg, 0.98)),
                                     to (shade(@sidebar_selected_bg, 1.05)));
    color:  @theme_selected_fg_color;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: shade (@sidebar_selected_bg, 0.90) #bbb shade (@sidebar_selected_bg, 1.05);
    text-shadow: none;
}

/* mouse hover item in sidebar */
/* FIXME caja ignore .sidebar calls */
CajaWindow .view row:hover {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     color-stop (0.40, shade (@theme_bg_color, 1.13)),
                                     to (shade(@theme_bg_color, 1.10)));
    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.0),
                inset  1px  0px shade (@theme_selected_bg_color, 1.0),
                inset -1px  0px shade (@theme_selected_bg_color, 1.0),
                inset  0px -1px shade (@theme_selected_bg_color, 1.0);
    color: shade (@theme_fg_color, 0.90);
    border-radius: 6px;
    text-shadow: none;
}

/* shadows and borders looks strange in list view */
CajaWindow GtkTreeView row:nth-child(odd):hover,
CajaWindow GtkTreeView row:nth-child(even):hover,
CajaWindow GtkTreeView row:nth-child(odd):selected,
CajaWindow GtkTreeView row:nth-child(even):selected,
CajaWindow GtkTreeView row:nth-child(odd):selected:hover,
CajaWindow GtkTreeView row:nth-child(even):selected:hover {
    box-shadow:none;
    border-radius: 0px;
}

CajaSearchBar.info {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@toolbar_gradient_base, 0.89)),
                                     color-stop (0.20, shade(@toolbar_gradient_base, 0.97)),
                                     to   (shade(@toolbar_gradient_base, 1.01)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: alpha(#000, 0.00) @toolbar_gradient_base shade(@toolbar_gradient_base, 0.75);

    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
    color: @toolbar_fg_color;
}

.info,
.question,
CajaTrashBar.info,
CajaXContentBar.info,
CajaQueryEditor.info {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     to   (shade(@nautilus_cluebar_color, 1.00)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: transparent @nautilus_cluebar_color shade(@nautilus_cluebar_color, 0.75);

    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);

}

CajaSearchBar .entry {

    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.05),
                inset  2px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
				inset  0px  1px shade(@toolbar_gradient_base, 0.70),
                inset  1px  0px shade(@toolbar_gradient_base, 0.80),
                inset -1px  0px shade(@toolbar_gradient_base, 0.80),
                inset  0px -1px shade(@toolbar_gradient_base, 0.90);
}

CajaSearchBar .entry:focused {
    /* Like the normal inputl */
}

CajaSearchBar .entry,
CajaSearchBar .entry:focused {
    -GtkEntry-inner-border: 1;
}

CajaSearchBar .entry.image {
    color: shade(@nautilus_cluebar_color, 0.60);
}

CajaSearchBar GtkLabel {
    color: @toolbar_fg_color;
   	text-shadow: 0 1px @toolbar_shadow_color;
}

.info
.caja-cluebar-label {
    font: bold;
    color: shade(@theme_fg_color, 1.00);
	text-shadow: 0 1px @theme_shadow_color;
}

.question .button,
.question .button:hover,
CajaTrashBar .button,
CajaTrashBar .button:hover {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));

    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
				inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);

	color: shade(@theme_fg_color, 1.00);
	text-shadow: 0px 1px @theme_shadow_color;
}

.question .button:active,
.question .button:hover:active,
CajaTrashBar .button:active,
CajaTrashBar .button:hover:active {
/* .button:hover:active */
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.91)),
                                     to   (shade(@nautilus_cluebar_color, 0.87)));
	/* outer */
    border-top-color: 		alpha(@focused_entry_border, 0.20);
    border-right-color: 	alpha(@focused_entry_border, 0.25);
    border-left-color: 		alpha(@focused_entry_border, 0.25);
    border-bottom-color: 	alpha(#fff, 0.10);

    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
				inset  0px  1px shade(@nautilus_cluebar_color, 0.75),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.55);
}

.question .button *:active,
.question .button *:hover:active,
CajaTrashBar .button *:active,
CajaTrashBar .button *:hover:active {
	color: shade(@theme_text_color, 1.00);
	text-shadow: 0px 1px @theme_shadow_color;
}

.question .button:insensitive,
CajaTrashBar .button:insensitive {
/* .button:hover:active */

	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.90)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.88)),
				                     to   (shade(@nautilus_cluebar_color, 0.89)));

    box-shadow: inset  0px  1px shade(@nautilus_cluebar_color, 0.85),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.78);
}

.question .button *:insensitive,
CajaTrashBar .button *:insensitive {
	color: mix(@nautilus_cluebar_color, @theme_fg_color, 0.50);
	text-shadow: none;
}

CajaWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;
	
}

CajaSearchBar,
CajaSearchBar *,
CajaWindow .primary-toolbar.toolbar .button * {
	padding: 0px;
}

CajaSearchBar .entry {
	padding: 2px 8px;
    border-width: 0px;
    border-radius: 4px;
}

CajaWindow .primary-toolbar.toolbar .entry {
    padding: 3px 8px;
}

CajaWindow .primary-toolbar.toolbar .button,
CajaWindow .primary-toolbar.toolbar .button:active,
CajaWindow .primary-toolbar.toolbar .button:hover,
CajaWindow .primary-toolbar.toolbar .button:hover:active {       
	padding: 0px 4px;
    border-image: none;
    border-width: 1px;
    border-radius: 5px;
	border-color: transparent;
}

CajaWindow .primary-toolbar.toolbar CajaPathbarButton {
	padding: 0px 0px 0px 3px;
    border-image: 	none;
	border-style: solid;
    border-radius: 0px;
    border-width: 0px;
	border-color: transparent;

}

CajaWindow .primary-toolbar.toolbar CajaPathbarButton {
    background-image: -gtk-gradient (linear,
						left top, left bottom,
						from (@button_raised_gradient_color_a),
						to   (@button_raised_gradient_color_b));

    border-width: 0px;

  	border-color: shade(@theme_button_border_dark, 1.00); 
	/* inset */
    box-shadow: inset  0px  1px alpha(#fff, 0.09),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);

	color: shade(@theme_fg_dark_color, 0.90);

}

CajaWindow .primary-toolbar.toolbar CajaPathbarButton * {
	color: shade(@theme_text_dark_color, 1.00);
	text-shadow: 0px 1px @theme_shadow_dark_color;
}

CajaWindow .primary-toolbar.toolbar CajaPathbarButton *:hover {
	color: shade(@theme_text_dark_color, 1.00);
}

CajaWindow .primary-toolbar.toolbar CajaPathbarButton:active {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                     from (shade(@button_raised_gradient_color_b, 0.90)),
                     to   (shade(@button_raised_gradient_color_a, 0.80)));

	border-image: 			none;
    border-color: 		shade(@theme_button_border_dark, 0.92);

    box-shadow: inset  0px  3px alpha(#000, 0.01),
				inset  0px  2px alpha(#000, 0.03),
				inset  0px  1px alpha(#000, 0.04),
                inset  2px  0px alpha(#000, 0.02),
                inset  1px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.02),
                inset -1px  0px alpha(#000, 0.04),
                inset  0px -1px alpha(#000, 0.03);

}

CajaWindow .primary-toolbar.toolbar CajaPathbarButton *:active,
CajaWindow .primary-toolbar.toolbar CajaPathbarButton *:hover:active {
    font: bold;
	color: shade(@theme_text_dark_color, 1.00);
	text-shadow: 1px 1px @theme_shadow_dark_color;

}

CajaWindow .primary-toolbar .toolbar .button:active,
CajaWindow .primary-toolbar.toolbar .button:active,
CajaWindow .primary-toolbar .toolbar .button:active:hover,
CajaWindow .primary-toolbar.toolbar .button:active:hover {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                     from (shade(@button_raised_gradient_color_b, 0.90)),
                     to   (shade(@button_raised_gradient_color_a, 0.80)));

    border-width: 1px;
    border-style: solid; 
    border-radius: 5px;
	border-image: 			none;
    border-top-color: 		transparent;
    border-left-color: 		alpha (#fff, 0.01);
    border-right-color: 	alpha (#fff, 0.01);
    border-bottom-color: 	alpha (#fff, 0.05);

	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
	box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3);
}

CajaWindow .primary-toolbar .toolbar .button:hover,
CajaWindow .primary-toolbar.toolbar .button:hover {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (shade (@theme_bg_dark_color, 1.00), 0.0)),
			         color-stop (0.50, shade (@theme_bg_dark_color, 0.83) ),
				     to   (alpha (shade (@theme_bg_dark_color, 0.91), 0.0))); 

	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
	box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3);
}

/* buttons toolbar caja */
CajaWindow .toolbar .button GtkImage:active,
CajaWindow .toolbar .button GtkImage:active:hover,
CajaWindow .toolbar .button GtkImage:hover,
CajaWindow .toolbar .button GtkImage {
    color: @theme_fg_color;
}

CajaWindow .primary-toolbar.toolbar .button GtkImage {
    color: @theme_fg_dark_color;
}

/* Caja places bar */
CajaWindow .button.flat {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);
    padding: 2px 5px;
}

CajaWindow .button.flat:hover {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
    padding: 2px 5px;
}

.caja-canvas-item {
    border-radius: 3px;
}

/* desktop mode */
.caja-desktop.caja-canvas-item {
    color: white;
    text-shadow: 1px 1px black;
}

.caja-desktop.caja-canvas-item:active {
    background-image: none;
    color: @theme_text_color;
}

.caja-desktop.caja-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.caja-desktop.caja-canvas-item:active,
.caja-desktop.caja-canvas-item:prelight,
.caja-desktop.caja-canvas-item:selected {
    text-shadow: none;
}

/****************
 * Mate-Panel *
 ****************/

/* the panel bar itself */
.mate-panel-menu-bar,
MatePanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
MatePanelAppletFrameDBus,
MatePanelAppletContainer,
MatePanelApplet {
    background-image: none;
    background-color: @theme_bg_dark_color;
    padding: 0;
    color: @theme_fg_color;
    text-shadow: none;
}

MatePanelApplet {
    border-width: 0;
}

PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_dark_color, 1.03)),
                                     to (shade (@theme_bg_dark_color, 0.95)));
    color: shade (@theme_fg_dark_color, 0.45);
    text-shadow: none;
}

/* prelight of WnckPager */
MatePanelApplet *:hover {
    background-image: linear-gradient(to bottom,
                                      @theme_bg_color,
                                      shade (@theme_selected_bg_color, 0.86));
    background-color: @theme_base_color;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */

MatePanelApplet .button,
MatePanelApplet .button.flat {
    background-image: none;
    background-color: @theme_bg_dark_color;
    border-color: shade (@theme_selected_bg_color, 1.30);
    border-radius: 5px;
    border-width: 0 0 0 0;
    color: shade (@theme_text_dark_color, 0.65);
    text-shadow: none;
    padding: 2px;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px @theme_bg_dark_color,
                inset  1px  0px @theme_bg_dark_color,
                inset -1px  0px @theme_bg_dark_color,
                inset  0px -1px @theme_bg_dark_color;
}

MatePanelApplet .button:active:hover,
MatePanelApplet .button:active,
MatePanelApplet .button.flat:active:hover,
MatePanelApplet .button.flat:active {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 0.70);
    border-radius: 5px;
    border-width: 0 0 0 0;
    color: shade (@theme_text_dark_color, 0.90);
    text-shadow: none;
    padding: 2px;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px shade (@theme_selected_bg_color, 0.90),
                inset  1px  0px shade (@theme_selected_bg_color, 0.90),
                inset -1px  0px shade (@theme_selected_bg_color, 0.90),
                inset  0px -1px shade (@theme_selected_bg_color, 0.90);
}

MatePanelApplet .button:hover,
MatePanelApplet .button.flat:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 1.10);
    border-radius: 5px;
    border-width: 0 0 0 0;
    color: @tooltip_fg_color;
    text-shadow: none;
    padding: 2px;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px shade (@theme_selected_bg_color, 1.30),
                inset  1px  0px shade (@theme_selected_bg_color, 1.30),
                inset -1px  0px shade (@theme_selected_bg_color, 1.30),
                inset  0px -1px shade (@theme_selected_bg_color, 1.30);
}

/*Wncklist */

WnckTasklist .button,
WnckTasklist .button.flat {
    background-image: none;
    background-color: @theme_bg_dark_color;
    border-color: @theme_bg_dark_color;
    border-radius: 0;
    border-width: 0 0 0 0;
    color: shade (@theme_text_dark_color, 0.65);
    text-shadow: none;
    padding: 2px;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px @theme_bg_dark_color,
                inset  1px  0px @theme_bg_dark_color,
                inset -1px  0px @theme_bg_dark_color,
                inset  0px -1px @theme_bg_dark_color;
}

WnckTasklist .button:active:hover,
WnckTasklist .button:active,
WnckTasklist .button.flat:active:hover,
WnckTasklist .button.flat:active {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 0.70);
    border-radius: 5px;
    border-width: 0 0 0 0;
    color: shade (@theme_text_dark_color, 0.90);
    text-shadow: none;
    padding: 2px;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px shade (@theme_selected_bg_color, 0.90),
                inset  1px  0px shade (@theme_selected_bg_color, 0.90),
                inset -1px  0px shade (@theme_selected_bg_color, 0.90),
                inset  0px -1px shade (@theme_selected_bg_color, 0.90);
}

WnckTasklist .button:hover,
WnckTasklist .button.flat:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 1.10);
    border-radius: 5px;
    border-width: 0 0 0 0;
    color: @tooltip_fg_color;
    text-shadow: none;
    padding: 2px;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px shade (@theme_selected_bg_color, 1.30),
                inset  1px  0px shade (@theme_selected_bg_color, 1.30),
                inset -1px  0px shade (@theme_selected_bg_color, 1.30),
                inset  0px -1px shade (@theme_selected_bg_color, 1.30);
}

/* set normal button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem,
MatePanelApplet > WnckSelector.menubar .menuitem {
    background-image: none;
    background-color: @theme_bg_dark_color;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
}

/* set selected button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menuitem:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 0.70);
    border-radius: 5px;
    border-width: 0 0 0 0;
    color: shade (@theme_text_dark_color, 0.90);
    text-shadow: none;
/* needed to override general button settings */
    box-shadow: inset  0px  2px @theme_bg_dark_color,
                inset  2px  0px @theme_bg_dark_color,
                inset -2px  0px @theme_bg_dark_color,
                inset  0px -2px @theme_bg_dark_color,
				inset  0px  1px shade (@theme_selected_bg_color, 0.90),
                inset  1px  0px shade (@theme_selected_bg_color, 0.90),
                inset -1px  0px shade (@theme_selected_bg_color, 0.90),
                inset  0px -1px shade (@theme_selected_bg_color, 0.90);
}

/* set WnckSelector selected menuitem */
.mate-panel-window-menu-menu-bar .menu .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menu .menuitem:hover {
    background-color: shade (@theme_bg_dark_color, 1.2);
    color: shade (@theme_selected_bg_color, 1.3);
    background-image: none;
    border-radius: 6px;
    text-shadow: none;
    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3);
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
    font: normal;
}

WnckPager {
    background-image: none;
    border-color: transparent;
    background-color: shade (@terminal_background_color, 1.15);
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

/* Makes the text color on the light panel black */
/*.mate-panel-menu-bar .menuitem {
    color: @theme_fg_color;
    text-shadow: none;
}*/


/****************
 * Mate-terminal *
 ****************/

/* Background mate-terminal, this isn't the normal way to style that! */
TerminalWindow .entry {
    -TerminalWindow-background-darkness: 0.95;
    background-color: @terminal_background_color;
    color: @selected_fg_color;
}

TerminalWindow .grip {
    background-color: shade (@theme_bg_color, 1.0);
	background-image: url("assets/resize-grip.svg");
	-GtkWindow-resize-grip-default: true;
	-GtkWindow-resize-grip-width: 13;
	-GtkWindow-resize-grip-height: 13;
}

/****************
 * Pluma        *
 ****************/

/* pluma line numbers */

PlumaView {
    background-color: shade (@bg_color, 1.07);
}

/* Pluma status bar */
PlumaWindow .button.flat {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);
    border-radius: 8px;
    padding: 2px 5px;
}

PlumaWindow .button.flat:hover {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
    border-radius: 8px;
    padding: 2px 5px;
}

/* surpress styling of close button */
PlumaWindow .notebook tab .button.flat,
PlumaWindow .notebook tab .button.flat:hover {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255,255,255,0), 0 1px rgba(255,255,255,0);
    text-shadow: none;
    icon-shadow: none;
    border-image: none;
}

/***********************
 * Mate-Control-Center *
 ***********************/

ShellWindow .button.flat {
    border-image: none;
}

/* button hover of applications */
ShellWindow GtkScrolledWindow .button.flat:hover {
    border-radius: 12px;
}

