/*********************
 * CAJA File manager *
 *********************/

/**** Window ***/

/* background of all views */
CajaNavigationWindow .view {
    background-color: shade (@base_color, 1.0);
    color: @theme_fg_color;
}

/* since gtk+-3.18 */
CajaNavigationWindow FMListView .view {
    background-color: shade (@base_color, 1.0);
}

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaEmblemSidebar .frame,
CajaWindow CajaInformationPanel .vertical {
    background-color: shade (@theme_bg_color, 1.08);
}

/* the small line between sidebar and view */
CajaWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-color: transparent;
}

CajaWindow FMTreeView.frame,
CajaWindow CajaPlacesSidebar.frame,
CajaWindow CajaHistorySidebar.frame,
CajaWindow CajaNotesViewer.frame {
    border-width: 1px 1px 0px 0px;
}

CajaWindow CajaEmblemSidebar.vertical .frame,
CajaWindow CajaInformationPanel .vertical {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: @notebook_border;
}

CajaWindow CajaEmblemSidebar.vertical .frame {
    border-width: 1px 0px 0px 0px;
}

CajaWindow CajaInformationPanel CajaSidebarTitle.vertical{
    border-width: 0px 1px 0px 0px;
}

CajaWindow CajaInformationPanel CajaKeepLastVerticalBox.vertical {
    border-style: none;
}

CajaWindow FMTreeView .scrollbar,
CajaWindow CajaNotesViewer .scrollbar,
CajaWindow CajaPlacesSidebar .scrollbar,
CajaWindow CajaHistorySidebar .scrollbar,
CajaWindow CajaEmblemSidebar .scrollbar {
    background-image: none;
    border-style: solid;
    -GtkRange-stepper-size: 16;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;
    -GtkRange-arrow-scaling: 0.666;
    -GtkRange-slider-width: 13;
    -GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-min-slider-length: 31;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
}

CajaWindow FMTreeView .scrollbar.trough,
CajaWindow CajaNotesViewer .scrollbar.trough,
CajaWindow CajaPlacesSidebar .scrollbar.trough,
CajaWindow CajaHistorySidebar .scrollbar.trough,
CajaWindow CajaEmblemSidebar .scrollbar.trough,
CajaWindow FMTreeView .scrollbar.trough.vertical,
CajaWindow CajaNotesViewer .scrollbar.trough.vertical,
CajaWindow CajaPlacesSidebar .scrollbar.trough.vertical,
CajaWindow CajaHistorySidebar .scrollbar.trough.vertical,
CajaWindow CajaEmblemSidebar .scrollbar.trough.vertical {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                    from (shade (@theme_bg_color, 0.98)),
                                    to (shade (@theme_bg_color, 1.06)));
    border-radius: 0;
    border-width: 0 0 0 0;
    border-style: solid;
    border-right-color: shade (@theme_bg_color, 0.96);
    border-left-color: shade (@theme_bg_color, 0.96);
}

/* selected item in sidebar */
CajaWindow FMTreeView .view row:selected,
CajaWindow CajaPlacesSidebar .view row:selected,
CajaWindow CajaHistorySidebar .view row:selected,
CajaWindow FMTreeView .view row:selected:hover,
CajaWindow CajaPlacesSidebar .view row:selected:hover,
CajaWindow CajaHistorySidebar .view row:selected:hover {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@sidebar_selected_bg, 0.90)),
                                     color-stop (0.40, shade (@sidebar_selected_bg, 0.98)),
                                     to (shade(@sidebar_selected_bg, 1.05)));
    color:  @theme_selected_fg_color;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: shade (@sidebar_selected_bg, 0.90) #bbb shade (@sidebar_selected_bg, 1.05);
    text-shadow: none;
}

/* mouse hover item in sidebar */
CajaWindow FMTreeView .view row:hover,
CajaWindow CajaPlacesSidebar .view row:hover,
CajaWindow CajaHistorySidebar .view row:hover {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     color-stop (0.40, shade (@theme_bg_color, 1.13)),
                                     to (shade(@theme_bg_color, 1.10)));
    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.0),
                inset  1px  0px shade (@theme_selected_bg_color, 1.0),
                inset -1px  0px shade (@theme_selected_bg_color, 1.0),
                inset  0px -1px shade (@theme_selected_bg_color, 1.0);
    color: shade (@theme_fg_color, 0.90);
    border-radius: 6px;
    text-shadow: none;
}

/* shadows and borders looks strange in list view */
CajaWindow GtkTreeView row:nth-child(odd):hover,
CajaWindow GtkTreeView row:nth-child(even):hover,
CajaWindow GtkTreeView row:nth-child(odd):selected,
CajaWindow GtkTreeView row:nth-child(even):selected,
CajaWindow GtkTreeView row:nth-child(odd):selected:hover,
CajaWindow GtkTreeView row:nth-child(even):selected:hover {
    box-shadow:none;
    border-radius: 0px;
}

/* moved eject button to left better for overlay scrollbars */
CajaWindow CajaPlacesSidebar .view row {
    padding: 0px 4px 0px 0px;
}

/* Caja places bar */
CajaNavigationWindow CajaSidePane .button.flat {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_gradient1),
                                     to   (@button_gradient4));
    padding: 7px 5px;
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

CajaNavigationWindow CajaSidePane .button.flat:first-child {
    border-radius: 6px 0 0 6px;
    border-right-width: 0;
/* remove left shadow */
    box-shadow: inset  0px  2px alpha(#fff, 0.11),
                inset  2px  0px alpha(#fff, 0.09),
                inset -2px  0px rgba(255,255,255,0), 0 1px rgba(255,255,255,0),
                inset  0px -2px alpha(#fff, 0.07),
                inset  0px  1px alpha(shade(@button_border, 1.00), 0.70),
                inset  1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset -1px  0px rgba(255,255,255,0), 0 1px rgba(255,255,255,0),
                inset  0px -1px alpha(shade(@button_border, 0.88), 0.90);
}

CajaNavigationWindow CajaSidePane .button.flat:last-child {
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
    border-left-color: @theme_bg_color;
    box-shadow: inset  0px  2px alpha(#fff, 0.11),
                inset  2px  0px alpha(#fff, 0.09),
                inset -2px  0px alpha(#fff, 0.09),
                inset  0px -2px alpha(#fff, 0.07),
                inset  0px  1px alpha(shade(@button_border, 1.00), 0.70),
                inset  1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset -1px  0px alpha(shade(@button_border, 0.94), 0.80),
                inset  0px -1px alpha(shade(@button_border, 0.88), 0.90);
}

CajaNavigationWindow CajaSidePane .button.flat:hover:first-child,
CajaNavigationWindow CajaSidePane .button.flat:checked:checked:first-child,
CajaNavigationWindow CajaSidePane .button.flat:hover:last-child,
CajaNavigationWindow CajaSidePane .button.flat:checked:checked:last-child {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_color, 1.20)),
                                     color-stop (0.50, shade (@theme_bg_color, 1.00)),
                                     color-stop (0.50, shade (@theme_bg_color, 0.95)),
                                     to (shade (@theme_bg_color, 0.80)));
}

CajaNavigationWindow CajaSidePane .button.flat:hover:first-child,
CajaNavigationWindow CajaSidePane .button.flat:checked:checked:first-child {
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px rgba(255,255,255,0), 0 1px rgba(255,255,255,0),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

CajaNavigationWindow CajaSidePane .button.flat:hover:last-child,
CajaNavigationWindow CajaSidePane .button.flat:checked:checked:last-child {
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* pathpar toggle button */
CajaNavigationWindow .button.image-button {
    padding: 5px 6px;
}

/* pathbar buttons */
CajaPathBar .button,
CajaPathBar .button:hover,
CajaPathBar .button:checked {
    border-image: none;
    padding: 5px 6px;
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 5px;
    border-color: transparent;
}

CajaSearchBar .entry,
CajaLocationBar .entry {
    padding: 7px 4px;
}

CajaSearchBar .entry,
CajaSearchBar .entry:focus,
CajaLocationBar .entry,
CajaLocationBar .entry:focus {
    -GtkEntry-inner-border: 1;
}

CajaSearchBar .entry {
    box-shadow: inset  0px  3px alpha(#000, 0.03),
                inset  0px  2px alpha(#000, 0.05),
                inset  2px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
                inset  0px  1px shade(@toolbar_gradient_base, 0.70),
                inset  1px  0px shade(@toolbar_gradient_base, 0.80),
                inset -1px  0px shade(@toolbar_gradient_base, 0.80),
                inset  0px -1px shade(@toolbar_gradient_base, 0.90);
}

/* search/clean icon */
CajaSearchBar .entry.image,
CajaLocationBar .entry.image {
    padding: 0px 0px 0px 4px;
}

CajaSearchBar .entry,
CajaLocationBar .entry {
    border-style: none;
    box-shadow: inset  0px  1px shade (@theme_bg_color, 0.80),
                inset  1px  0px shade (@theme_bg_color, 0.80),
                inset -1px  0px shade (@theme_bg_color, 0.80),
                inset  0px -1px shade (@theme_bg_color, 0.80);
}

CajaSearchBar .entry:focus,
CajaLocationBar .entry:focus {
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* eventbars, ie. searchbar */
CajaNotebook .frame GtkEventBox {
    background-color: shade (@theme_bg_color, 1.05);
    border-color: @notebook_border;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

/* what's that ? *//*
CajaSearchBar.info {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@toolbar_gradient_base, 0.89)),
                                     color-stop (0.20, shade(@toolbar_gradient_base, 0.97)),
                                     to   (shade(@toolbar_gradient_base, 1.01)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: alpha(#000, 0.00) @toolbar_gradient_base shade(@toolbar_gradient_base, 0.75);
    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
    color: @toolbar_fg_color;
}*/
/*
.info,
.question,
CajaTrashBar.info,
CajaXContentBar.info,
CajaQueryEditor.info {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     to   (shade(@nautilus_cluebar_color, 1.00)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: transparent @nautilus_cluebar_color shade(@nautilus_cluebar_color, 0.75);
    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
}

.info
.caja-cluebar-label {
    font: bold;
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0 1px @theme_shadow_color;
}

.question .button,
.question .button:hover,
CajaTrashBar .button,
CajaTrashBar .button:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

.question .button:active,
.question .button:active:hover,
CajaTrashBar .button:active,
CajaTrashBar .button:active:hover,
.question .button:checked,
.question .button:checked:hover,
CajaTrashBar .button:checked,
CajaTrashBar .button:checked:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.91)),
                                     to   (shade(@nautilus_cluebar_color, 0.87)));
   *//* outer *//*
    border-top-color: alpha(@focused_entry_border, 0.20);
    border-right-color: alpha(@focused_entry_border, 0.25);
    border-left-color: alpha(@focused_entry_border, 0.25);
    border-bottom-color: alpha(#fff, 0.10);
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.75),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.55);
}

.question .button *:active,
.question .button *:active:hover,
CajaTrashBar .button *:active,
CajaTrashBar .button *:active:hover,
.question .button *:checked,
.question .button *:checked:hover,
CajaTrashBar .button *:checked,
CajaTrashBar .button *:checked:hover {
    color: shade(@theme_text_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

.question .button:insensitive,
CajaTrashBar .button:insensitive {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.90)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.88)),
                                     to (shade(@nautilus_cluebar_color, 0.89)));
    box-shadow: inset  0px  1px shade(@nautilus_cluebar_color, 0.85),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.78);
}

.question .button *:insensitive,
CajaTrashBar .button *:insensitive {
    color: mix(@nautilus_cluebar_color, @theme_fg_color, 0.50);
    text-shadow: none;
}
*/
CajaQueryEditor.vertical .vertical .horizontal .button,
CajaQueryEditor.vertical .vertical .horizontal .button:hover {
    padding: 4px 6px;
}


CajaQueryEditor.vertical .vertical .horizontal .text-button,
CajaQueryEditor.vertical .vertical .horizontal .text-button:hover {
    padding: 6px;
}

CajaQueryEditor.vertical .vertical .horizontal .button.flat,
CajaQueryEditor.vertical .vertical .horizontal .button.flat:hover {
    border-radius: 5px;
    padding: 0px 6px;
}

/* primary-toolbar */
CajaWindow .primary-toolbar.toolbar .button.image-button,
CajaWindow .primary-toolbar.toolbar .button.image-button:hover,
CajaWindow .primary-toolbar.toolbar .button.image-button:checked,
CajaWindow .primary-toolbar.toolbar .button.image-button:active:hover,
CajaWindow .primary-toolbar.toolbar .button.image-button:checked:hover {
    padding: 3px 4px;
    border-image: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: transparent;
}

CajaWindow .primary-toolbar.toolbar .button.image-button:hover,
CajaWindow .primary-toolbar.toolbar .button.image-button:hover:active,
CajaWindow .primary-toolbar.toolbar .button.image-button:checked,
CajaWindow .primary-toolbar.toolbar .button.image-button:checked:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* some overrides for button.flat */
/* zoom button */
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat {
    background-color: transparent;
    background-image: none;
    border-image: none;
    box-shadow: none;
}

CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat,
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:hover,
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:hover:active {
    border-radius: 0px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    padding: 0px 4px;
}

CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:first-child,
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:first-child:hover,
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:first-child:hover:active {
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    padding: 0px 5px;
}

CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:last-child,
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:last-child:hover,
CajaWindow .primary-toolbar.toolbar CajaZoomControl .button.flat:last-child:hover:active {
    border-radius: 0px  5px 5px 0px;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    padding: 0px 5px;
}

/* ComboBox views */
CajaWindow .primary-toolbar.toolbar GtkComboBox .button,
CajaWindow .primary-toolbar.toolbar GtkComboBox .button:hover,
CajaWindow .primary-toolbar.toolbar GtkComboBox .button:active,
CajaWindow .primary-toolbar.toolbar GtkComboBox .button:checked,
CajaWindow .primary-toolbar.toolbar GtkComboBox .button:active:hover,
CajaWindow .primary-toolbar.toolbar GtkComboBox .button:checked:hover {
    padding: 7px 0px 7px 3px;
}

/* fix for menu transition */ 
CajaWindow .primary-toolbar.toolbar GtkComboBox .menuitem {
    background: transparent;
}

CajaWindow .primary-toolbar.toolbar GtkComboBox .menuitem:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
}

/* navigation buttons */
CajaWindow .primary-toolbar.toolbar GtkMenuToolButton .button.image-button,
CajaWindow .primary-toolbar.toolbar GtkMenuToolButton .button.image-button:hover,
CajaWindow .primary-toolbar.toolbar GtkMenuToolButton .button.image-button:hover:active {
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
}

/* navigation dropdown-menu buttons */
CajaWindow .primary-toolbar.toolbar .button.menu-button {
    border-radius: 0px  5px 5px 0px;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
}

CajaWindow .primary-toolbar.toolbar .button.menu-button .menuitem {
    background: transparent;
}

CajaWindow .primary-toolbar.toolbar .button.menu-button .menuitem:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* properties-dialog emblem page */
FMPropertiesWindow .vertical.dialog-vbox .notebook GtkViewport {
    background-color: @theme_notebook_color;
}

/* tab styling */
CajaNavigationWindow CajaNotebook.notebook {
    border-style: none;
    -GtkNotebook-tab-overlap: 1;
}

CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical tab.top,
CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical tab.top:active,
CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical tab.top:active:hover,
CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical tab.reorderable-page,
CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical tab.reorderable-page:hover {
    border-radius: 4px 4px 0px 0px;
    border-width: 1px 1px 0px 1px;
    border-color: @notebook_border;
    border-style: solid;
    padding: 3px 4px;
    box-shadow: none;
}

CajaNavigationWindow CajaNotebook.notebook.header {
    border-radius: 4px 4px 0px 0px;
    border-style: none;
}

CajaNavigationWindow CajaNotebook.notebook tab .button.flat {
    padding: 0px;
    border-radius: 4px;
}

EelEditableLabel.entry,
EelEditableLabel.entry:focused {
   border-image: none;
   border-width: 1px;
   border-color: @theme_fg_color;
   box-shadow: none;
   border-radius: 3px;
   text-shadow: none;
}

.caja-canvas-item {
    border-radius: 4px;
}

/* desktop mode */
CajaDesktopWindow.background .caja-canvas-item {
    color: white;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

CajaDesktopWindow.background .caja-canvas-item:active,
CajaDesktopWindow.background .caja-canvas-item:prelight,
CajaDesktopWindow.background .caja-canvas-item:selected {
    text-shadow: none;
}

/****************
 * Mate-Panel *
 ****************/

/* first make all transparent */
PanelToplevel.background.horizontal {
    background-color: transparent;
}

WnckSelector.menubar,
PanelMenuBar.menubar,
WnckSelector GtkMenuItem,
PanelMenuBar GtkMenuItem,
MatePanelApplet GtkToggleButton.button {
    border-image: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

/* let's started */
/* the panel bar itself */
PanelToplevel.background.horizontal {
    background-color: @theme_bg_dark_color;
}

.mate-panel-menu-bar {
    background-color: @theme_bg_dark_color;
    background-image: none;
    /* normal panel */
    color: @menu_fg_dark_color;
    /* transparent panel light desktop background*/
/*    color: @theme_fg_color; */
    text-shadow: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
}

/* panel grip *//*
PanelToplevel.background.mate-custom-panel-background {
    background-color: transparent;
    border-radius: 3px;*/
/* enable for making borders visible */
/*    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3); *//*
}*/

/* hide buttons */
PanelToplevel.background .button {
    background-image: none;
    background: transparent;
    border-style: none;
    border-radius: 3px;
    padding: 0px;
    box-shadow: none;
}

PanelToplevel.background .button:hover,
PanelToplevel.background .button:hover:active {
    background-image: none;
    color: @menu_selected_fg_dark_color;
    border-radius: 3px;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* dictionary applet */
GdictApplet .entry {
    /* normal panel */
    color: @menu_fg_dark_color;
    /* transparent panel light desktop background */
/*    color: @theme_fg_color; */
    background-image: none;
    background-color: transparent;
    border-width: 1px;
    padding: 3px 4px;
}

MatePanelApplet {
    border-width: 0;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_dark_color, 1.03)),
                                     to (shade (@theme_bg_dark_color, 0.95)));
    color: shade (@theme_fg_dark_color, 0.45);
    text-shadow: none;
}

/* the grid left from wnckpager and wncktasklist */
MatePanelAppletFrameDBus {
    background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

/* set normal menubar button */
PanelMenuBar.menubar .menuitem {
    padding: 5px 5px;
    transition: all 200ms ease-out;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
    padding: 5px 5px;
    background-color: shade (@theme_bg_dark_color, 1.2);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    border-radius: 5px;
    text-shadow: none;
    color: shade (@theme_selected_bg_color, 1.6);
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
    text-shadow: none;
    border-style: none;
    border-width: 0px;
}

/* set normal menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
    padding: 6px 6px;
    transition: all 300ms ease-out;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:checked:hover,
PanelMenuBar.menubar .menu .menuitem:hover:active,
PanelMenuBar.menubar .menu .menuitem:hover {
    padding: 6px;
    background-color: shade (@theme_bg_dark_color, 1.2);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    border-radius: 5px;
    text-shadow: none;
    color: shade (@theme_selected_bg_color, 1.6);
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
    text-shadow: none;
    border-style: none;
    border-width: 0px;
}

/* Mate menu button normal */
/* makes the arrow visible, nothing more works */
PanelMenuButton.button {
    background-image: none;
    background-color: transparent;
    color: shade (@menu_fg_color, 1.00);
}

/* Mate menu menuitem */
PanelMenuButton .menu .menuitem,
PanelMenuButton .menu .menuitem:hover {
    padding: 6px;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */

MatePanelApplet .button,
MatePanelApplet .button.flat {
    background-image: none;
    background-color: transparent;
/*    border-color: shade (@theme_selected_bg_color, 1.30); */
    border-radius: 5px;
    border-width: 0px;
    /* normal panel */
    color: @menu_fg_dark_color;
    /* transparent panel light desktop background*/
/*    color: @theme_fg_color; */
    text-shadow: none;
    padding: 6px;
}

MatePanelApplet .button:hover:active,
MatePanelApplet .button:checked,
MatePanelApplet .button:checked:hover,
MatePanelApplet .button.flat:hover:active,
MatePanelApplet .button.flat:checked,
MatePanelApplet .button.flat:checked:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 0.70);
    border-radius: 5px;
    border-width: 0px;
    color: shade (@theme_text_dark_color, 0.90);
    text-shadow: none;
    padding: 6px;
}

MatePanelApplet .button:hover,
MatePanelApplet .button.flat:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 1.10);
    border-radius: 5px;
    border-width: 0px;
    color: @selected_fg_color;
    text-shadow: none;
    padding: 6px;
}

/* drivemount */
DriveList .button,
DriveList .button.flat,
DriveList .button:hover,
DriveList .button.flat:hover,
DriveList .button:checked,
DriveList .button.flat:checked {
    padding: 4px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: none;
}

/*Wncklist */
WnckTasklist .button,
WnckTasklist .button.flat {
    background-image: none;
    background-color: transparent;
    border-radius: 5px;
    border-width: 1px;
    color: shade (@theme_text_dark_color, 0.65);
    text-shadow: none;
    padding: 2px;
}

WnckTasklist .button:hover:active,
WnckTasklist .button:checked,
WnckTasklist .button:checked:hover,
WnckTasklist .button.flat:hover:active,
WnckTasklist .button.flat:checked:hover,
WnckTasklist .button.flat:checked {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 0.70);
    border-radius: 5px;
    border-width: 1px;
    color: shade (@theme_text_dark_color, 0.90);
    text-shadow: none;
    padding: 2px;
}

WnckTasklist .button:hover,
WnckTasklist .button.flat:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 1.10);
    border-radius: 5px;
    border-width: 1px;
    color: @theme_fg_color;
    text-shadow: none;
    padding: 2px;
}

/* set normal button WnckSelector */
WnckSelector.menubar .menuitem {
    background-image: none;
    background-color: transparent;
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
}

/* set selected button WnckSelector */
WnckSelector.menubar .menuitem:hover {
    background-image: none;
    border-color: @selected_bg_color;
    background-color: shade (@selected_bg_color, 0.70);
    border-radius: 5px;
    border-width: 1px;
    color: shade (@theme_text_dark_color, 0.90);
    text-shadow: none;
}

/* set WnckSelector selected menuitem */
WnckSelector.menubar .menu .menuitem:hover {
    background-color: shade (@theme_bg_dark_color, 1.2);
    color: shade (@theme_selected_bg_color, 1.3);
    background-image: none;
    border-radius: 6px;
    text-shadow: none;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
    font: normal;
}

/* WnckPager */
WnckPager {
	background-image: none;
	border-color: transparent;
	background-color: transparent;
	text-shadow: none;
}

/* selected WnckPager */
WnckPager:selected {
	background-image: linear-gradient(to bottom,
		@theme_selected_bg_color,
		shade (@theme_selected_bg_color, 0.36));
}

/* prelight of WnckPager */
WnckPager:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.56),
                                      @theme_selected_bg_color);
}

/* no background for icon-padding area */
GtkTrayIcon.background {
    background-color: transparent;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 3px;
    -NaTrayApplet-icon-size: 16;
}

/* system-monitor-applet */
MatePanelApplet .horizontal .vertical .frame {
    box-shadow: inset  0px  1px shade (@menu_bg_dark_color, 1.3),
                inset  1px  0px shade (@menu_bg_dark_color, 1.3),
                inset -1px  0px shade (@menu_bg_dark_color, 1.3),
                inset  0px -1px shade (@menu_bg_dark_color, 1.3);
    border-style: none;
    border-radius: 6px;
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

/* volume applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    background-color: rgba(0,0,0,0.5);
    border-image: none;
    border-style: none;
    border-radius:4px;
    padding: 1px;
    margin: 0px;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    box-shadow: none;
}

/* brightness applet */
.mate-panel-applet-slider .frame .button {
    padding: 4px 0px;
    background-image: none;
    background-color: transparent;
    border-style: none;
    border-radius:4px;
    color: @theme_fg_dark_color;
    margin: 0px;
}

.mate-panel-applet-slider .frame .button:insensitive {
    box-shadow: none;
}

.mate-panel-applet-slider .frame .button:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (alpha(shade(@theme_selected_bg_color, 1.43) ,0.6)),
                                     to   (alpha(shade(@menu_bg_dark_color, 0.57) ,0.6)));
}

/****************
 * Mate-terminal *
 ****************/

/* Background mate-terminal, this isn't the normal way to style that! */
TerminalWindow .entry {
    -TerminalWindow-background-darkness: 0.95;
    background-color: @terminal_background_color;
    color: @selected_fg_color;
}

TerminalWindow .grip {
    background-color: shade (@theme_bg_color, 1.0);
    background-image: url("assets/resize-grip.svg");
    -GtkWindow-resize-grip-default: true;
    -GtkWindow-resize-grip-width: 13;
    -GtkWindow-resize-grip-height: 13;
}

/****************
 * Pluma        *
 ****************/

/* pluma line numbers */
PlumaView {
    background-color: shade (@bg_color, 1.07);
}

/* Pluma status bar */
PlumaWindow .button.flat {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);
    border-radius: 4px;
    padding: 2px 5px;
}

PlumaWindow .button.flat:hover {
    border-style: none;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
    border-radius: 4px;
    padding: 2px 5px;
}

/* notebook text area */
PlumaWindow .notebook {
    border-style: none;
    -GtkNotebook-tab-overlap: 1;
}

PlumaWindow .notebook tab.top {
    border-radius: 4px 4px 0px 0px;
    border-width: 1px 1px 0px 1px;
    border-color: @notebook_border;
    border-style: solid;
    padding: 5px 4px;
}

PlumaWindow .notebook.header {
    border-radius: 0px;
    border-style: none;
}

/* surpress styling of close button */
PlumaWindow .notebook tab .button.flat {
    background-image: none;
    box-shadow: none;
    padding: 1px;
}

PlumaWindow .notebook tab .button.flat:hover {
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* Printpreview */
PlumaPrintPreview.vertical .toolbar.horizontal {
   background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 1.00)),
                                     to   (shade(@theme_bg_dark_color, 0.95)));
    border-image: none;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
    padding: 3px;
    box-shadow: none;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
    color: @theme_fg_dark_color;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button {
    background-image: none;
    box-shadow: none;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button:hover {
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.text-button {
    padding: 0px 10px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.text-button:hover {
    color: @theme_fg_dark_color;
}

PlumaPrintPreview.vertical GtkLayout {
    background-color: @theme_base_color;
}

/* sidebar file-browser */
PlumaPanel.vertical {
    background-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 1.14),
                                      shade(@theme_bg_color, 1.1));
    border-radius: 4px 4px 0px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: @borders;
    box-shadow: none;
}

/* header */
PlumaPanel.vertical .horizontal .horizontal .label {
    padding: 4px 2px;
}

PlumaPanel.vertical PlumaCloseButton.button.flat {
    box-shadow: none;
    background-image: none;
    border-style: none;
}

PlumaPanel.vertical PlumaCloseButton.button.flat:hover {
    border-radius: 4px;
    border-style: none;
    -gtk-image-effect: highlight;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

PlumaPanel.vertical .notebook {
    border-radius: 0px;
}

PlumaFileBrowserWidget.vertical GtkToggleButton.button {
    padding: 4px ;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal {
   background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 1.00)),
                                     to   (shade(@theme_bg_dark_color, 0.95)));
    border-image: none;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
    border-color: @primay-toolbar-border;
    padding: 3px 3px;
    box-shadow: none;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
    color: @theme_fg_dark_color;
}

PlumaFileBrowserWidget.vertical .horizontal.toolbar .button,
PlumaFileBrowserWidget.vertical .horizontal.toolbar .button.menu-button {
    padding: 6px 3px ;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.image-button {
    padding: 6px 4px ;
}

PlumaFileBrowserWidget.vertical {
    background-color: @theme_bg_color;
}

PlumaDocumentsPanel .view,
PlumaFileBrowserWidget .view {
    background-color: shade (@theme_bg_color, 1.08);
}

/* color of of expander arrow */
PlumaFileBrowserWidget.vertical GtkExpander:hover {
    color: @theme_fg_color;
}

PlumaWindow .notebook.frame.bottom,
PlumaWindow .notebook.header.bottom {
    border-width: 0px 0px 0px 0px;
}

PlumaWindow .notebook tab.bottom {
    padding: 2px 10px 4px 10px;
}

/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
ShellWindow .enty,
ShellWindow AppResizer SlabSection {
    background-color: @theme_base_color;
}

/* button of sidebar */
ShellWindow .button.flat {
    border-image: none;
    border-radius: 6px;
    padding: 4px;
}

ShellWindow .button.flat:hover {
    border-radius: 6px;
    padding: 4px;
}

/* button of applications */
ShellWindow GtkScrolledWindow .button.flat {
    padding: 4px 0px;
    border-image: none;
}

/* button hover of applications */
ShellWindow GtkScrolledWindow .button.flat:hover {
    padding: 4px 0px;
    border-radius: 12px;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@button_gradient1, 1.03)),
                                     color-stop (0.48, shade(@button_gradient2, 1.03)),
                                     color-stop (0.52, shade(@button_gradient3, 1.03)),
                                     to   (shade(@button_gradient4, 1.01)));
    border-top-color: alpha(@focused_entry_outer, 0.65);
    border-right-color: alpha(@focused_entry_outer, 0.75);
    border-left-color: alpha(@focused_entry_outer, 0.75);
    border-bottom-color: alpha(@focused_entry_outer, 0.80);
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* logout dialog */
GsmLogoutDialog * {
    -GtkDialog-button-spacing: 0;
}

/***********************
 * Engrampa *
 ***********************/

FrWindow .toolbar.primary-toolbar {
    border-color: @primay-toolbar-border;
    border-width: 0 0 1px 0;
}

/*********
 * Atril *
 *********/

EvWindow .vertical.primary-toolbar .horizontal.toolbar {
    padding: 1px 4px;
}

/* size of page entry */
EvPageActionWidget .entry {
    padding: 4px;
}

EvWindow .toolbar .button,
EvWindow .toolbar .button.flat {
    padding: 0px 4px;
}

EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton:prelight.button {
    padding: 4px;
    border-radius: 4px;
}

EvSidebar .flat.button {
    border-radius: 4px;
    padding: 4px;
}

/* atril and eom */
EggToolbarEditor.vertical GtkScrolledWindow .frame {
    background-color: shade (@base_color, 1.0);
    border-color: @notebook_border;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

/**************
 * mate-media *
 **************/

GvcMixerDialog .frame.flat {
    border-style: none;
}

GvcMixerDialog .vertical.dialog-vbox .notebook GtkScrolledWindow.frame {
    border-style: none;
    border-radius: 0px 0px 4px 4px;
}

GvcMixerDialog .vertical.dialog-vbox .notebook .frame.flat GtkScrolledWindow.frame {
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

/*******
 * Eom *
 *******/

EomWindow .vertical.primary-toolbar .horizontal.toolbar {
    border-bottom-color: @theme_bg_dark_color;
}

EomThumbNav .button.flat {
    border-width: 1px;
    border-color: @button_border;
    border-image: none;
}

EomThumbNav .button.flat:first-child {
    border-radius: 5px 0px 0px 5px;
    border-right-width: 0px;
}

EomThumbNav .button.flat:last-child {
    border-radius: 0px 5px 5px 0px;
    border-left-width: 0px;
}

EomThumbNav .button.flat:hover {
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

EomThumbNav .button.flat:insensitive {
    border-color: transparent;
}

/* mate-screensaver lock dialog */

.lock-dialog {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: shade(@button_border, 1.0);
    /* not sure if box-shadow works here */
    box-shadow: 0 0 0 1px @wm_border, 0 2px 8px 3px @wm_shadow;
}

.lock-dialog .frame {
    border-radius: 3px;
    border-style: none;
    border-width: 0px;
}

