
NemoSearchBar.info {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@toolbar_gradient_base, 0.89)),
                                     color-stop (0.20, shade(@toolbar_gradient_base, 0.97)),
                                     to   (shade(@toolbar_gradient_base, 1.01)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: alpha(#000, 0.00) @toolbar_gradient_base shade(@toolbar_gradient_base, 0.75);
    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
    color: @toolbar_fg_color;
}

NemoTrashBar.info,
NemoXContentBar.info,
NemoQueryEditor.info {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     to   (shade(@nautilus_cluebar_color, 1.00)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: transparent @nautilus_cluebar_color shade(@nautilus_cluebar_color, 0.75);
    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
}

NemoSearchBar .entry {
    box-shadow: inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.05),
                inset  2px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
				inset  0px  1px shade(@toolbar_gradient_base, 0.70),
                inset  1px  0px shade(@toolbar_gradient_base, 0.80),
                inset -1px  0px shade(@toolbar_gradient_base, 0.80),
                inset  0px -1px shade(@toolbar_gradient_base, 0.90);
}

NemoSearchBar .entry:focused {
}

NemoSearchBar .entry,
NemoSearchBar .entry:focused {
    -GtkEntry-inner-border: 1;
}

NemoSearchBar .entry.image {
    color: shade(@nautilus_cluebar_color, 0.60);
}

NemoSearchBar GtkLabel {
    color: @toolbar_fg_color;
   	text-shadow: 0 1px @toolbar_shadow_color;
}

.nemo-cluebar-label {
    font: bold;
    color: shade(@theme_fg_color, 1.00);
	text-shadow: 0 1px @theme_shadow_color;
}

NemoTrashBar .button,
NemoTrashBar .button:hover {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

NemoTrashBar .button:active,
NemoTrashBar .button:active:hover {
/* .button:active:hover */
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.91)),
                                     to   (shade(@nautilus_cluebar_color, 0.87)));
	/* outer */
    border-top-color: 		alpha(@focused_entry_border, 0.20);
    border-right-color: 	alpha(@focused_entry_border, 0.25);
    border-left-color: 		alpha(@focused_entry_border, 0.25);
    border-bottom-color: 	alpha(#fff, 0.10);
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
				inset  0px  1px shade(@nautilus_cluebar_color, 0.75),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.55);
}

NemoTrashBar .button *:active,
NemoTrashBar .button *:active:hover {
    color: shade(@theme_text_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

NemoTrashBar .button:insensitive {
/* .button:active:hover */
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.90)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.88)),
                                     to (shade(@nautilus_cluebar_color, 0.89)));
    box-shadow: inset  0px  1px shade(@nautilus_cluebar_color, 0.85),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.78);
}

NemoTrashBar .button *:insensitive {
	color: mix(@nautilus_cluebar_color, @theme_fg_color, 0.50);
	text-shadow: none;
}

NemoWindow .sidebar .scrollbar {
	background-image: none;
	border-style: solid;
    -GtkRange-stepper-size: 16;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;
	-GtkRange-arrow-scaling: 0.666;
	-GtkRange-slider-width: 13;
	-GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
	-GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-min-slider-length: 31;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
}

NemoWindow .sidebar .scrollbar.trough,
NemoWindow .sidebar .scrollbar.trough.vertical {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.98)),
		to (shade (@theme_bg_color, 1.06)));
	border-radius: 0;
	border-width: 0 0 0 0;
	border-style: solid;
	border-right-color: shade (@theme_bg_color, 0.96);
	border-left-color: shade (@theme_bg_color, 0.96);
}

/* the small line between sidebar and view */
NemoWindow * {
	-GtkPaned-handle-size: 0;
}

NemoWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;
    border-top-width: 0;
    border-bottom-width: 0;	
}

NemoSearchBar,
NemoSearchBar *,
NemoWindow .primary-toolbar.toolbar .button * {
	padding: 0px;
}

NemoSearchBar .entry {
	padding: 2px 8px;
    border-width: 0px;
    border-radius: 4px;
}

NemoWindow .primary-toolbar.toolbar .entry {
    padding: 3px 8px;
}

NemoWindow .primary-toolbar.toolbar .button,
NemoWindow .primary-toolbar.toolbar .button:active,
NemoWindow .primary-toolbar.toolbar .button:hover,
NemoWindow .primary-toolbar.toolbar .button:active:hover {
    padding: 0px 4px;
    border-image: none;
    border-width: 1px;
    border-radius: 5px;
    border-color: transparent;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton {
	padding: 0px 0px 0px 3px;
    border-image: 	none;
	border-style: solid;
    border-radius: 0px;
    border-width: 0px;
	border-color: transparent;

}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton {
    background-image: -gtk-gradient (linear,
						left top, left bottom,
						from (@button_raised_gradient_color_a),
						to   (@button_raised_gradient_color_b));
    border-width: 0px;
  	border-color: shade(@theme_button_border_dark, 1.00); 
	/* inset */
    box-shadow: inset  0px  1px alpha(#fff, 0.09),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
	color: shade(@theme_fg_dark_color, 0.90);
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton * {
	color: shade(@theme_text_dark_color, 1.00);
	text-shadow: 0px 1px @theme_shadow_dark_color;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:hover {
	color: shade(@theme_text_dark_color, 1.00);
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton:active {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                     from (shade(@button_raised_gradient_color_b, 0.90)),
                     to   (shade(@button_raised_gradient_color_a, 0.80)));
	border-image: 			none;
    border-color: 		shade(@theme_button_border_dark, 0.92);
    box-shadow: inset  0px  3px alpha(#000, 0.01),
				inset  0px  2px alpha(#000, 0.03),
				inset  0px  1px alpha(#000, 0.04),
                inset  2px  0px alpha(#000, 0.02),
                inset  1px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.02),
                inset -1px  0px alpha(#000, 0.04),
                inset  0px -1px alpha(#000, 0.03);
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:active,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:active:hover {
    font: bold;
    color: shade(@theme_text_dark_color, 1.00);
    text-shadow: 1px 1px @theme_shadow_dark_color;
}

NemoWindow .primary-toolbar .toolbar {
    background-color: @theme_bg_color;
}

/* statusbar */
NemoWindow .toolbar {
    background-image: none;
    background-color: @theme_bg_color;
    border-top-width: 0;
    border-bottom-width: 0;
    box-shadow: none;
}

/* small buttons statusbar nemo */
NemoWindow .toolbar .button GtkImage:active,
NemoWindow .toolbar .button GtkImage:active:hover,
NemoWindow .toolbar .button GtkImage:hover,
NemoWindow .toolbar .button GtkImage {
    color: @theme_fg_color;
}

NemoWindow .toolbar .button:hover,
NemoWindow .toolbar .button:hover,
NemoWindow .toolbar .button:active,
NemoWindow .toolbar .button:active:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@button_gradient1, 1.03)),
                                     color-stop (0.48, shade(@button_gradient2, 1.03)),
                                     color-stop (0.52, shade(@button_gradient3, 1.03)),
                                     to   (shade(@button_gradient4, 1.01)));
    border-top-color: 		alpha(@focused_entry_outer, 0.65);
    border-right-color: 	alpha(@focused_entry_outer, 0.75);
    border-left-color: 		alpha(@focused_entry_outer, 0.75);
    border-bottom-color: 	alpha(@focused_entry_outer, 0.80);
    box-shadow: inset  0px  2px alpha(#fff, 0.11),
                inset  2px  0px alpha(#fff, 0.09),
                inset -2px  0px alpha(#fff, 0.09),
                inset  0px -2px alpha(#fff, 0.07),
				inset  0px  1px shade(@selected_bg_color, 1.0),
                inset  1px  0px shade(@selected_bg_color, 1.0),
                inset -1px  0px shade(@selected_bg_color, 1.0),
                inset  0px -1px shade(@selected_bg_color, 1.0);
}

NemoWindow .primary-toolbar.toolbar .button GtkImage {
    color: @theme_fg_dark_color;
}

NemoWindow .notebook {
	-GtkNotebook-initial-gap: 0;
    background-color: @theme_base_color;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_base_color, 1.00)),
                                     to   (shade(@theme_base_color, 1.00)));
    border-width: 0px;
	border-style: none;
	border-left-style: none;
	border-right-style: none;
	border-radius: 0px;
	border-top-color: shade(@notebook_border, 1.00);
	border-left-color: @transparent;
	border-bottom-color: @transparent;
	border-right-color: @transparent;
    box-shadow: none;
}

NemoWindow .notebook tab {
    border-width: 0px 1px;
    border-style: solid;
    border-color:       shade(@notebook_border, 1.00);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@sidebar_background, 0.90)),
									 color-stop (0.15, shade(@sidebar_background, 1.00)),
                                     to   (shade(@sidebar_background, 1.00)));
    box-shadow: inset  0px  1px alpha(#000, 0.08),
                inset  1px  0px alpha(#000, 0.04),
                inset -1px  0px alpha(#000, 0.04),
                inset  0px -1px shade(@notebook_border, 1.00);
}

NemoWindow .notebook tab:active {    
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_base_color, 0.90)),
									 color-stop (0.15, shade(@theme_base_color, 1.00)),
                                     to   (shade(@theme_base_color, 1.00)));
	border-image: none;
	border-left-color: 		shade(@notebook_border, 1.00);
	border-right-color: 	shade(@notebook_border, 1.00);
    box-shadow: inset  0px  1px alpha(#000, 0.08),
                inset  1px  0px alpha(#fff, 0.04),
                inset -1px  0px alpha(#fff, 0.04);
}

NemoWindow .notebook tab.top {
    padding: 0px 6px;
	border-radius: 0px;
}

NemoWindow .notebook tab:first-child,
NemoWindow .notebook tab:first-child:active {
	border-width: 0px 1px 0px 0px;
	border-radius: 0px;
}

NemoWindow .notebook tab:last-child,
NemoWindow .notebook tab:last-child:active {
	border-width: 0px 0px 0px 1px;
	border-radius: 0px;
}

NemoWindow .notebook tab GtkLabel {
	padding: 0px;
	color: @theme_text_color; 
	text-shadow: 0px 1px @theme_shadow_color;
}

NemoWindow .notebook tab .button GtkImage {
    border-radius: 3px;
    color: mix(@theme_fg_color, @sidebar_background, 0.30);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 0;
    icon-shadow: 1px 1px @theme_shadow_color;
}

NemoWindow .notebook tab .button GtkImage:hover {
    color: @theme_fg_color; 
    border-color: alpha(black, 0.1); 
}

NemoWindow .notebook tab .button GtkImage:active,
NemoWindow .notebook tab .button GtkImage:active:hover {
    background-color: alpha(black, 0.15); 
    color:  		  shade(@theme_fg_color, 1.00); 
    icon-shadow: 0px 1px @theme_shadow_color;
    border-color: alpha(black, 0.27) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13); 
}

.nemo-canvas-item {
    border-radius: 3px;
}

/* desktop mode */
.nemo-desktop.nemo-canvas-item {
    color: white;
    text-shadow: 1px 1px black;
}

.nemo-desktop.nemo-canvas-item:active {
    background-image: none;
    color: @theme_text_color;
}

.nemo-desktop.nemo-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
    text-shadow: none;
}

