/* nemo */

NemoSearchBar.info {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@toolbar_gradient_base, 0.89)),
                                     color-stop (0.20, shade(@toolbar_gradient_base, 0.97)),
                                     to   (shade(@toolbar_gradient_base, 1.01)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: alpha(#000, 0.00) @toolbar_gradient_base shade(@toolbar_gradient_base, 0.75);
    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
    color: @toolbar_fg_color;
}

NemoTrashBar.info,
NemoXContentBar.info,
NemoQueryEditor.info {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     to   (shade(@nautilus_cluebar_color, 1.00)));
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: transparent @nautilus_cluebar_color shade(@nautilus_cluebar_color, 0.75);
    box-shadow: inset  0px  1px alpha(#fff, 0.06),
                inset  1px  0px alpha(#fff, 0.06),
                inset -1px  0px alpha(#fff, 0.06),
                inset  0px -1px alpha(#fff, 0.06);
}

NemoSearchBar,
NemoSearchBar * {
    padding: 0px;
}

NemoSearchBar .entry {
    padding: 4px 8px;
    border-width: 0px;
    border-radius: 4px;
    box-shadow: inset  0px  3px alpha(#000, 0.03),
                inset  0px  2px alpha(#000, 0.05),
                inset  2px  0px alpha(#000, 0.04),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
                inset  0px  1px shade(@toolbar_gradient_base, 0.70),
                inset  1px  0px shade(@toolbar_gradient_base, 0.80),
                inset -1px  0px shade(@toolbar_gradient_base, 0.80),
                inset  0px -1px shade(@toolbar_gradient_base, 0.90);
}

NemoSearchBar .entry,
NemoSearchBar .entry:focus {
    -GtkEntry-inner-border: 1;
}

NemoSearchBar .entry.image {
    color: shade(@nautilus_cluebar_color, 0.60);
}


NemoSearchBar GtkLabel {
    color: @toolbar_fg_color;
       text-shadow: 0 1px @toolbar_shadow_color;
}

.nemo-cluebar-label {
    font: bold;
    color: @fg_dark_color;
    text-shadow: 0 1px @theme_shadow_color;
}

NemoTrashBar .button,
NemoTrashBar .button:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.08)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 1.02)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.96)),
                                     to   (shade(@nautilus_cluebar_color, 0.92)));
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.80),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.70),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.60);
    color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

NemoTrashBar .button:active,
NemoTrashBar .button:active:hover,
NemoTrashBar .button:checked,
NemoTrashBar .button:checked:hover {
/* .button:active:hover */
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 1.00)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.91)),
                                     to   (shade(@nautilus_cluebar_color, 0.87)));
    /* outer */
    border-top-color:    alpha(@focused_entry_border, 0.20);
    border-right-color:  alpha(@focused_entry_border, 0.25);
    border-left-color:   alpha(@focused_entry_border, 0.25);
    border-bottom-color: alpha(#fff, 0.10);
    box-shadow: inset  0px  2px alpha(#fff, 0.09),
                inset  2px  0px alpha(#fff, 0.07),
                inset -2px  0px alpha(#fff, 0.07),
                inset  0px -2px alpha(#fff, 0.05),
                inset  0px  1px shade(@nautilus_cluebar_color, 0.75),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.65),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.55);
}

NemoTrashBar .button *:active,
NemoTrashBar .button *:active:hover,
NemoTrashBar .button *:checked,
NemoTrashBar .button *:checked:hover {
    color: shade(@theme_text_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

NemoTrashBar .button:insensitive {
/* .button:active:hover */
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@nautilus_cluebar_color, 0.95)),
                                     color-stop (0.45, shade(@nautilus_cluebar_color, 0.90)),
                                     color-stop (0.52, shade(@nautilus_cluebar_color, 0.88)),
                                     to   (shade(@nautilus_cluebar_color, 0.89)));
    box-shadow: inset  0px  1px shade(@nautilus_cluebar_color, 0.85),
                inset  1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset -1px  0px shade(@nautilus_cluebar_color, 0.81),
                inset  0px -1px shade(@nautilus_cluebar_color, 0.78);
}

NemoTrashBar .button *:insensitive {
    color: mix(@nautilus_cluebar_color, @theme_fg_color, 0.50);
    text-shadow: none;
}

NemoWindow .sidebar .scrollbar {
    background-image: none;
    border-style: solid;
    -GtkRange-stepper-size: 16;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 1;
    -GtkRange-arrow-scaling: 0.666;
    -GtkRange-slider-width: 13;
    -GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-min-slider-length: 31;
    -GtkScrollbar-slider-width: 11;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
}

NemoWindow .sidebar .scrollbar.trough.vertical {
    border-radius: 0;
    border-width: 0 0px 0 1px;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.96);
}

NemoWindow .sidebar .scrollbar.trough {
    border-radius: 0;
    border-width: 1px 0 0px 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.96);
}

/* the small line between sidebar and view */
NemoWindow GtkPaned.horizontal {
    border-color: shade(@theme_bg_color, 0.80);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    -GtkPaned-handle-size: 4px;
}

NemoWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;
    border-top-width: 0;
    border-bottom-width: 0;
}

/* disable shadow and radius for nemo, looks strange */
NemoWindow .sidebar .view row:hover,
NemoWindow .sidebar .view row:selected,
NemoWindow .sidebar .view row:selected:hover {
    border-radius: 0px;
    box-shadow: none;
}

/* sidebars */
/* selected item in sidebar */
NemoWindow FMTreeView .view row:selected {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@sidebar_selected_bg, 0.90)),
                                     color-stop (0.40, shade (@sidebar_selected_bg, 0.98)),
                                     to (shade(@sidebar_selected_bg, 1.05)));
    color: @theme_selected_fg_color;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: shade (@sidebar_selected_bg, 0.90) #bbb shade (@sidebar_selected_bg, 1.05);
    text-shadow: none;
    padding: 4px;
}

/* mouse hover item in sidebar */
NemoWindow FMTreeView .view row:hover {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     color-stop (0.40, shade (@theme_bg_color, 1.13)),
                                     to (shade(@theme_bg_color, 1.10)));
    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.0),
                inset  1px  0px shade (@theme_selected_bg_color, 1.0),
                inset -1px  0px shade (@theme_selected_bg_color, 1.0),
                inset  0px -1px shade (@theme_selected_bg_color, 1.0);
    color: shade (@theme_fg_color, 0.90);
    border-radius: 6px;
    text-shadow: none;
    padding: 4px;
}

/* to avoid unexpected light backgrounds */
NemoToolbar.vertical {
    background-color: @theme_bg_dark_color;
}

NemoToolbar .linked .button,
NemoToolbar .linked .button:first-child,
NemoToolbar .linked .button:last-child,
NemoToolbar .toolbar .raised .button,
NemoToolbar .toolbar .raised .button:first-child,
NemoToolbar .toolbar .raised .button:last-child,
NemoToolbar .toolbar .raised .button:only-child {
    padding: 4px;
}

NemoToolbar .linked .button:focus,
NemoToolbar .linked .button:focus:first-child,
NemoToolbar .linked .button:focus:last-child {
    box-shadow: none;
}

NemoWindow .primary-toolbar.toolbar .button GtkImage {
    color: @theme_fg_dark_color;
}

NemoWindow .primary-toolbar.toolbar .button,
NemoWindow .primary-toolbar.toolbar .button:hover {
    padding: 4px;
}

NemoWindow .primary-toolbar.toolbar .entry {
    padding: 3px 8px;
}
/*
NemoWindow .primary-toolbar.toolbar .button:active,
NemoWindow .primary-toolbar.toolbar .button:active:hover,
NemoWindow .primary-toolbar.toolbar .button:checked,
NemoWindow .primary-toolbar.toolbar .button:checked:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@button_raised_gradient_color_b, 0.90)),
                                     to   (shade(@button_raised_gradient_color_a, 0.80)));
    border-width: 1px;
    border-style: solid; 
    border-radius: 5px;
    border-image: none;
    border-color: transparent;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
}

NemoWindow .primary-toolbar.toolbar .button,
NemoWindow .primary-toolbar.toolbar .button:active,
NemoWindow .primary-toolbar.toolbar .button:checked,
NemoWindow .primary-toolbar.toolbar .button:hover,
NemoWindow .primary-toolbar.toolbar .button:active:hover,
NemoWindow .primary-toolbar.toolbar .button:checked:hover {
    background-color: transparent;
    padding: 4px;
    border-image: none;
    border-width: 1px;
    border-radius: 5px;
    border-color: transparent;
}
*/
NemoWindow .primary-toolbar.toolbar NemoPathbarButton {
    padding: 4px;
    border-image: none;
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-color: transparent;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton {
    background-color: transparent;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_raised_gradient_color_a),
                                     to (@button_raised_gradient_color_b));
    border-color: transparent;
    border-width: 0px;
    color: shade(@theme_fg_dark_color, 0.90);
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton * {
    color: shade(@theme_text_dark_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_dark_color;
    border-color: transparent;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:hover {
    color: shade(@theme_text_dark_color, 1.00);
}
NemoWindow .primary-toolbar.toolbar NemoPathbarButton * {
    -GtkArrow-arrow-scaling: 0.7;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:first-child,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:last-child,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:only-child {
    transition: all 400ms ease-out;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:first-child,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:last-child,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:only-child,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:hover,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:first-child:hover,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:last-child:hover,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:only-child:hover {
    padding: 4px;
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton:active,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton:checked {
    background-color: transparent;
    background-image: none;
    border-image: none;
    border-color: transparent;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
}

NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:active,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:active:hover,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:checked,
NemoWindow .primary-toolbar.toolbar NemoPathbarButton *:checked:hover {
    font: bold;
    color: shade(@theme_text_dark_color, 1.00);
    text-shadow: 1px 1px @theme_shadow_dark_color;
}
/*
NemoWindow .primary-toolbar.toolbar .button:active,
NemoWindow .primary-toolbar.toolbar .button:active:hover,
NemoWindow .primary-toolbar.toolbar .button:checked,
NemoWindow .primary-toolbar.toolbar .button:checked:hover {
    padding: 4px;
    background-color: transparent;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-image: none;
    border-color: transparent;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
}

NemoWindow .primary-toolbar .toolbar .button:hover,
NemoWindow .primary-toolbar.toolbar .button:hover {
    background-color: transparent;
    padding: 4px;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
}
*/
NemoWindow .primary-toolbar .toolbar {
    background-color: @theme_bg_color;
}

/* workaround for broken first/last-child logic with linked buttons
   in pathbar with gtk+-3.18 */
NemoPathBar:dir(ltr).raised.linked .button.text-button,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:active,
NemoPathBar:dir(ltr).raised.linked .button.text-button:active,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:active,
NemoPathBar:dir(ltr).raised.linked .button.text-button:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:active:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:active:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:active:first-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:active:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:active:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:active:last-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:only-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:only-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:hover:active:only-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:active:only-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:only-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:only-child,
NemoPathBar:dir(ltr).raised.linked .button.text-button:checked:hover:active:only-child {
	border-right-width: 1px;
	border-left-width: 1px;
	border-radius: 6px;
}

/* Nemo statusbar */
NemoWindow .toolbar {
    background-image: none;
    background-color: @theme_bg_color;
    border-top-width: 0;
    border-bottom-width: 0;
    box-shadow: none;
}

NemoStatusBar.toolbar .button {
    padding: 6px;
}

/* small buttons statusbar nemo */
NemoWindow .toolbar .button GtkImage,
NemoWindow .toolbar .button GtkImage:active,
NemoWindow .toolbar .button GtkImage:active:hover,
NemoWindow .toolbar .button GtkImage:checked,
NemoWindow .toolbar .button GtkImage:checked:hover,
NemoWindow .toolbar .button GtkImage:hover {
    color: @theme_fg_color;
}

NemoWindow .toolbar .button:hover,
NemoWindow .toolbar .button:active,
NemoWindow .toolbar .button:active:hover,
NemoWindow .toolbar .button:checked,
NemoWindow .toolbar .button:checked:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@button_gradient1, 1.03)),
                                     color-stop (0.48, shade(@button_gradient2, 1.03)),
                                     color-stop (0.52, shade(@button_gradient3, 1.03)),
                                     to   (shade(@button_gradient4, 1.01)));
    border-color: transparent;
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset  0px -1px shade(@selected_bg_color, 0.93),
                inset -1px  0px shade(@selected_bg_color, 0.93);
}

NemoWindow .notebook {
    -GtkNotebook-initial-gap: 0;
    background-color: @theme_base_color;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_base_color, 1.00)),
                                     to   (shade(@theme_base_color, 1.00)));
    border-width: 0px;
    border-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
    border-top-color: shade(@notebook_border, 1.00);
    border-left-color: @transparent;
    border-bottom-color: @transparent;
    border-right-color: @transparent;
    box-shadow: none;
}

/* Nemo notebook */
GtkDialog.background .vertical.dialog-vbox .notebook .frame {
    background-color: shade (@theme_bg_color, 1.1);
}

NemoWindow .notebook tab {
    border-width: 0px 1px;
    border-style: solid;
    border-color:       shade(@notebook_border, 1.00);
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@sidebar_background, 0.90)),
                                     color-stop (0.15, shade(@sidebar_background, 1.00)),
                                     to   (shade(@sidebar_background, 1.00)));
    box-shadow: inset  0px  1px alpha(#000, 0.08),
                inset  1px  0px alpha(#000, 0.04),
                inset -1px  0px alpha(#000, 0.04),
                inset  0px -1px shade(@notebook_border, 1.00);
}

NemoWindow .notebook tab:active,
NemoWindow .notebook tab:checked {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_base_color, 0.90)),
                                     color-stop (0.15, shade(@theme_base_color, 1.00)),
                                     to   (shade(@theme_base_color, 1.00)));
    border-image: none;
    border-left-color: shade(@notebook_border, 1.00);
    border-right-color: shade(@notebook_border, 1.00);
    box-shadow: inset  0px  1px alpha(#000, 0.08),
                inset  1px  0px alpha(#fff, 0.04),
                inset -1px  0px alpha(#fff, 0.04);
}

NemoWindow .notebook tab.top {
    padding: 0px 6px;
    border-radius: 0px;
}

NemoWindow .notebook tab:first-child,
NemoWindow .notebook tab:first-child:active,
NemoWindow .notebook tab:first-child:checked {
    border-width: 0px 1px 0px 0px;
    border-radius: 0px;
}

NemoWindow .notebook tab:last-child,
NemoWindow .notebook tab:last-child:active,
NemoWindow .notebook tab:last-child:checked {
    border-width: 0px 0px 0px 1px;
    border-radius: 0px;
}

NemoWindow .notebook tab GtkLabel {
    padding: 0px;
    color: @theme_text_color;
    text-shadow: 0px 1px @theme_shadow_color;
}

NemoWindow .notebook tab .button GtkImage {
    border-radius: 3px;
    color: mix(@theme_fg_color, @sidebar_background, 0.30);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 0;
    icon-shadow: 1px 1px @theme_shadow_color;
}

NemoWindow .notebook tab .button GtkImage:hover {
    color: @theme_fg_color; 
    border-color: alpha(black, 0.1); 
}

NemoWindow .notebook tab .button GtkImage:active,
NemoWindow .notebook tab .button GtkImage:active:hover,
NemoWindow .notebook tab .button GtkImage:checked,
NemoWindow .notebook tab .button GtkImage:active:hover {
    background-color: alpha(black, 0.15); 
    color: shade(@theme_fg_color, 1.00);
    icon-shadow: 0px 1px @theme_shadow_color;
    border-color: alpha(black, 0.27) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13); 
}

.nemo-canvas-item {
    border-radius: 3px;
}

/* desktop mode */
.nemo-desktop.nemo-canvas-item {
    color: white;
    text-shadow: 1px 1px black;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:checked {
    background-image: none;
    color: @theme_text_color;
}

.nemo-desktop.nemo-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:checked,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected,
.nemo-desktop.nemo-canvas-item:checked {
    text-shadow: none;
}

/* stack-switcher ie. nemo preferences */
.vertical.dialog-vbox .horizontal.primary-toolbar {
    background-color: transparent;
    border-color: @primay-toolbar-border;
    border-width: 1px 0px;
    padding: 1px 0px;
}

.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button {
    color: @menu_fg_dark_color;
    text-shadow: none;
    box-shadow: none;
    padding: 5px 2px;
}

.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:hover,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:checked,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:checked:hover {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@menu_bg_dark_color, 2.03)),
                                     to   (shade(@menu_bg_dark_color, 1.17)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
}

/* middle most button */
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:focus,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:hover,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:checked {
    border-right-width: 0px;
    border-left-width:  0px;
    border-radius: 0px;
}

/* left most button */
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:first-child,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:focus:first-child,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:hover:first-child,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:checked:first-child {
    border-radius: 6px 0 0 6px;
    border-width: 1px;
    border-right-width: 0px;
}

/* right most button */
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:last-child,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:focus:last-child,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:hover:last-child,
.vertical.dialog-vbox .horizontal.primary-toolbar .horizontal.linked.stack-switcher .button.text-button:checked:last-child {
    border-radius: 0 6px 6px 0;
    border-width: 1px;
    border-left-width: 0px;
}

.vertical.dialog-vbox .view.frame {
    background-color: shade (@theme_bg_color, 1.1);
    border-color: @borders;
}

.vertical.dialog-vbox .view.frame  GtkViewport.frame {
    background-color: shade (@theme_bg_color, 1.1);
}

.vertical.dialog-vbox .view.frame  GtkViewport.frame .vertical GtkSeparator.separator.horizontal {
    border-color: @borders;
    border-width: 0 0 1px 0;
}

.vertical.dialog-vbox .view.frame  GtkViewport.frame .vertical .vertical .vertical .text-button {
    background-color: transparent;
}

.vertical.dialog-vbox .view.frame  GtkViewport.frame .vertical .vertical .vertical .text-button:hover {
    background-color: shade (@theme_bg_color, 1.05);
    border-radius: 4px;
}

/* Parole media player needs more testing! */

ParoleMediaList .toolbar.inline-toolbar .button {
    padding: 11px;
}

/****************
 * Dconf-editor *
 ****************/

DConfWindow GtkTreeView.view {
    -GtkTreeView-expander-size: 12; /* arrow size in list/tree views */
}

/* sidebar */
DConfWindow GtkTreeView.view,
DConfWindow GtkTreeView.view row {
    background-color: shade (@theme_bg_color, 1.08);
    color: @theme_fg_color;
}

DConfWindow GtkTreeView.view row:selected,
DConfWindow GtkTreeView.view row:selected:hover  {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@sidebar_selected_bg, 0.90)),
                                     color-stop (0.40, shade (@sidebar_selected_bg, 0.98)),
                                     to (shade(@sidebar_selected_bg, 1.05)));
    color:  @theme_selected_fg_color;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: shade (@sidebar_selected_bg, 0.90) #bbb shade (@sidebar_selected_bg, 1.05);
    text-shadow: none;
}

DConfWindow GtkTreeView.view row:hover {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@theme_bg_color, 1.05)),
                                     color-stop (0.40, shade (@theme_bg_color, 1.13)),
                                     to (shade(@theme_bg_color, 1.10)));
    box-shadow: inset  0px  1px shade(@selected_bg_color, 1.05),
                inset  1px  0px shade(@selected_bg_color, 0.97),
                inset -1px  0px shade(@selected_bg_color, 0.93),
                inset  0px -1px shade(@selected_bg_color, 0.93);
    color: shade (@theme_fg_color, 0.90);
    border-radius: 6px;
    text-shadow: none;
}

/* view */
DConfWindow DConfKeyView.view,
DConfWindow DConfKeyView.view row {
    background-color: @theme_base_color;
    color: @theme_fg_color;
}

DConfWindow DConfKeyView.view row:selected {
    color: @theme_selected_fg_color;
}

DConfWindow DConfKeyView.view row,
DConfWindow DConfKeyView.view row:hover,
DConfWindow DConfKeyView.view row:selected,
DConfWindow DConfKeyView.view row:selected:hover {
    border-radius: 0px;
    box-shadow: none;
}

/* the small line between sidebar and view */
DConfWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-color: transparent;
    background-color: @theme_bg_color;
}

DConfKeyView.view row:selected,
DConfKeyView.view row:selected:hover  {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (shade(@sidebar_selected_bg, 0.90)),
                                     color-stop (0.40, shade (@sidebar_selected_bg, 0.98)),
                                     to (shade(@sidebar_selected_bg, 1.05)));
    color:  @theme_selected_fg_color;
}

DConfKeyView.view .entry.spinbutton {
    padding: 2px 0px 2px 4px;
    box-shadow: none;
    border-style: none;
}

DConfKeyView.view .spinbutton .button,
DConfKeyView.view .spinbutton .button:hover {
    border-style: none;
}

DConfKeyView.view .spinbutton .button:last-child,
DConfKeyView.view .spinbutton .button:hover:last-child {
    border-radius: 0 5px 5px 0;
}

