/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
	padding: 0;
	border-style: solid;
	border-color: @borders;
	border-top: 0px;

	background-color: shade (@theme_bg_color, 1.1);
	-GtkNotebook-initial-gap: 0;
	-GtkNotebook-arrow-spacing: 5;
	-GtkNotebook-tab-curvature: 0;
	-GtkNotebook-tab-overlap: 0;
	-GtkNotebook-has-tab-gap: false;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 0;
}

.notebook.frame {
	border-width: 1px;
}

.notebook.header {
	background-image: linear-gradient(to bottom,
		shade(@theme_bg_color, 0.96),
		shade(@theme_bg_color, 1.0));
	border-width: 0px;
	box-shadow: inset 0 1px 0 0 alpha(@borders, 0.4), inset 0 -1px 0 0 alpha(@borders, 1.0);
}

.notebook.header.frame.top {
	border-top: 1px solid @borders;
	border-left: 1px solid @borders;
	border-right: 1px solid @borders;
}

.notebook.header.frame.bottom {
	border-bottom: 1px solid @borders;
	border-left: 1px solid @borders;
	border-right: 1px solid @borders;
}

.notebook.header.frame.left {
	border-top: 1px solid @borders;
	border-bottom: 1px solid @borders;
	border-left: 1px solid @borders;
}

.notebook.header.frame.right {
	border-top: 1px solid @borders;
	border-bottom: 1px solid @borders;
	border-right: 1px solid @borders;
}

.notebook GtkViewport {
	background-color: @theme_base_color;
	border-width: 0px;
}

.notebook tab {
	border-color: transparent;
	border-width: 0px;
	background-image: none;
	background-color: transparent;
}

.notebook tab GtkLabel {
	color: mix (@theme_fg_color, @theme_bg_color, 0.40);
	font-weight: normal;
}

.notebook .prelight-page,
.notebook .prelight-page GtkLabel {
	color: mix (@theme_fg_color, @theme_bg_color, 0.15);
}

.notebook .active-page,
.notebook tab .active-page GtkLabel {
	color: @theme_fg_color;
}

/* horizontal tabs */

.notebook tab.top,
.notebook tab.bottom {
	padding: 8px 20px 6px;
}

.notebook tab.top:active,
.notebook tab.top:active:hover {
	background-image: linear-gradient(to bottom,
		shade(@theme_bg_color, 1.18),
		shade(@theme_bg_color, 1.1));
	border-radius: 4px 4px 0 0;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: @borders;
	box-shadow: none;
}

.notebook tab.top:hover {
	background-image: linear-gradient(to bottom,
		alpha(@theme_base_color, 0.0),
		alpha(@theme_base_color, 0.3));
	border-radius: 0;
	box-shadow: inset 1px 0 alpha(@borders, 0.6), inset -1px 0 alpha(@borders, 0.6);
	border-style: none;
}

.notebook tab.top:active {
	border-bottom-color: @notebook_active_tab_border;
}

.notebook tab.bottom:active,
.notebook tab.bottom:active:hover {
	background-image: linear-gradient(to top,
		shade(@theme_bg_color, 1.18),
		shade(@theme_bg_color, 1.1));
	border-radius: 0;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	box-shadow: none;
}

.notebook tab.bottom:hover {
	background-image: linear-gradient(to top,
		alpha(@theme_base_color, 0.0),
		alpha(@theme_base_color, 0.3));
	border-radius: 0;
	box-shadow: inset 1px 0 alpha(@borders, 0.6), inset -1px 0 alpha(@borders, 0.6);
	border-style: none;
}

.notebook tab.bottom:active {
	border-top-color: @notebook_active_tab_border;
}

/* vertical tabs */

.notebook tab.left,
.notebook tab.right {
	padding: 5px 20px;
}

.notebook tab.left:hover,
.notebook tab.left:active {
	border-right-width: 2px;
}

.notebook tab.left:active {
	border-right-color: @notebook_active_tab_border;
}

.notebook tab.right:hover,
.notebook tab.right:active {
	border-left-width: 2px;
}

.notebook tab.right:active {
	border-left-color: @notebook_active_tab_border;
}

.notebook tab.reorderable-page:hover {
	background-image: linear-gradient(to bottom,
		alpha(@theme_base_color, 0.0),
		alpha(@theme_base_color, 0.3));
	border-radius: 0;
	box-shadow: inset 1px 0 alpha(@borders, 0.6), inset -1px 0 alpha(@borders, 0.6);
	border-style: none;
}

.notebook tab.reorderable-page:active {
	background-image: linear-gradient(to bottom,
		shade(@theme_bg_color, 1.18),
		shade(@theme_bg_color, 1.1));
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	border-style: solid;
}

/* close button styling */
.notebook tab .button {
	color: mix (@theme_fg_color, @theme_bg_color, 0.85);
	border-image: none;
	background-image: none;
	background-color: transparent;
	border-radius: 3px;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	padding: 1px;
	icon-shadow: none;
}
