/************
 * Caja *
 ************/

/* caja sidebar */
/* all sidebars */
.caja-side-pane treeview.view,
.caja-side-pane textview.view text,
.caja-side-pane viewport.frame,
.caja-side-pane widget .vertical {
    background-color: shade (@theme_base_color, 1.00);
    color: @theme_fg_color;
}

/* moved eject button to left better for overlay scrollbars */
.caja-side-pane treeview {
 /*   padding: 0px 4px 0px 0px; sigh, broken*/
    padding: 3px 0px 3px 0px;
}

/* better for overlay scrollbars */
.caja-side-pane treeview.view .vertical.scrollbar.overlay-indicator,
.caja-side-pane textview.view text .vertical.scrollbar.overlay-indicator {
    -GtkRange-slider-width: 13;
}

/* ComboBox views */
.caja-navigation-window toolbar.primary-toolbar combobox button.combo {
    padding: 4px 4px;
}

.caja-canvas-item {
    border-radius: 3px;
}

/* EelEditableLabel (icon labels) */
.caja-navigation-window .view .entry,
.caja-navigation-window .view .entry:focus,
.caja-desktop widget.entry,
.caja-desktop widget.entry:focus {
   border-image: none;
   border-style: solid;
   border-width: 1px;
   border-color: @theme_fg_color;
   box-shadow: none;
   border-radius: 3px;
   text-shadow: none;
   background-image: -gtk-gradient(linear,
                                   left top, left bottom,
                                   from       (shade(@theme_base_color, 0.86)),
                                   color-stop (0.15, shade(@theme_base_color, 0.96)),
                                   color-stop (0.50, shade(@theme_base_color, 0.98)),
                                   to         (shade(@theme_base_color, 1.00)));
}

/* desktop */
.caja-desktop.caja-canvas-item {
    color: @theme_base_color;
    text-shadow: 1px 1px alpha (@theme_fg_color, 0.8);
}

.caja-desktop.caja-canvas-item:active,
.caja-desktop.caja-canvas-item:hover,
.caja-desktop.caja-canvas-item:selected {
    text-shadow: none;
}

/* view */
.caja-navigation-window .view.caja-canvas-item {
    color: @theme_fg_color;
}

.caja-navigation-window .view.caja-canvas-item:selected {
    color: @theme_sectected_fg_color;
}

/***************
 * mate-panel *
 ***************/

.mate-panel-menu-bar,
MatePanelApplet > menubar,
PanelToplevel.background,
PanelWidget,
PanelFrame,
PanelAppletFrame,
MatePanelAppletFrameDBus,
MatePanelAppletContainer,
MatePanelApplet {
    background-image: -gtk-gradient (linear,
                      left top,
                      left bottom,
                      from (@menubar_gradient_a),
                      color-stop (0.50, @menubar_gradient_b),
                      to (@menubar_gradient_c));
    background-color: @theme_bg_color;
    padding: 0px;
    color: @theme_fg_color;
    text-shadow: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
}

#PanelApplet {
    border-width: 0;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    color: shade (@theme_bg_color, 0.75);
    text-shadow: none;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button,
.mate-panel-menu-bar #PanelApplet button.flat,
.mate-panel-menu-bar #PanelApplet button.toggle,
.mate-panel-menu-bar #PanelApplet button.flat.toggle {
    padding: 4px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    border-color: @border_color;
    color: @theme_fg_color;
    background-color: transparent;
    background-image: -gtk-gradient (linear,
                      left top,
                      left bottom,
                      from (@button_gradient_a),
                      to (@button_gradient_d));
}

.mate-panel-menu-bar #PanelApplet button:checked,
.mate-panel-menu-bar #PanelApplet button:checked:hover,
.mate-panel-menu-bar #PanelApplet button:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat:checked,
.mate-panel-menu-bar #PanelApplet button.flat:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover:active,
.mate-panel-menu-bar #PanelApplet button.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover:active,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:checked:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover:active {
    border-style: solid;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      @button_active_gradient_a,
                      @button_active_gradient_b 3px,
                      @button_active_gradient_c 4px,
                      @button_active_gradient_d 50%,
                      @button_active_gradient_e 50%,
                      @button_active_gradient_f);
}

.mate-panel-menu-bar #PanelApplet button:hover,
.mate-panel-menu-bar #PanelApplet button.flat:hover,
.mate-panel-menu-bar #PanelApplet button.toggle:hover,
.mate-panel-menu-bar #PanelApplet button.flat.toggle:hover {
    border-style: solid;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      @button_hover_gradient_a 5%,
                      @button_hover_gradient_b 95%,
                      @button_hover_gradient_c);
}

#PanelApplet > #clock-applet-button.flat.toggle {
   background-color: transparent;
   background-image: none;
   border-color: transparent;
}

#PanelApplet > #clock-applet-button.flat.toggle:hover {
    border-style: solid;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      @button_hover_gradient_a 5%,
                      @button_hover_gradient_b 95%,
                      @button_hover_gradient_c);
}

#PanelApplet > #clock-applet-button.flat.toggle:checked {
    border-style: solid;
    border-color: @border_color;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      @button_active_gradient_a,
                      @button_active_gradient_b 3px,
                      @button_active_gradient_c 4px,
                      @button_active_gradient_d 50%,
                      @button_active_gradient_e 50%,
                      @button_active_gradient_f);
}

#PanelApplet > #clock-applet-button.flat.toggle:checked:hover {
    border-image: none;
}


#clock-applet-button.flat.toggle > box.horizontal > label {
    font: normal;
}

#PanelApplet.wnck-pager widget {
    background-image: none;
    border-color: transparent;
    background-color: transparent;
    text-shadow: none;
}

/* selected WnckPager */
#PanelApplet.wnck-pager widget:selected {
    background-image: linear-gradient(to bottom,
        shade (@theme_selected_bg_color, 0.8),
        shade (@theme_selected_bg_color, 1.06));
}

/* hover of WnckPager */
#PanelApplet.wnck-pager widget:hover {
    background-image: linear-gradient(to bottom,
        shade (@theme_selected_bg_color, 1.86),
        shade (@theme_selected_bg_color, 1.0));
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    background-color: @theme_bg_color;
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
    box-shadow: none;
}

.mate-panel-applet-slider .frame .button {
    color: @theme_fg_color;
}

/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
ShellWindow AppResizer .view {
    background-color: @theme_base_color;
}

ShellWindow .button.flat {
    border-image: none;
    padding: 3px;
}

/* button hover of applications */
ShellWindow GtkScrolledWindow .button.flat:hover {
    background-color: transparent;
    padding: 3px;
}

/****************
 * Pluma *
 ****************/

PlumaCloseButton.button.flat,
PlumaCloseButton.button.flat:hover,
PlumaCloseButton:hover.button.flat,
PlumaCloseButton:hover.button.flat:hover {
    padding: 0px;
}

/* close button tab text view */
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat,
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat:hover {
    padding: 2px;
}

/* Pluma status bar */
PlumaWindow .button.flat,
PlumaWindow .button.flat:hover {
    border-style: none;
    border-image: none;
    padding: 2px 5px;
}

/* Printpreview */
PlumaPrintPreview.vertical .toolbar.horizontal {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      @toolbar_gradient_a 2px,
                      @toolbar_gradient_b 50%,
                      @toolbar_gradient_c 50%,
                      @toolbar_gradient_d);
    border-width: 1px 0 1px 1px;
    border-radius: 0;
    border-style: solid;
    border-top-color: @toolbar_border_top_color;
    border-bottom-color: @toolbar_border_bottom_color;
    padding: 0px;
}

PlumaPrintPreview.vertical GtkLayout {
    background-color: @theme_base_color;
}

PlumaPrintPreview.vertical .toolbar.horizontal GtkToolItem .horizontal .entry {
    padding: 2px 6px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.image-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.image-button {
    background-color: transparent;
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.text-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.text-button {
    background-color: transparent;
    padding: 0px 8px;
    border-radius: 2px;
}

/* sidebar file-browser */
PlumaPanel.vertical .horizontal .horizontal GtkImage {
    padding: 0px;
}

PlumaPanel.vertical .notebook {
    border-width: 0px;
    border-radius: 0px;
    border-style: none;
}

PlumaPanel.vertical .notebook.header.frame {
    border-width: 0px 1px 1px 0px;
    border-color: @border_color;
    border-radius: 0px;
    border-style: solid;
}

PlumaFileBrowserWidget.vertical GtkExpander .vertical .entry {
    padding: 3px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      @toolbar_gradient_a 2px,
                      @toolbar_gradient_b 50%,
                      @toolbar_gradient_c 50%,
                      @toolbar_gradient_d);
    border-width: 1px 1px 1px 1px;
    border-radius: 1px;
    border-style: solid;
    border-top-color: @toolbar_border_top_color;
    border-bottom-color: @toolbar_border_bottom_color;
    padding: 5px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.image-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 3px;
    background-color: transparent;
}

/************
 * Engrampa *
 ************/

FrWindow .horizontal.toolbar .button.flat.image-button:disabled {
    background-image: none;
}

/* close button sidebar */
FrWindow GtkTable .horizontal .vertical .frame .horizontal .flat.button {
    border-radius: 4px;
    padding: 0px;
}

/*********
 * Atril *
 *********/

EvWindow .vertical.primary-toolbar .horizontal.toolbar {
    padding: 1px 4px;
}

EvWindow .toolbar .button,
EvWindow .toolbar .button.flat {
    padding: 0px 4px;
}

EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton.button,
EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton:hover.button {
    padding: 8px 4px;
    border-radius: 4px;
}

EvSidebar .flat.button {
    border-radius: 4px;
    padding: 4px;
}

/* atril and eom */
EggToolbarEditor.vertical GtkScrolledWindow .frame {
    background-color: shade (@theme_base_color, 1.0);
    border-color: @border_color;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

/*******
 * Eom *
 *******/

EomThumbNav .button.flat:first-child {
    border-radius: 3px 0px 0px 3px;
    border-width: 1px 0px 1px 1px;
}

EomThumbNav .button.flat:last-child {
    border-radius: 0px 3px 3px 0px;
    border-width: 1px 1px 1px 0px;
}

EomThumbNav .button.flat {
    border-image: none;
    border-color: @border_color;
}

EomThumbNav .button.flat:hover {
    border-color: @focus_border_color;
}

EomThumbNav .button.flat:disabled {
    border-color: @insensitive_border_color;
}

