/************
 * Caja *
 ************/

/* do not flash the desktop with a color during theme switching */
CajaDesktopWindow FMDesktopIconView .view {
    background-color: transparent;
    background-image: none;
}

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaEmblemSidebar .frame,
CajaWindow CajaInformationPanel .vertical {
	background-color: shade (@theme_base_color, 1.00);
	color: @theme_fg_color;
}

/* ComboBox views */
CajaWindow .toolbar.horizontal GtkComboBox .button,
CajaWindow .primary-toolbar.toolbar.horizontal GtkComboBox .button {
    padding: 4px 4px;
}

.caja-desktop.caja-canvas-item {
	color: @theme_base_color;
	text-shadow: 1px 1px alpha (@theme_fg_color, 0.8);
}

.caja-desktop.caja-canvas-item:active,
.caja-desktop.caja-canvas-item:prelight,
.caja-desktop.caja-canvas-item:selected {
	text-shadow: none;
}

.caja-desktop .entry {
	background-image: none;
	border-image: none;
}

/***************
 * mate-panel *
 ***************/

.mate-panel-menu-bar,
MatePanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelFrame,
PanelAppletFrame,
MatePanelAppletFrameDBus,
MatePanelAppletContainer,
MatePanelApplet {
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@menubar_gradient_a),
	                  color-stop (0.50, @menubar_gradient_b),
	                  to (@menubar_gradient_c));
	background-color: @theme_bg_color;
	padding: 0px;
	color: @theme_fg_color;
	text-shadow: none;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
	background-image: none;
	background-color: shade(@theme_selected_bg_color, 1.1);
	border-style: none;
	border-image: none;
	/* join menuitem to menu */
	border-radius: 3px 3px 0px 0px;
	border-width: 0px;
	text-shadow: none;
	padding: 3px 5px;
}

/* set menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
	background-image: none;
	color: @theme_text_color;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: alpha(@theme_bg_color, 0.1);
	padding: 6px 5px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:checked:hover,
PanelMenuBar.menubar .menu .menuitem:active:hover,
PanelMenuBar.menubar .menu .menuitem:hover {
	background-image: none;
	color: @theme_text_color;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: alpha(@theme_selected_bg_color, 0.1);
	padding: 6px 5px;
}

MatePanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-image: none;
	color: shade (@theme_bg_color, 0.75);
	text-shadow: none;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button {
	/* Due to a bug somewhere in gtk or cairo,
	   a padding of zero (or even one) doesn't work always!!! */
	padding: 0px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	text-shadow: none;
	color: @theme_fg_color;
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@button_gradient_a),
	                  color-stop (0.50, @button_gradient_b),
	                  color-stop (0.50, @button_gradient_c),
	                  to (@button_gradient_d));
}

MatePanelApplet .button:checked:hover,
MatePanelApplet .button:checked,
MatePanelApplet .button:active:hover,
MatePanelApplet .button:active {
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                  @button_active_gradient_a,
	                  @button_active_gradient_b 3px,
	                  @button_active_gradient_c 4px,
	                  @button_active_gradient_d 50%,
	                  @button_active_gradient_e 50%,
	                  @button_active_gradient_f);
}

MatePanelApplet .button:hover {
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                                  @button_gradient_color_b,
	                                  @button_gradient_color_a);
}

/*Wncklist */
WnckTasklist .button {
	padding: 0px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	text-shadow: none;
	color: @theme_fg_color;
	background-color: transparent;
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@button_gradient_a),
	                  color-stop (0.50, @button_gradient_b),
	                  color-stop (0.50, @button_gradient_c),
	                  to (@button_gradient_d));
}

WnckTasklist .button:checked:hover,
WnckTasklist .button:checked,
WnckTasklist .button:active:hover,
WnckTasklist .button:active {
	padding: 0px;
	border-style: solid;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @button_active_gradient_a,
	                  @button_active_gradient_b 3px,
	                  @button_active_gradient_c 4px,
	                  @button_active_gradient_d 50%,
	                  @button_active_gradient_e 50%,
	                  @button_active_gradient_f);
}

WnckTasklist .button:hover {
	padding: 0px;
	border-style: solid;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @button_hover_gradient_c);
}

/* set selected button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menuitem:hover {
	color: @theme_fg_color;
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                  @button_active_gradient_a,
	                  @button_active_gradient_b 3px,
	                  @button_active_gradient_c 4px,
	                  @button_active_gradient_d 50%,
	                  @button_active_gradient_e 50%,
	                  @button_active_gradient_f);
}

/* set WnckSelector selected menuitem */
.mate-panel-window-menu-menu-bar .menu .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menu .menuitem:hover {
	background-image: none;
	background-color: shade(@theme_selected_bg_color, 1.1);
	color: @theme_text_color;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-image: url("assets/menu-border.svg") 2 / 2px stretch;
	/*border-color: alpha(@theme_selected_bg_color, 0.1);*/
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
	font: normal;
}

WnckPager {
	background-image: none;
	border-color: transparent;
	background-color: shade(@theme_bg_color, 0.9);
	text-shadow: none;
}

/* prelight of WnckPager */
WnckPager:hover {
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 1.86),
		shade (@theme_selected_bg_color, 1.0));
	background-color: @theme_base_color;
}

/* Classic icon style */
.mate-panel-menu-bar {
	-PanelMenuBar-icon-visible: true;
}

/* no background for icon-padding area */
GtkTrayIcon.background {
    background-color: transparent;
}

NaTrayApplet {
	background-image: none;
	background-color: transparent;
	padding: 0;
	text-shadow: none;
	-NaTrayApplet-icon-padding: 3;
	-NaTrayApplet-icon-size: 16;
}

/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
ShellWindow AppResizer .view {
    background-color: @theme_base_color;
}

ShellWindow .button.flat {
    border-image: none;
    padding: 3px;
}

/* button hover of applications */
ShellWindow GtkScrolledWindow .button.flat:hover {
    background-color: transparent;
    padding: 3px;
}

/****************
 * Pluma *
 ****************/

PlumaCloseButton.button.flat,
PlumaCloseButton.button.flat:hover,
PlumaCloseButton:prelight.button.flat,
PlumaCloseButton:prelight.button.flat:hover {
    padding: 0px;
}

/* close button tab text view */
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat,
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat:hover {
    padding: 2px;
}

/* Pluma status bar */
PlumaWindow .button.flat,
PlumaWindow .button.flat:hover {
    border-style: none;
    border-image: none;
    padding: 2px 5px;
}

/* Printpreview */
PlumaPrintPreview.vertical .toolbar.horizontal {
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @toolbar_gradient_a 2px,
	                  @toolbar_gradient_b 50%,
	                  @toolbar_gradient_c 50%,
	                  @toolbar_gradient_d);
	border-width: 1px 0 1px 1px;
	border-radius: 0;
	border-style: solid;
	border-top-color: @toolbar_border_top_color;
	border-bottom-color: @toolbar_border_bottom_color;
    padding: 0px;
}

PlumaPrintPreview.vertical GtkLayout {
    background-color: @theme_base_color;
}

PlumaPrintPreview.vertical .toolbar.horizontal GtkToolItem .horizontal .entry {
    padding: 2px 6px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.image-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.image-button {
    background-color: transparent;
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.text-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.text-button {
    background-color: transparent;
    padding: 0px 8px;
    border-radius: 2px;
}

/* sidebar file-browser */
PlumaPanel.vertical .horizontal .horizontal GtkImage {
    padding: 0px;
}

PlumaPanel.vertical .notebook {
	border-width: 0px;
	border-radius: 0px;
	border-style: none;
}

PlumaPanel.vertical .notebook.header.frame {
	border-width: 0px 1px 1px 0px;
	border-color: @border_color;
	border-radius: 0px;
	border-style: solid;
}

PlumaFileBrowserWidget.vertical GtkExpander .vertical .entry {
    padding: 3px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal {
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @toolbar_gradient_a 2px,
	                  @toolbar_gradient_b 50%,
	                  @toolbar_gradient_c 50%,
	                  @toolbar_gradient_d);
	border-width: 1px 1px 1px 1px;
	border-radius: 1px;
	border-style: solid;
	border-top-color: @toolbar_border_top_color;
	border-bottom-color: @toolbar_border_bottom_color;
    padding: 5px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.image-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 3px;
    background-color: transparent;
}

/************
 * Engrampa *
 ************/

FrWindow .horizontal.toolbar .button.flat.image-button:insensitive {
    background-image: none;
}

/* close button sidebar */
FrWindow GtkTable .horizontal .vertical .frame .horizontal .flat.button {
    border-radius: 4px;
    padding: 0px;
}

/*********
 * Atril *
 *********/

EvWindow .vertical.primary-toolbar .horizontal.toolbar {
    padding: 1px 4px;
}

EvWindow .toolbar .button,
EvWindow .toolbar .button.flat {
    padding: 0px 4px;
}

EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton.button,
EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton:prelight.button {
    padding: 8px 4px;
    border-radius: 4px;
}

EvSidebar .flat.button {
    border-radius: 4px;
    padding: 4px;
}

/* atril and eom */
EggToolbarEditor.vertical GtkScrolledWindow .frame {
    background-color: shade (@theme_base_color, 1.0);
    border-color: @border_color;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

/*******
 * Eom *
 *******/

EomThumbNav .button.flat:first-child {
    border-radius: 3px 0px 0px 3px;
    border-width: 1px 0px 1px 1px;
}

EomThumbNav .button.flat:last-child {
    border-radius: 0px 3px 3px 0px;
    border-width: 1px 1px 1px 0px;
}

EomThumbNav .button.flat {
    border-image: none;
    border-color: @border_color;
}

EomThumbNav .button.flat:hover {
    border-color: @focus_border_color;
}

EomThumbNav .button.flat:insensitive {
    border-color: @insensitive_border_color;
}

