/************
 * Caja *
 ************/

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaEmblemSidebar .frame,
CajaWindow CajaInformationPanel .vertical {
	background-color: shade (@theme_base_color, 1.00);
	color: @theme_fg_color;
}

/* moved eject button to left better for overlay scrollbars */
CajaWindow CajaPlacesSidebar .view row {
    padding: 0px 4px 0px 0px;
}

/* better for overlay scrollbars */
CajaWindow FMTreeView .vertical.scrollbar.overlay-indicator,
CajaWindow CajaNotesViewer .vertical.scrollbar.overlay-indicator,
CajaWindow CajaPlacesSidebar .vertical.scrollbar.overlay-indicator,
CajaWindow CajaEmblemSidebar .vertical.scrollbar.overlay-indicator,
CajaWindow CajaHistorySidebar .vertical.scrollbar.overlay-indicator {
	-GtkRange-slider-width: 13;
}

/* ComboBox views */
CajaWindow .toolbar.horizontal GtkComboBox .button,
CajaWindow .primary-toolbar.toolbar.horizontal GtkComboBox .button {
    padding: 4px 4px;
}

.caja-canvas-item,
EelEditableLabel.entry {
	border-radius: 3px;
}

EelEditableLabel.entry,
EelEditableLabel.entry:focus {
   border-image: none;
   border-width: 1px;
   border-color: @theme_fg_color;
   box-shadow: none;
   border-radius: 3px;
   text-shadow: none;
}

/* desktop */
CajaDesktopWindow.background .caja-canvas-item {
	color: @theme_base_color;
	text-shadow: 1px 1px alpha (@theme_fg_color, 0.8);
}

CajaDesktopWindow.background .caja-canvas-item:active,
CajaDesktopWindow.background .caja-canvas-item:prelight,
CajaDesktopWindow.background .caja-canvas-item:selected {
	text-shadow: none;
}

/* view */
CajaNavigationWindow.background .view.caja-canvas-item {
    color: @theme_fg_color;
}

CajaNavigationWindow.background .view.caja-canvas-item:selected {
    color: @theme_sectected_fg_color;
}

/***************
 * mate-panel *
 ***************/

/* first make all transparent */
WnckSelector.menubar,
PanelMenuBar.menubar,
WnckSelector GtkMenuItem,
PanelMenuBar GtkMenuItem,
#clock-applet-button.button,
MatePanelApplet GtkToggleButton.button,
PanelToplevel.background,
.mate-panel-menu-bar {
    background-color: transparent;
    background: transparent;
    border-image: none;
    background-image: none;
    box-shadow: none;
}

PanelToplevel.background.horizontal,
.mate-panel-menu-bar {
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@menubar_gradient_a),
	                  color-stop (0.50, @menubar_gradient_b),
	                  to (@menubar_gradient_c));
	background-color: @theme_bg_color;
	padding: 0px;
	color: @theme_fg_color;
	text-shadow: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
	background-image: none;
	background-color: shade(@theme_selected_bg_color, 1.1);
	border-style: none;
	border-image: none;
	/* join menuitem to menu */
	border-radius: 3px 3px 0px 0px;
	border-width: 0px;
	text-shadow: none;
	padding: 3px 5px;
}

/* set menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
	background-image: none;
	color: @theme_text_color;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: alpha(@theme_bg_color, 0.1);
	padding: 6px 5px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:hover {
	background-image: none;
	color: @theme_text_color;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: alpha(@theme_selected_bg_color, 0.1);
	padding: 6px 5px;
}

MatePanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-image: none;
	color: shade (@theme_bg_color, 0.75);
	text-shadow: none;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button {
	padding: 0px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	text-shadow: none;
	color: @theme_fg_color;
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@button_gradient_a),
	                  color-stop (0.50, @button_gradient_b),
	                  color-stop (0.50, @button_gradient_c),
	                  to (@button_gradient_d));
}

#clock-applet-button.button.flat:checked:hover,
#clock-applet-button.button.flat:checked,
MatePanelApplet .button:checked:hover,
MatePanelApplet .button:checked {
	border-style: solid;
	border-width: 1px;
    border-color: @border_color;
	background-image: linear-gradient(to bottom,
	                  @button_active_gradient_a,
	                  @button_active_gradient_b 3px,
	                  @button_active_gradient_c 4px,
	                  @button_active_gradient_d 50%,
	                  @button_active_gradient_e 50%,
	                  @button_active_gradient_f);
}

#clock-applet-button.button.flat:hover,
MatePanelApplet .button:hover {
	border-style: solid;
	border-width: 1px;
    border-color: @border_color;
	background-image: linear-gradient(to bottom,
	                                  @button_gradient_color_b,
	                                  @button_gradient_color_a);
}

#clock-applet-button.button.flat {
    border-style: solid;
    border-color: transparent;
	border-width: 1px;
}

/*Wncklist */
WnckTasklist .button.flat {
	padding: 4px 2px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
    border-color: transparent;
	text-shadow: none;
	color: @theme_fg_color;
	background-color: transparent;
	background-image: none;
}

WnckTasklist .button.flat:checked:hover,
WnckTasklist .button.flat:checked {
	padding: 4px 2px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
    border-color: @border_color;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @button_active_gradient_a,
	                  @button_active_gradient_b 3px,
	                  @button_active_gradient_c 4px,
	                  @button_active_gradient_d 50%,
	                  @button_active_gradient_e 50%,
	                  @button_active_gradient_f);
}

WnckTasklist .button.flat:hover {
	padding: 4px 2px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @button_hover_gradient_c);
}

/* set selected button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menuitem:hover {
	color: @theme_fg_color;
	border-style: solid;
	background-image: linear-gradient(to bottom,
	                  @button_active_gradient_a,
	                  @button_active_gradient_b 3px,
	                  @button_active_gradient_c 4px,
	                  @button_active_gradient_d 50%,
	                  @button_active_gradient_e 50%,
	                  @button_active_gradient_f);
}

/* set WnckSelector selected menuitem */
.mate-panel-window-menu-menu-bar .menu .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menu .menuitem:hover {
	background-image: none;
	background-color: shade(@theme_selected_bg_color, 1.1);
	color: @theme_text_color;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-image: url("assets/menu-border.svg") 2 / 2px stretch;
	/*border-color: alpha(@theme_selected_bg_color, 0.1);*/
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
	font: normal;
}

WnckPager {
	background-image: none;
	border-color: transparent;
	background-color: shade(@theme_bg_color, 0.9);
	text-shadow: none;
}

/* prelight of WnckPager */
WnckPager:hover {
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 1.86),
		shade (@theme_selected_bg_color, 1.0));
	background-color: @theme_base_color;
}

/* Classic icon style */
.mate-panel-menu-bar {
	-PanelMenuBar-icon-visible: true;
}

/* no background for icon-padding area */
GtkTrayIcon.background {
    background-color: transparent;
}

NaTrayApplet {
	background-image: none;
	background-color: transparent;
	padding: 0;
	text-shadow: none;
	-NaTrayApplet-icon-padding: 3;
	-NaTrayApplet-icon-size: 16;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    background-color: @theme_bg_color;
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame {
    background-color:transparent;
    border-style: none;
    box-shadow: none;
}

.mate-panel-applet-slider .frame .button {
    color: @theme_fg_color;
}

/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
ShellWindow AppResizer .view {
    background-color: @theme_base_color;
}

ShellWindow .button.flat {
    border-image: none;
    padding: 3px;
}

/* button hover of applications */
ShellWindow GtkScrolledWindow .button.flat:hover {
    background-color: transparent;
    padding: 3px;
}

/****************
 * Pluma *
 ****************/

PlumaCloseButton.button.flat,
PlumaCloseButton.button.flat:hover,
PlumaCloseButton:prelight.button.flat,
PlumaCloseButton:prelight.button.flat:hover {
    padding: 0px;
}

/* close button tab text view */
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat,
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat:hover {
    padding: 2px;
}

/* Pluma status bar */
PlumaWindow .button.flat,
PlumaWindow .button.flat:hover {
    border-style: none;
    border-image: none;
    padding: 2px 5px;
}

/* Printpreview */
PlumaPrintPreview.vertical .toolbar.horizontal {
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @toolbar_gradient_a 2px,
	                  @toolbar_gradient_b 50%,
	                  @toolbar_gradient_c 50%,
	                  @toolbar_gradient_d);
	border-width: 1px 0 1px 1px;
	border-radius: 0;
	border-style: solid;
	border-top-color: @toolbar_border_top_color;
	border-bottom-color: @toolbar_border_bottom_color;
    padding: 0px;
}

PlumaPrintPreview.vertical GtkLayout {
    background-color: @theme_base_color;
}

PlumaPrintPreview.vertical .toolbar.horizontal GtkToolItem .horizontal .entry {
    padding: 2px 6px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.image-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.image-button {
    background-color: transparent;
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.text-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.text-button {
    background-color: transparent;
    padding: 0px 8px;
    border-radius: 2px;
}

/* sidebar file-browser */
PlumaPanel.vertical .horizontal .horizontal GtkImage {
    padding: 0px;
}

PlumaPanel.vertical .notebook {
	border-width: 0px;
	border-radius: 0px;
	border-style: none;
}

PlumaPanel.vertical .notebook.header.frame {
	border-width: 0px 1px 1px 0px;
	border-color: @border_color;
	border-radius: 0px;
	border-style: solid;
}

PlumaFileBrowserWidget.vertical GtkExpander .vertical .entry {
    padding: 3px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal {
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                  @toolbar_gradient_a 2px,
	                  @toolbar_gradient_b 50%,
	                  @toolbar_gradient_c 50%,
	                  @toolbar_gradient_d);
	border-width: 1px 1px 1px 1px;
	border-radius: 1px;
	border-style: solid;
	border-top-color: @toolbar_border_top_color;
	border-bottom-color: @toolbar_border_bottom_color;
    padding: 5px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.image-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 3px;
    background-color: transparent;
}

/************
 * Engrampa *
 ************/

FrWindow .horizontal.toolbar .button.flat.image-button:insensitive {
    background-image: none;
}

/* close button sidebar */
FrWindow GtkTable .horizontal .vertical .frame .horizontal .flat.button {
    border-radius: 4px;
    padding: 0px;
}

/*********
 * Atril *
 *********/

EvWindow .vertical.primary-toolbar .horizontal.toolbar {
    padding: 1px 4px;
}

EvWindow .toolbar .button,
EvWindow .toolbar .button.flat {
    padding: 0px 4px;
}

EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton.button,
EvWindow .vertical.primary-toolbar .horizontal.toolbar EphyZoomControl GtkToggleButton:prelight.button {
    padding: 8px 4px;
    border-radius: 4px;
}

EvSidebar .flat.button {
    border-radius: 4px;
    padding: 4px;
}

/* atril and eom */
EggToolbarEditor.vertical GtkScrolledWindow .frame {
    background-color: shade (@theme_base_color, 1.0);
    border-color: @border_color;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

/*******
 * Eom *
 *******/

EomThumbNav .button.flat:first-child {
    border-radius: 3px 0px 0px 3px;
    border-width: 1px 0px 1px 1px;
}

EomThumbNav .button.flat:last-child {
    border-radius: 0px 3px 3px 0px;
    border-width: 1px 1px 1px 0px;
}

EomThumbNav .button.flat {
    border-image: none;
    border-color: @border_color;
}

EomThumbNav .button.flat:hover {
    border-color: @focus_border_color;
}

EomThumbNav .button.flat:insensitive {
    border-color: @insensitive_border_color;
}

/* mate-screensaver lock dialog */

.lock-dialog {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: @wm_csd_solid_border_color;
    /* not sure if box-shadow works here */
    box-shadow: 0 0 0 1px @wm_border, 0 2px 8px 3px @wm_shadow;
}

.lock-dialog .frame {
    border-radius: 3px;
    border-style: none;
    border-width: 0px;
}

