/* Parole media player */

.osd #ParoleScale.horizontal {
    background-color: transparent;
}

.osd #ParoleScale.horizontal trough {
    min-height: 4px;
    margin: 0px;
}

/* rhythmbox */

.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:checked,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:hover {
    padding: 0px 6px;
}

/* nemo */

/* icon and list view */
.nemo-window-pane scrolledwindow {
    background-color: @theme_base_color;
}

/* workaround for broken first/last-child logic with linked buttons
   in pathbar since gtk+-3.18 */

.nemo-window widget.raised.linked > button,
.nemo-window widget.raised.linked > button:first-child,
.nemo-window widget.raised.linked > button:last-child,
.nemo-window widget.raised.linked > button:hover,
.nemo-window widget.raised.linked > button:hover:first-child,
.nemo-window widget.raised.linked > button:hover:last-child {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    border-image: none;
    border-color: @border_color;
    margin: 0px 1px;
}
