/* Parole media player needs more testing!
 hopefully do not set other stuff */

/* background control panel */
GtkPaned.horizontal .vertical GtkOverlay GtkRevealer.bottom .background.horizontal.osd {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

/* rhythmbox */

.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:checked,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:hover {
    padding: 0px 6px;
}

/* nemo */

/* icon and list view */
.nemo-window-pane scrolledwindow {
    background-color: @theme_base_color;
}
