/*********************
 * CAJA File manager *
 *********************/
/* for breadcrumbs path bar */

.caja-pathbar-button,
CajaPathbarButton {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_bg_color, 0.8), 1.1)),
		color-stop (.3, shade(alpha(@theme_bg_color, 0.8), 1.1)),
		color-stop (.7, shade(alpha(@theme_bg_color, 0.8), 0.98)),
		color-stop (1, shade(alpha(@theme_bg_color, 0.8), 0.90)));
	border-color: #979797;
	color: @theme_fg_color;
	-CajaPathbarButton-border-radius: 3px;
}

CajaPathbarButton:active {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_bg_color, 0.8), .8)),
		color-stop (.3, shade(alpha(@theme_bg_color, 0.8), .9)),
		color-stop (1, shade(alpha(@theme_bg_color, 0.8), 1.0)));
}

CajaPathbarButton:hover {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
		color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
		color-stop (.7, shade(alpha(@theme_selected_bg_color, 0.8), 0.95)),
		color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 0.85)));
}

CajaPathbarButton:active:hover {
	background-image: -gtk-gradient(linear, left top, left bottom,
		color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), .80)),
		color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), .95)),
		color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)));
}


/* For Places Sidebar diskfull indicators */

CajaPlacesTreeView {
	-CajaPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, .65);
	-CajaPlacesTreeView-disk-full-fg-color: shade(@theme_selected_bg_color, 1.0);
	-CajaPlacesTreeView-disk-full-bar-width: 2px;
	-CajaPlacesTreeView-disk-full-bar-radius: 1px;
	-CajaPlacesTreeView-disk-full-bottom-padding: 1px;
	-CajaPlacesTreeView-disk-full-max-length: 70px;
}

CajaPlacesTreeView:selected {
	-CajaPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, 2.0);
	-CajaPlacesTreeView-disk-full-fg-color: shade(@theme_fg_color, 2.0);
}

CajaPlacesTreeView:hover {
}

CajaPlacesTreeView:selected:hover {
}

@define-color cluebar_color shade (@theme_base_color, 0.9);

CajaWindow * {
	-GtkPaned-handle-size: 0;
}

/*FIXME normaly this isn't the right entry for adjusting
the sidebar background color*/
CajaWindow .view {
	background-color: shade (@theme_bg_color, 1.08);
}

CajaWindow .rubberband,
CajaWindow .view.rubberband {
	background-color: alpha (@theme_selected_bg_color, 0.35);
}

/* sidebar */

CajaWindow .sidebar .view {
	background-color: shade (@theme_bg_color, 1.08);
	color: @theme_fg_color;
}

CajaWindow .sidebar .frame {
	border-right-width: 1px;
	border-style: solid;
	border-color: shade (@theme_bg_color, 0.90);
	border-left: none;
	border-top: none;
	border-bottom: none;
}

CajaWindow .sidebar row:selected {
	color: @theme_selected_fg_color;
}

CajaWindow .sidebar row:backdrop:selected {
	color: @theme_fg_color;
	text-shadow: none; 
}

CajaWindow .sidebar row:hover {
	background-color: shade (@theme_bg_color, 0.97);
}

/* desktop mode */
.caja-desktop.caja-canvas-item {
	color: @theme_bg_color;
	text-shadow: 1px 1px alpha (#000000, 0.8);
}

.caja-desktop.caja-canvas-item:active {
	background-image: none;
	background-color: alpha (@theme_bg_color, 0.84);
	color: @theme_fg_color;
}

.caja-desktop.caja-canvas-item:selected {
	background-image: none;
	background-color: alpha (@theme_selected_bg_color, 0.84);
	color: @theme_selected_fg_color;
}

.caja-desktop.caja-canvas-item:active,
.caja-desktop.caja-canvas-item:prelight,
.caja-desktop.caja-canvas-item:selected {
	text-shadow: none;
}

/* inactive pane */

.caja-inactive-pane .view {
	background-color: shade(@theme_base_color, 0.9);
}

/* Toolbar */
CajaWindow .toolbar .button {
	border-image: none;
}

/* Misc */
CajaView.frame,
CajaNotebook.notebook {
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

CajaNotebook.notebook tab.top,
CajaNotebook.notebook tab.bottom {
	border-right-width: 1px;
	border-left-width: 1px;
}

CajaNotebook .frame {
	border-width: 1px 0 0 0;
}

.caja-cluebar-label {
	font: normal;
	text-shadow: 0 1px shade (@cluebar_color, 1.06);
}

CajaTrashBar.info,
CajaXContentBar.info,
CajaSearchBar.info,
CajaQueryEditor.info {
	background-color: @cluebar_color;
	border-bottom-color: shade (@cluebar_color, 0.92);
	border-radius: 0;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: @theme_fg_color;
}

CajaTrashBar .button,
CajaXContentBar .button,
CajaSearchBar .button,
CajaQueryEditor .button {
	border-radius: 0;
}

/****************
 * Mate-Panel *
 ****************/

/* the panel bar itself */
/* FIXME why this doesn't set the background of the panel with GTK3-3.10 ? */
.mate-panel-menu-bar,
MatePanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelFrame,
PanelAppletFrame,
MatePanelAppletFrameDBus,
MatePanelAppletContainer,
MatePanelApplet {
	padding: 0;
	background-image: linear-gradient(to bottom,
		shade (@menu_bg_color, 1.10),
		shade (@menu_bg_color, 0.95));
	background-color: transparent;
	color: @theme_fg_color;
	text-shadow: none;
}

MatePanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 1.03)),
		to (shade (@theme_bg_color, 0.95)));
	color: shade (@theme_fg_color, 4.30);
	text-shadow: none;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 0.86),
		shade (@theme_selected_bg_color, 0.26));
	background-color: @theme_base_color;
	color: shade (@theme_selected_fg_color, 1.00);
	text-shadow: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:active:hover,
PanelMenuBar.menubar .menu .menuitem:hover {
	background-color: @theme_selected_bg_color;
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 1.0),
		shade (@theme_selected_bg_color, 0.85));
	color: shade (@theme_selected_fg_color, 1.00);
	text-shadow: none;
	border-style: none;
	border-width: 0px;
	border-radius: 0px;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button {
	transition: all 300ms ease-out;
	background-image: none;
	background-color: @theme_bg_color;
	color: @theme_text_color;

	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

MatePanelApplet .button:active:hover,
MatePanelApplet .button:active {
	transition: all 300ms ease-out;
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 0.86),
		shade (@theme_selected_bg_color, 0.26));
	background-color: @theme_base_color;
	color: shade (@theme_selected_fg_color, 1.00);
	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

MatePanelApplet .button:hover {
	transition: all 300ms ease-out;
	background-image: linear-gradient(to bottom,
		@theme_bg_color,
		shade (@theme_selected_bg_color, 0.86));
	background-color: @theme_base_color;
	color: shade (@theme_text_color, 1.0);
	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

/*Wncklist */
WnckTasklist .button {
	transition: all 300ms ease-out;
	background-image: linear-gradient(to bottom,
		shade (@theme_bg_color, 1.0),
		shade (@theme_bg_color, 0.96));
	background-color: @theme_base_color;
	color: @theme_text_color;

	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 0px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

WnckTasklist .button:active:hover,
WnckTasklist .button:active {
	transition: all 300ms ease-out;
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 0.86),
		shade (@theme_selected_bg_color, 0.26));
	background-color: @theme_base_color;
	color: shade (@theme_selected_fg_color, 1.00);
	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

WnckTasklist .button:hover {
	transition: all 300ms ease-out;
	background-image: linear-gradient(to bottom,
		@theme_bg_color,
		shade (@theme_selected_bg_color, 0.86));
	background-color: @theme_base_color;
	color: shade (@theme_text_color, 1.0);
	border-image: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	text-shadow: none;
	-GtkWidget-window-dragging: true;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
	transition: all 300ms ease-out;
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 0.86),
		shade (@theme_selected_bg_color, 0.26));
	background-color: @theme_base_color;
	color: shade (@theme_selected_fg_color, 1.00);
	text-shadow: none;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:active:hover,
PanelMenuBar.menubar .menu .menuitem:hover {
	transition: all 200ms ease-out;
	background-color: @theme_selected_bg_color;
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 1.0),
		shade (@theme_selected_bg_color, 0.85));
	color: shade (@theme_selected_fg_color, 1.00);
	text-shadow: none;
	border-style: none;
	border-width: 0px;
	border-radius: 0px;
}

/* set normal button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem,
MatePanelApplet > WnckSelector.menubar .menuitem {
	background-image: none;
	background-color: @theme_bg_color;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

/* set selected button WnckSelector */
.mate-panel-window-menu-menu-bar .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menuitem:hover {
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 0.86),
		shade (@theme_selected_bg_color, 0.26));
	background-color: @theme_base_color;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

/* set WnckSelector selected menuitem */
.mate-panel-window-menu-menu-bar .menu .menuitem:hover,
MatePanelApplet > WnckSelector.menubar .menu .menuitem:hover {
	background-color: @theme_selected_bg_color;
	background-image: linear-gradient(to bottom,
		shade (@theme_selected_bg_color, 1.0),
		shade (@theme_selected_bg_color, 0.85));
	color: shade (@theme_selected_fg_color, 1.00);
	text-shadow: none;
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
	font: normal;
}

WnckPager {
	background-image: none;
	border-color: transparent;
	background-color: @theme_bg_color;
	text-shadow: none;
}

/* prelight of WnckPager */
MatePanelApplet *:hover {
	background-image: linear-gradient(to bottom,
		@theme_bg_color,
		shade (@theme_selected_bg_color, 0.86));
	background-color: @theme_base_color;
}

NaTrayApplet {
/*	-NaTrayApplet-icon-padding: 12;
	-NaTrayApplet-icon-size: 16;*/
}

/* Classic icon style */
.mate-panel-menu-bar {
	-PanelMenuBar-icon-visible: true;
}

/* Makes the text color on the light panel black */
.mate-panel-menu-bar .menuitem {
	color: @theme_fg_color;
	text-shadow: none;
}

/****************
 * Pluma *
 ****************/

/* pluma line numbers */

PlumaView {
    background-color: shade (@theme_bg_color, 1.07);
}

/****************
 * Mate-Terminal *
 ****************/

TerminalWindow GtkNotebook.notebook tab {
	padding: 2px;
	border-color: transparent;
	border-width: 0px;
	background-image: none;
	background-color: transparent;
}

TerminalWindow GtkNotebook.notebook tab.top,
.notebook tab.bottom {
	padding: 2px;
}
