/****************
 * Applications *
 ****************/

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
	background-color: @chrome_bg_color;
	-EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
	background-color: @selected_fg_color;
	color: @theme_text_color;
	-TerminalScreen-background-darkness: 0.95;
}

/* gcalctool */
MathWindow {
	background-image: none;
	background-color: @theme_bg_color;
}

MathWindow .frame {
	border-color: @theme_main_color;
	padding: 0px;
}

MathWindow GtkScrolledWindow GtkViewport.frame {
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: @theme_main_color;
}

/* gnome-contacts */
.contacts-main-view.view {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
}

.contacts-left-toolbar.toolbar.menubar {
	border-width: 0 2px 0 0;
	border-style: solid;
	border-color: @theme_bg_color;
}

/* empathy and gnome-contacts */
EmpathyRosterView,
ContactsListPane.frame * {
	background-color: @theme_bg_color;
	color: @theme_text_color;
}

ContactsListPane.frame GtkLabel,
ContactsListPane.frame GtkImage,
ContactsListPane.frame GtkBox,
ContactsListPane.frame GtkGrid {
	background-color: transparent;
}

EmpathyRosterView:hover,
ContactsView:hover,
EmpathyRosterView GtkBin:hover,
ContactsView GtkBin:hover {
	background-color: alpha(shade(@theme_bg_color, 1.1), 0.4);
}

.contacts-suggestion {
	background-color: @theme_bg_color;
}

EmpathyRosterView:selected,
ContactsView:selected,
EmpathyRosterView GtkBin:selected,
ContactsView GtkBin:selected {
	background-image: linear-gradient(to bottom,
	                                  shade(@theme_bg_color, 0.8),
	                                  shade(@theme_bg_color, 1.2));
}

ContactsWindow .toolbar {
	background-image: none;
}

ContactsListPane.frame GtkToolbar,
ContactsListPane GtkScrolledWindow {
	border-radius: 0px;
}

ContactsListPane.frame GtkToolbar {
	padding: 4px 4px 10px 4px;
}

/* evolution */
GtkHTML,
EMailDisplay {
	background-color: @theme_main_color;
}

EShellWindow *:active {
	background-color: shade(@theme_selected_bg_color, 1.3);
	color: @theme_main_color;
}

EShellWindow .button *:active {
	background-color: transparent;
	color: @theme_fg_color;
}

EShellSidebar *.cell:insensitive { /* removes the "flash" when quitting */
	background-color: @theme_bg_color;
}

/* File Roller */
FrWindow GtkTreeView.view {
	background-color: @theme_bg_color;
}

/* gnome-documents and Totem's search */
.documents-entry-tag {
	background-color: transparent;
	border-radius: 3px;
	border-width: 0;
	margin: 2px;
	padding: 4px;
}

.documents-entry-tag:hover {
	background-color: shade(@theme_selected_bg_color, 1.23);
}

/*************
 * rhythmbox *
 *************/

.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:active,
.primary-toolbar.toolbar.horizontal RBHeader.horizontal GtkVolumeButton.button.flat:hover {
	padding: 0px 6px;
}

RBSource .cell.image {
	color: black;
}

/************
 * Nautilus *
 ************/

NautilusView .view {
	background-color: shade(@base_color, 1.04)
}

.nautilus-inactive-pane .view {
	background-color: shade(@theme_bg_color, 0.9);
}

.nautilus-inactive-pane .notebook {
	background-color: shade(@theme_bg_color, 0.9);
}

.nautilus-inactive-pane .notebook tab.top:active {
	background-image: linear-gradient(to bottom,
	                                  shade(@theme_bg_color, 0.8),
	                                  shade(@theme_bg_color, 0.86) 40%,
	                                  shade(@theme_bg_color, 0.88) 70%,
	                                  shade(@theme_bg_color, 0.9));
}

.nautilus-inactive-pane .notebook .scrollbar.button:insensitive {
	background-color: shade(@theme_bg_color, 0.9);
	border-radius: 0px;
}

/* file renaming */
NautilusView .view .entry,
NautilusView .view .entry:focus {
	background-image: none;
	border-image: none;
	border-style: solid;
	border-radius: 1px;
	border-color: @theme_selected_bg_color;
}

NautilusWindow GtkScrolledWindow.frame {
	border-style: none;
}

NautilusView .expander column:sorted:selected,
NautilusView .expander column:sorted:selected:hover {
	background-image: none;
	background-color: transparent;
}

/* the small line between sidebar and view */
NautilusWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@toolbar_gradient_base, 0.98);
    background-color: @theme_bg_color;
}

NautilusWindow GtkStatusbar,
NautilusWindow .floating-bar {
	font: italic;
}

NautilusWindow .notebook {
	/*border-color: shade(@notebook_border, 1.2);*/
	border-radius: 0px 0px 5px 5px;
}

NautilusWindow .notebook tab {
	border-radius: 0px;
}

NautilusWindow .notebook tab:active {
	border-radius: 0px 0px 5px 5px;
}

NautilusWindow .notebook tab.top {
	/* top right-left bottom */
	padding: 4px 8px 4px;
}

NautilusWindow .notebook tab.top:active {
	padding: 6px 8px 4px;
}

NautilusWindow .notebook .view.rubberband,
NautilusWindow .notebook .rubberband {
	background-color: alpha(@theme_selected_bg_color, 0.35);
	border-radius: 6px;
}

NautilusWindow .sidebar .view {
	background-color: shade(@theme_bg_color, 1.02);
	border-width: 0px;
}

NautilusWindow .sidebar .frame {
	border-width: 0px;
}

NautilusPlacesSidebar .cell:selected,
NautilusPlacesSidebar *.cell:selected {
	background-image:  linear-gradient(to bottom,
	                                   shade(@theme_bg_color, 1.2),
	                                   shade(@theme_bg_color, 0.63));
	color: @theme_text_color;
	border-radius: 2px;
}

NautilusPlacesSidebar .cell:selected:focus,
NautilusPlacesSidebar *.cell:selected:focus {
	color: @theme_text_color;
	background-image:  linear-gradient(to top,
	                                   shade(@theme_bg_color, 1.2),
	                                   shade(@theme_bg_color, 0.63));
}

NautilusPlacesSidebar .cell.image:selected,
NautilusPlacesSidebar .cell.image:selected:focus {
	color: shade(@theme_selected_bg_color, 0.75);
}

NautilusWindow .question, /* why question for trash? */
NautilusWindow .info,
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusQueryEditor.info,
NautilusSearchBar.info {
	background-color: @theme_bg_color;
}

NautilusWindow NautilusQueryEditor .toolbar,
NautilusWindow .notebook NautilusQueryEditor .toolbar {
	background-image: none;
	background-color: transparent;
	padding: 5px 7px;
}

.nautilus-canvas-item {
	border-radius: 5px;
}

NautilusDesktopWindow GtkPaned.horizontal {
	background-color: transparent;
}

.nautilus-desktop.nautilus-canvas-item {
	color: @theme_bg_color;
	text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
	color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
	color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
	text-shadow: none;
}

