 /********
 * Nemo *
 ********/

.nemo-window-pane notebook scrolledwindow {
    background-color: shade(@base_color, 1.04);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: alpha(@frame_color, 0.6);
}

.nemo-window-pane treeview.view {
    padding: 0px;
}

/* inactive pane */
/* bug in gtk+, .view writes no bg color in all browsers */
.nemo-inactive-pane .view,
.nemo-inactive-pane scrolledwindow,
.nemo-inactive-pane scrolledwindow treeview {
	background-color: shade(@theme_bg_color, 0.9);
}

.nemo-inactive-pane notebook {
	background-color: shade(@theme_bg_color, 0.9);
}

.nemo-inactive-pane notebook tab.top:checked {
	background-image: linear-gradient(to bottom,
	                                  shade(@theme_bg_color, 0.8),
	                                  shade(@theme_bg_color, 0.86) 40%,
	                                  shade(@theme_bg_color, 0.88) 70%,
	                                  shade(@theme_bg_color, 0.9));
}

.nemo-inactive-pane notebook scrollbar button:disabled {
	background-color: shade(@theme_bg_color, 0.9);
	border-radius: 0px;
}

.nemo-window-pane expander column:sorted:selected,
.nemo-window-pane expander column:sorted:selected:hover {
	background-image: none;
	background-color: transparent;
}

.nemo-window statusbar {
	font: italic;
}

.nemo-window box.toolbar.horizontal {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: shade(@toolbar_gradient_base, 0.98);
}

.nemo-window-pane .question,
.nemo-window-pane .info {
	background-color: @theme_bg_color;
	border-radius: 0px;
}

/* query-editor */
.nemo-window-pane  notebook box.vertical.toolbar.primary-toolbar {
	background-color: @theme_bg_color;
	padding: 5px 7px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: alpha(@frame_color, 0.6);
}

.nemo-window .sidebar scrolledwindow {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: alpha(@frame_color, 0.6);
}

.nemo-canvas-item {
	border-radius: 5px;
}

.nemo-desktop.nemo-canvas-item {
	color: @theme_bg_color;
	text-shadow: 1px 1px black;
}

.nemo-desktop.nemo-canvas-item:active {
	color: @theme_text_color;
}

.nemo-desktop.nemo-canvas-item:selected {
	color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:hover,
.nemo-desktop.nemo-canvas-item:selected {
	text-shadow: none;
}

.nemo-desktop.view .entry,
.nemo-desktop.view .entry:focus,
.nemo-desktop.view .entry:active,
.nemo-desktop.view .entry:backdrop,
.nemo-window-pane .view .entry,
.nemo-window-pane .view .entry:focus,
.nemo-window-pane .view .entry:active,
.nemo-window-pane .view .entry:backdrop {
   background-image: -gtk-gradient(linear,
                                   left top, left bottom,
                                   from       (shade(@theme_base_color, 0.86)),
                                   color-stop (0.15, shade(@theme_base_color, 0.96)),
                                   color-stop (0.50, shade(@theme_base_color, 0.98)),
                                   to         (shade(@theme_base_color, 1.00)));
   border-image: none;
   border-style: solid;
   border-width: 1px;
   border-color: @theme_fg_color;
   box-shadow: none;
   border-radius: 3px;
   text-shadow: none;
}

.nemo-desktop.view .entry:selected,
.nemo-desktop.view .entry:focus:selected,
.nemo-desktop.view .entry:focus:active,
.nemo-desktop.view .entry:backdrop:selected,
.nemo-window-pane .view .entry:selected,
.nemo-window-pane .view .entry:focus:active,
.nemo-window-pane .view .entry:focus:selected,
.nemo-window-pane .view .entry:backdrop:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    text-shadow: none;
}

/* parole madia list, hopefuly that styles no other things */
paned.horizontal > notebook  box.horizontal > box.vertical > notebook,
paned.horizontal > notebook  box.horizontal > box.vertical > notebook  scrolledwindow.frame {
	border-style: none;
	border-width: 0px;
	border-radius: 0px;
	padding: 0;
}

paned.horizontal > notebook box.horizontal > box.vertical > toolbar.horizontal.inline-toolbar {
	border-width: 1px 0px 0px  0px;
	padding: 0;
}
