/*********************
 * CAJA File manager *
 *********************/

/**** View ***/

/* background of all views */
CajaNavigationWindow .view {
    background-color: @less_dark_color;
	color: @theme_fg_color;
    border-color: transparent;
}

.caja-inactive-pane .view {
	background-color: shade(@less_dark_color, 1.3);
}

/**** Window ***/

CajaNavigationWindow .horizontal .vertical {
    background-color: @theme_bg_color;
}

/* don't override gtktooglebutton */
CajaNavigationWindow .toolbar.horizontal.primary-toolbar .vertical {
    background-color: transparent;
}

/* the small line between sidebar and view */
CajaWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-color: transparent;
    background-color: @theme_bg_color;
}

CajaWindow GtkScrolledWindow.frame {
	border-style: none;
}

/* Caja pathbar */
CajaNavigationWindow .horizontal .vertical .horizontal .vertical .horizontal CajaPathBar .button ,
CajaNavigationWindow .horizontal .vertical .horizontal .vertical .horizontal .button.image-button {
    padding: 5px;
}

/* View toogle button */
CajaNavigationWindow .toolbar.horizontal.primary-toolbar .vertical .button {
        padding: 6px;
}

CajaWindow .button {
	border-image: url("assets/button-border-dark1.svg") 3 / 3px stretch;
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 1.3),
	                                  shade(@less_dark_color, 0.4));
}

CajaWindow .button:hover {
	background-image: -gtk-gradient (radial,
					0.5 -2.0, 2.0,
					0.5 -2.0, 3.0,
					from (shade(@button_gradient_color_a, 1.5)),
					color-stop (0.42, shade(@button_gradient_color_a, 0.7)),
					color-stop (0.43, @theme_bg_color),
					to (shade(@less_dark_color, 0.4)));

}

CajaWindow .button:checked,
CajaWindow .button:hover:checked,
CajaWindow .button:active,
CajaWindow .button:hover:active {
	background-image: linear-gradient(to bottom,
	                                  shade(@button_gradient_color_b, 0.7),
	                                  @theme_bg_color 40%,
	                                  shade(@less_dark_color, 1.6));
	border-image: url("assets/button-active-border-dark1.svg") 3 / 3px stretch;
}

CajaWindow column-header .button,
CajaWindow column-header .button:hover {
	border-image: none;
	border-width: 0px 0px 1px 1px;
	border-radius: 0;
	border-style: solid;
	border-color: @less_dark_color;
}

CajaWindow .toolbar {
	/*border-radius: 3px 0px 0px 3px;*/
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 0.4),
	                                  shade(@less_dark_color, 1.36));
}

CajaToolbar .toolbar {
	border-radius: 0px;
}

CajaWindow .scrollbar.slider:prelight,
CajaWindow .scrollbar.slider:prelight:active,
CajaWindow .scrollbar.slider.vertical:prelight,
CajaWindow .scrollbar.slider.vertical:prelight:active {
	border-color: shade(@scroll_slider_color, 1.1);
}

CajaWindow .scrollbar.button,
CajaWindow .scrollbar.button.horizontal,
CajaWindow .scrollbar.button.vertical,
CajaWindow .scrollbar.button:insensitive,
CajaWindow .scrollbar.button.horizontal:insensitive,
CajaWindow .scrollbar.button.vertical:insensitive {
	background-image: none;
}

CajaWindow GtkStatusbar,
CajaWindow .floating-bar {
	font: italic;
}

CajaWindow .floating-bar.right,
CajaWindow .floating-bar.left {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/**** Notebook ***/

.caja-inactive-pane .notebook {
	background-color: shade(@less_dark_color, 1.3);
	border-color: @less_dark_color;
}

.caja-inactive-pane .notebook tab.top:active {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 1.05),
	                                  shade(@less_dark_color, 1.16) 40%,
	                                  shade(@less_dark_color, 1.25) 70%,
	                                  shade(@less_dark_color, 1.3));
}

CajaWindow .notebook .view.rubberband,
CajaWindow .notebook .rubberband {
	background-color: alpha(@theme_selected_bg_color, 0.35);
}

CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical .notebook tab {
	padding: 3px 0px;
}

CajaNavigationWindow GtkPaned.horizontal GtkPaned.horizontal .vertical .notebook tab .button.flat {
    border-image: none;
}

/* Caja places bar */
CajaWindow .button.flat {
    border-style: none;
    border-image: url("assets/primary-toolbar-button-active-border-dark.svg") 3 / 3px stretch;
    border-radius: 3px;
    padding: 2px 5px;
}

CajaWindow .button.flat:hover {
    border-image: none;
    border-radius: 3px;
    padding: 2px 5px;
}

/**** Sidebar ***/

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaEmblemSidebar .frame,
CajaWindow CajaInformationPanel .vertical {
    background-color: shade (@theme_bg_color, 1.08);
}

CajaWindow .sidebar .frame {
	border-width: 0px;
}

/* moved eject button to left better for overlay scrollbars */
CajaWindow CajaPlacesSidebar .view row {
    padding: 0px 4px 0px 0px;
}

CajaWindow .sidebar .scrollbar.button {
	color: transparent;
}

CajaWindow .sidebar .scrollbar.button:hover {
	color: @theme_fg_color;
}

CajaPlacesSidebar .cell,
CajaPlacesSidebar *.cell {
	color: @theme_text_color;
}

CajaPlacesSidebar .cell:hover,
CajaPlacesSidebar *.cell:hover {
	color: @theme_text_color;
}

CajaPlacesSidebar .cell:selected,
CajaPlacesSidebar *.cell:selected {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 1.5),
	                                  shade(@less_dark_color, 0.6));
	color: @theme_text_color;
	border-radius: 2px;
}

CajaPlacesSidebar .cell:selected:focus,
CajaPlacesSidebar *.cell:selected:focus {
	color: @theme_text_color;
	background-image: linear-gradient(to top,
					 shade(@less_dark_color, 1.5),
					 shade(@less_dark_color, 0.6));
}

/**** Infos ***/

CajaWindow .question,
CajaWindow .info,
CajaTrashBar.info,
CajaXContentBar.info,
CajaQueryEditor.info {
	background-color: transparent;
}

CajaSearchBar.info {
	border-radius: 0px;
	background-color: @less_dark_color;
}

CajaWindow CajaQueryEditor .toolbar,
CajaWindow .notebook CajaQueryEditor .toolbar {
	background-image: none;
	background-color: transparent;
	padding: 5px 7px;
}

CajaSearchBar .entry,
CajaQueryEditor .toolbar .entry {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 0.2),
	                                  shade(@less_dark_color, 0.5) 10%,
	                                  @less_dark_color 50%,
	                                  shade(@less_dark_color, 1.5));
	box-shadow: inset 0 -3px alpha(@entry_shadow, 0.03),
	            inset 0 -2px alpha(@entry_shadow, 0.04),
	            inset 0 -1px alpha(@entry_shadow, 0.06);
}

CajaSearchBar .entry:focus,
CajaQueryEditor .toolbar .entry:focus {
	border-color: shade(@less_dark_color, 1.4);
	box-shadow: inset 0 -2px alpha(@entry_shadow, 0.04),
	            inset 0 -1px alpha(@entry_shadow, 0.06);
}

.caja-canvas-item,
EelEditableLabel.entry {
	border-radius: 4px;
}

/* view */
CajaNavigationWindow.background .view.caja-canvas-item {
    color: @theme_fg_color;
}

CajaNavigationWindow.background .view.caja-canvas-item:active,
CajaNavigationWindow.background .view.caja-canvas-item:selected {
    color: @theme_selected_fg_color;
}

/**** Desktop Drawn ***/

CajaDesktopWindow.background .caja-canvas-item {
	color: @theme_fg_color;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

CajaDesktopWindow.background .caja-canvas-item:active {
	color: @theme_text_color;
}

CajaDesktopWindow.background .caja-canvas-item:selected {
	color: @theme_selected_fg_color;
}

CajaDesktopWindow.background .caja-canvas-item:active,
CajaDesktopWindow.background .caja-canvas-item:prelight,
CajaDesktopWindow.background .caja-canvas-item:selected {
	text-shadow: none;
}


/****************
 * Mate-Panel   *
 ****************/

/* first make all transparent */
PanelToplevel.background.horizontal {
    background-color: transparent;
}

WnckSelector.menubar,
PanelMenuBar.menubar,
WnckSelector GtkMenuItem,
PanelMenuBar GtkMenuItem,
MatePanelApplet GtkToggleButton.button {
    border-image: none;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

/* let's started */
/* the panel bar itself */
PanelToplevel.background.horizontal {
    background-color: @theme_bg_color;
}

.mate-panel-menu-bar {
    background-color: @theme_bg_color;
    background-image: none;
    /* normal panel */
    color: @theme_fg_color;
    /* transparent panel light desktop background*/
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
}

/*stop panel from being spaced above bottom of screen,
  stop failure of cpufreq-appet to show all labels*/

.mate-panel-menu-bar,
.mate-panel-menu-bar * {
	padding: 0px;
}

/*Keep above from removing padding from menus*/

.mate-panel-menu-bar GtkMenuItem,
.mate-panel-menu-bar .menuitem{
	padding: 6px;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
}

/* panel grip */
PanelToplevel.background {
    border-radius: 3px;
/* enable for making borders visible */
/*    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3); */
}

/* hide buttons */
PanelToplevel.background .button {
    background: transparent;
    border-image: none;
    border-radius: 3px;
    border-width: 0px;
    padding: 0px;
    box-shadow: none;
}

PanelToplevel.background .button:hover {
    border-style: solid;
    border-width: 0px;
    border-color: shade(@button_border, 1.1);
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_a, 1.5),
                                      shade(@button_gradient_color_a, 0.7) 39%,
                                      @theme_bg_color 40%,
                                      shade(@less_dark_color, 0.4));
}

PanelToplevel.background .button:hover:active {
    border-style: solid;
    border-width: 0px;
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_b, 0.7),
                                      @theme_bg_color 50%,
                                      shade(@button_gradient_color_a, 1.5));
}

MatePanelApplet {
    border-width: 0;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 0.96)),
                                     to (shade (@theme_bg_color, 1.05)));
    color: shade (@theme_fg_color, 0.45);
    text-shadow: none;
}

/* dictionary applet */
GdictApplet .entry,
GdictApplet .entry:focus {
    border-style: none;
    padding: 1px 4px 5px 4px;
    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3);
}

/* the grid left from wnckpager and wncktasklist */
MatePanelAppletFrameDBus {
    background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

/* this makes text readable with all kind of wallpapers if using a transparent panel */
/*Limit this to the panel itself, keeping it off the menus*/
#PanelApplet .label,
.mate-panel-menu-bar .menubar > .menuitem,
.mate-panel-menu-bar .menubar > .menuitem > .label {
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

/* set normal menubar button */
PanelMenuBar.menubar .menuitem {
    transition: all 300ms ease-out;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
}

/* set normal menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
    padding: 6px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:checked:hover,
PanelMenuBar.menubar .menu .menuitem:active:hover,
PanelMenuBar.menubar .menu .menuitem:hover {
}

/* Mate menu button normal */
/* makes the arrow visible, nothing more works */
PanelMenuButton.button {
    background-image: none;
    background-color: transparent;
    color: shade (@menu_fg_color, 1.00);
}

/* Mate menu menuitem */
PanelMenuButton .menu .menuitem,
PanelMenuButton .menu .menuitem:hover {
    padding: 6px;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button,
MatePanelApplet .button.flat {
    transition: all 400ms ease-out;
    border-radius: 1px;
    padding: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    /* normal panel */
    color: @theme_fg_color;
    /* transparent panel light desktop background*/
/*  color: @theme_selected_fg_color; */
    background-image: none;
}

MatePanelApplet .button:checked:hover,
MatePanelApplet .button:checked,
MatePanelApplet .button:active:hover,
MatePanelApplet .button:active {
    border-radius: 3px;
    color: @theme_fg_color;
    border-style: solid;
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_b, 0.7),
                                      @theme_bg_color 50%,
                                      shade(@button_gradient_color_a, 1.5));
}

MatePanelApplet .button:hover,
MatePanelApplet .button.flat:hover {
    border-radius: 3px;
    border-image: none;
    border-style: solid;
    border-color: shade(@button_border, 1.1);
    background-image: -gtk-gradient (radial,
                      0.5 -2.0, 2.0,
                      0.5 -2.0, 3.0,
                      from (shade(@button_gradient_color_a, 1.5)),
                      color-stop (0.42, shade(@button_gradient_color_a, 0.7)),
                      color-stop (0.43, @theme_bg_color),
                      to (shade(@button_gradient_color_b, 0.7)));
}

/*Wncklist */
WnckTasklist .button {
    transition: all 400ms ease-out;
    padding: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    color: @theme_fg_color;
    background-image: -gtk-gradient (radial,
                      0.5 -2.0, 2.0,
                      0.5 -2.0, 3.0,
                      from (shade(@button_gradient_color_a, 1.5)),
                      color-stop (0.42, shade(@button_gradient_color_a, 0.7)),
                      color-stop (0.43, @theme_bg_color),
                      to (shade(@button_gradient_color_b, 0.7)));
}

WnckTasklist .button:checked:hover,
WnckTasklist .button:checked,
WnckTasklist .button:active:hover,
WnckTasklist .button:active {
    border-radius: 3px;
    color: @theme_fg_color;
    border-style: solid;
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_b, 0.7),
                                      @theme_bg_color 50%,
                                      shade(@button_gradient_color_a, 1.5));
}

WnckTasklist .button:hover {
    border-radius: 3px;
    border-image: none;
    border-style: solid;
    border-color: shade(@button_border, 1.1);
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_a, 1.5),
                                      shade(@button_gradient_color_a, 0.7) 39%,
                                      @theme_bg_color 40%,
                                      shade(@less_dark_color, 0.4));
}

/* set normal button WnckSelector */
WnckSelector.menubar .menuitem {
    border-radius: 3px;
    color: @theme_fg_color;
    border-style: solid;
    background-image: none;
}

/* set selected button WnckSelector */
WnckSelector.menubar .menuitem:hover {
    color: @theme_fg_color;
    border-style: solid;
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_b, 0.7),
                                      @theme_bg_color 50%,
                                      shade(@button_gradient_color_a, 1.5));
}

/* set WnckSelector menuitem */
WnckSelector.menubar .menu .menuitem {
    background-image:  none;
    color: @theme_text_color;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

/* set WnckSelector selected menuitem */
WnckSelector.menubar .menu .menuitem:hover {
    border-image: none;
    color: @theme_fg_color;
    background-image: linear-gradient(to bottom,
                                      shade(@theme_selected_bg_color, 1.3),
                                      shade(@theme_selected_bg_color, 0.5));
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
    font: normal;
}

WnckPager {
    background-image: none;
    border-color: transparent;
    background-color: transparent;
    text-shadow: none;
}

/* selected WnckPager */
WnckPager:selected {
    background-image: linear-gradient(to bottom,
                                      @theme_selected_bg_color,
                                      shade (@theme_selected_bg_color, 0.36));
}

/* prelight of WnckPager */
WnckPager:hover {
    background-image: linear-gradient(to bottom,
                                      @theme_bg_color,
                                      shade (@theme_selected_bg_color, 0.86));
}

/* drivemount */
DriveList .button,
DriveList .button.flat,
DriveList .button:hover,
DriveList .button.flat:hover,
DriveList .button:active,
DriveList .button.flat:active {
    padding: 4px;
    border-radius: 3px;
    border-color: transparent;
    box-shadow: none;
}

/* system-monitor-applet */
MatePanelApplet .horizontal .vertical .frame {
    box-shadow: inset  0px  1px shade (@theme_selected_bg_color, 1.3),
                inset  1px  0px shade (@theme_selected_bg_color, 1.3),
                inset -1px  0px shade (@theme_selected_bg_color, 1.3),
                inset  0px -1px shade (@theme_selected_bg_color, 1.3);
    border-style: none;
    border-radius: 5px;
}

/* no background for icon-padding area */
GtkTrayIcon.background {
    background-color: transparent;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 3px;
    -NaTrayApplet-icon-size: 16;
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    background-color: @theme_bg_color;
    border-image: none;
    border-style: solid;
    border-radius:3px;
    padding: 0px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
    box-shadow: none;
}

.mate-panel-applet-slider .frame .button {
    color: @theme_fg_color;
    padding: 4px 0px;
    margin: 0px;
}

/*********
 * Pluma *
 *********/

/* text view */
/* remove general frame color to avoid double edges */
PlumaWindow.background .vertical .horizontal .vertical .notebook .vertical .frame {
    background-color: #D9D9D9;
}

/* override for previous setting */
PlumaDocumentsPanel.vertical .frame,
PlumaFileBrowserWidget.vertical .frame {
    border-color: shade(@less_dark_color, 1.0);
    background-image: linear-gradient(to bottom,
                                      shade(@button_gradient_color_a, 1.0),
                                      shade(@button_gradient_color_a, 1.0));
}

/* Pluma status bar */
PlumaWindow .button.flat {
    border-style: none;
    border-image: url("assets/primary-toolbar-button-active-border-dark.svg") 3 / 3px stretch;
    border-radius: 5px;
}

PlumaWindow .button.flat:hover {
    border-image: none;
    border-radius: 5px;
}

/* surpress styling of close button */
PlumaWindow .notebook tab .button.flat,
PlumaWindow .notebook tab .button.flat:hover {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255,255,255,0), 0 1px rgba(255,255,255,0);
    text-shadow: none;
    icon-shadow: none;
    border-image: none;
}

PlumaCloseButton.button.flat,
PlumaCloseButton.button.flat:hover,
PlumaCloseButton:prelight.button.flat,
PlumaCloseButton:prelight.button.flat:hover {
    padding: 0px;
}

/* close button tab text view */
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat,
PlumaWindow .vertical .horizontal .vertical .notebook .horizontal PlumaCloseButton.button.flat:hover {
    padding: 3px 0px;
}

/* Printpreview */
/* text view */
PlumaPrintPreview.vertical GtkLayout {
    background-color: #D9D9D9;
}

PlumaPrintPreview.vertical .toolbar.horizontal {
	background-image: linear-gradient(to bottom,
	                                  @toolbar_gradient_base,
	                                  @toolbar_gradient_bottom);
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal GtkToolItem .horizontal .entry {
    padding: 4px 6px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.image-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.text-button,
PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.text-button {
    padding: 0px 4px;
    border-radius: 2px;
}

/* sidebar file-browser */
PlumaPanel.vertical {
    border-radius: 3px 3px 0px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: @borders;
    box-shadow: none;
}

PlumaPanel.vertical .horizontal .horizontal GtkImage {
    padding: 0px;
}

PlumaPanel.vertical .notebook {
    background-color: shade(@less_dark_color, 1.0);
}

PlumaPanel.vertical .notebook.header.frame {
	border-width: 0px 1px 1px 0px;
    border-color: shade(@less_dark_color, 1.25);
	border-radius: 0px;
	border-style: solid;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal {
    padding: 4px 0px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.image-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.menu-button,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 3px;
}

PlumaFileBrowserWidget.vertical GtkExpander {
    padding: 4px;
}

PlumaFileBrowserWidget.vertical GtkExpander:hover {
	background-image: -gtk-gradient (radial,
					0.5 -2.0, 2.0,
					0.5 -2.0, 3.0,
					from (shade(@button_gradient_color_a, 1.5)),
					color-stop (0.42, shade(@button_gradient_color_a, 0.7)),
					color-stop (0.43, @theme_bg_color),
					to (shade(@button_gradient_color_b, 0.7)));
    border-radius: 4px;
}

/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
ShellWindow AppResizer .view {
    background-color: @less_dark_color;
}

ShellWindow GtkScrolledWindow .button.flat {
    border-image: none;
}

/* button hover of applications */
ShellWindow GtkScrolledWindow .button.flat:hover {
    border-radius: 8px;
}

/*******
 * Eom *
 *******/

EomThumbNav .button.flat:first-child {
    border-radius: 4px 0px 0px 4px;
    border-width: 1px 0px 1px 1px;
}

EomThumbNav .button.flat:last-child {
    border-radius: 0px 4px 4px 0px;
    border-width: 1px 1px 1px 0px;
}

EomThumbNav .button.flat:hover:first-child {
    background-image: linear-gradient(to right,
                                      shade(@button_gradient_color_b, 0.7),
                                      @theme_bg_color 50%,
                                      shade(@button_gradient_color_a, 0.8));
}

EomThumbNav .button.flat:hover:last-child {
    background-image: linear-gradient(to left,
                                      shade(@button_gradient_color_b, 0.7),
                                      @theme_bg_color 50%,
                                      shade(@button_gradient_color_a, 0.8));
}

EomThumbNav .button.flat:insensitive {
    background-image: none;
}

