/********
 * Nemo *
 ********/

NemoWindow > GtkGrid > .pane-separator {
	color: shade(@theme_selected_bg_color, 2.0);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("assets/notebook-pane-separator-grip.svg");
	background-color: @less_dark_color;
}

NemoWindow > GtkGrid > .pane-separator:hover,
NemoWindow > GtkGrid > .pane-separator:selected {
	background-image: url("assets/notebook-pane-separator-grip-hover.svg");
}

/* is this really needed? */
NemoWindow > GtkGrid > .pane-separator.vertical {
	background-image: url("assets/notebook-pane-separator-grip-vertical.svg");
}

NemoWindow > GtkGrid > .pane-separator.vertical:hover,
NemoWindow > GtkGrid > .pane-separator.vertical:selected {
	background-image: url("assets/notebook-pane-separator-grip-vertical-hover.svg");
}

/**** View ***/

NemoView .view {
	background-color: shade (@theme_bg_color, 1.08);
	color: @theme_fg_color;
}

.nemo-inactive-pane .view {
	background-color: shade(@less_dark_color, 1.3);
}

/* file renaming */
NemoView .view .entry,
NemoView .view .entry:focus {
	background-image: none;
	border-image: none;
	border-style: solid;
	border-radius: 1px;
	border-color: @theme_selected_bg_color;
	background-color: shade(@theme_selected_bg_color, 0.3);
}

/**** Window ***/

NemoWindow .view {
	background-color: shade (@theme_bg_color, 1.08);
	color: @theme_fg_color;
}

/* the small line between sidebar and view */
NemoWindow * {
	-GtkPaned-handle-size: 2px;
}

NemoWindow GtkPaned {
	background-color: @less_dark_color;
}

NemoWindow GtkScrolledWindow.frame {
	border-style: none;
}

NemoWindow .button {
	border-image: url("assets/button-border-dark1.svg") 3 / 3px stretch;
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 1.3),
	                                  shade(@less_dark_color, 0.4));
}

NemoWindow .button:hover {
	background-image: -gtk-gradient (radial,
					0.5 -2.0, 2.0,
					0.5 -2.0, 3.0,
					from (shade(@button_gradient_color_a, 1.5)),
					color-stop (0.42, shade(@button_gradient_color_a, 0.7)),
					color-stop (0.43, @theme_bg_color),
					to (shade(@less_dark_color, 0.4)));

}

NemoWindow .button:checked,
NemoWindow .button:hover:checked,
NemoWindow .button:active,
NemoWindow .button:hover:active {
	background-image: linear-gradient(to bottom,
	                                  shade(@button_gradient_color_b, 0.7),
	                                  @theme_bg_color 40%,
	                                  shade(@less_dark_color, 1.6));
	border-image: url("assets/button-active-border-dark1.svg") 3 / 3px stretch;
}

NemoWindow column-header .button,
NemoWindow column-header .button:hover {
	border-image: none;
	border-width: 0px 0px 1px 1px;
	border-radius: 0;
	border-style: solid;
	border-color: @less_dark_color;
}

NemoWindow .toolbar {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 0.4),
	                                  shade(@less_dark_color, 1.36));
}

NemoToolbar .toolbar {
	border-radius: 0px;
}

NemoWindow .scrollbar.slider:prelight,
NemoWindow .scrollbar.slider:prelight:active,
NemoWindow .scrollbar.slider.vertical:prelight,
NemoWindow .scrollbar.slider.vertical:prelight:active {
	border-color: shade(@scroll_slider_color, 1.1);
}

NemoWindow .scrollbar.button,
NemoWindow .scrollbar.button.horizontal,
NemoWindow .scrollbar.button.vertical,
NemoWindow .scrollbar.button:insensitive,
NemoWindow .scrollbar.button.horizontal:insensitive,
NemoWindow .scrollbar.button.vertical:insensitive {
	background-image: none;
}

NemoWindow GtkStatusbar,
NemoWindow .floating-bar {
	font: italic;
}

NemoWindow .floating-bar.right,
NemoWindow .floating-bar.left {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/**** Notebook ***/

.nemo-inactive-pane .notebook {
	border-color: @less_dark_color;
}

.nemo-inactive-pane .notebook tab.top:active {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 1.05),
	                                  shade(@less_dark_color, 1.16) 40%,
	                                  shade(@less_dark_color, 1.25) 70%,
	                                  shade(@less_dark_color, 1.3));
}

NemoWindow .notebook .view.rubberband,
NemoWindow .notebook .rubberband {
	background-color: alpha(@theme_selected_bg_color, 0.35);
}

/**** Sidebar ***/

NemoWindow .sidebar .frame {
	border-width: 0px;
}

NemoWindow .sidebar .scrollbar.button {
	color: @theme_fg_color;
}

NemoWindow .sidebar .scrollbar.button:hover {
	color: @theme_fg_color;
}

NemoPlacesSidebar .cell,
NemoPlacesSidebar *.cell {
	color: @theme_text_color;
}

NemoPlacesSidebar .cell:hover,
NemoPlacesSidebar *.cell:hover {
	color: @theme_text_color;
}

NemoPlacesSidebar .cell:selected,
NemoPlacesSidebar *.cell:selected {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 1.5),
	                                  shade(@less_dark_color, 0.6));
	color: @theme_text_color;
	border-radius: 2px;
}

NemoPlacesSidebar .cell:selected:focus,
NemoPlacesSidebar *.cell:selected:focus {
	color: @theme_text_color;
	background-image: linear-gradient(to top,
					 shade(@less_dark_color, 1.5),
					 shade(@less_dark_color, 0.6));
}

/**** Infos ***/

NemoWindow .question,
NemoWindow .info,
NemoTrashBar.info,
NemoXContentBar.info,
NemoQueryEditor.info {
	background-color: transparent;
}

NemoSearchBar.info {
	border-radius: 0px;
	background-color: @less_dark_color;
}

NemoWindow NemoQueryEditor .toolbar,
NemoWindow .notebook NemoQueryEditor .toolbar {
	background-image: none;
	background-color: transparent;
	padding: 5px 7px;
}

NemoSearchBar .entry,
NemoQueryEditor .toolbar .entry {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 0.2),
	                                  shade(@less_dark_color, 0.5) 10%,
	                                  @less_dark_color 50%,
	                                  shade(@less_dark_color, 1.5));
	box-shadow: inset 0 -3px alpha(@entry_shadow, 0.03),
	            inset 0 -2px alpha(@entry_shadow, 0.04),
	            inset 0 -1px alpha(@entry_shadow, 0.06);
}

NemoSearchBar .entry:focus,
NemoQueryEditor .toolbar .entry:focus {
	border-color: shade(@less_dark_color, 1.4);
	box-shadow: inset 0 -2px alpha(@entry_shadow, 0.04),
	            inset 0 -1px alpha(@entry_shadow, 0.06);
}

.nemo-canvas-item {
	border-radius: 5px;
}

/**** Desktop Drawn ***/

.nemo-desktop.nemo-canvas-item {
	color: @theme_fg_color;
	text-shadow: none;
}

.nemo-desktop.nemo-canvas-item:active {
	color: @theme_text_color;
}

.nemo-desktop.nemo-canvas-item:selected {
	color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
	text-shadow: none;
}

/* redhat's abrt, hopefully this styles not anything else, damn python app! */
.background .vertical GtkPaned.horizontal .vertical GtkNotebook GtkGrid.horizontal GtkGrid.horizontal {
   background-color: @less_dark_color;
   border-radius: 2px;
}

/****************
 * Dconf-editor *
 ****************/

DConfWindow GtkTreeView.view {
    background-color: shade (@theme_bg_color, 1.08);
}

DConfWindow GtkTreeView.view row:hover {
    background-color: alpha(@theme_selected_bg_color, 0.2);
}

DConfWindow DConfKeyView.view {
    background-color: @less_dark_color;
}

/* the small line between sidebar and view */
DConfWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-color: transparent;
    background-color: @theme_bg_color;
}

