/* Fallback Mode MatePanel */
MatePanelWidget :backdrop,
MatePanelApplet :backdrop,
MatePanelToplevel :backdrop,
MatePanelWidget,
MatePanelApplet,
MatePanelToplevel {
    border-image: none;

    color: @dark_bg_color;
}

MatePanelWidget,
MatePanelApplet,
MatePanelToplevel {
    background-color: @dark_bg_color;
}

MatePanelApplet {
    border-width: 0;
}

MatePanelSeparator:backdrop,
MatePanelSeparator {
    border-width: 0;
    background-color: @dark_bg_color;
}

.mate-panel-menu-bar,
MatePanelApplet > GtkMenuBar.menubar,
MatePanelApplet > GtkMenuBar.menubar.menuitem,
MatePanelMenuBar.menubar,
MatePanelMenuBar.menubar.menuitem {
    -MatePanelMenuBar-icon-visible: true;
    background-color: @dark_bg_color;
}

MatePanelAppletFrame {
    background-color: @dark_bg_color;
    border-width: 0;
}

MatePanelApplet .button:backdrop,
MatePanelApplet .button {
    -GtkButton-inner-border: 2;

    border-image: none;
    background-color: @dark_bg_color;
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.3);
    border-radius: 0;
    border-width: 0 1px 0 1px;
    text-shadow: none;
}

MatePanelApplet .button:active:prelight:backdrop,
MatePanelApplet .button:active:prelight,
MatePanelApplet .button:active:backdrop,
MatePanelApplet .button:active {
    border-image: none;
    background-color: @dark_bg_color;
    border-color: shade (@dark_bg_color, 0.9);
}

MatePanelApplet .button:prelight:backdrop,
MatePanelApplet .button:prelight {
    border-image: none;
    background-color: @dark_bg_color;
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.4);
}

ClockBox {
    text-shadow: 0 -1px shade (@dark_bg_color, 0.6);
}

WnckPager, WnckTasklist {
    background-color: @dark_bg_color;
}
