/*******************
 * Pane separators *
 *******************/
/*.pane-separator {
	background-image: url("assets/pane-separator-grip.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.pane-separator:hover {
	background-image: url("assets/pane-separator-grip-prelight.svg");
}

.pane-separator.vertical {
	background-image: url("assets/pane-separator-grip-vertical.svg");
}

.pane-separator.vertical:hover {
	background-image: url("assets/pane-separator-grip-vertical-prelight.svg");
}*/

/*************************
 * Header bar separator  *
 *************************/

headerbar > box > separator.vertical,
.header-bar > GtkBox > .separator.vertical {
	-GtkWidget-wide-separators: 1; /* deprecated, but ignored */
	-GtkWidget-separator-width: 2px; /* deprecated, but ignored */
	background: transparent;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: transparent;
	border-image: -gtk-scaled(url("assets/header-separator.png"),url("assets/header-separator@2.png")) 0 1 0 1 / 0 1px 0 1px stretch;
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */

check,
.view.cell check,
.check,
.view.cell.check {
	-gtk-icon-source: -gtk-scaled(url("assets/check-normal.png"));
	background-repeat: no-repeat;
	background-position: center;
}

check:disabled,
.check:disabled {
	-gtk-icon-source: -gtk-scaled(url("assets/check-normal-ins.png"));
}

check row:disabled,
.check row:disabled {
	background-color: transparent;
}

check:active,
check:checked,
.view.cell check:active,
.view.cell check:checked,
.check:active,
.check:checked,
.view.cell.check:active,
.view.cell.check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/check-active.png"));
}

check:active:disabled,
check:checked:disabled,
.check:active:disabled,
.check:checked:disabled {
	-gtk-icon-source: -gtk-scaled(url("assets/check-active-ins.png"));
}

check:indeterminate,
.check:indeterminate {
	-gtk-icon-source: -gtk-scaled(url("assets/check-mixed-active.png"));
}

check:indeterminate:disabled,
.check:indeterminate:disabled {
	-gtk-icon-source: -gtk-scaled(url("assets/check-mixed-active-ins.png"));
}

radio,
.view.cell radio,
.radio,
.view.cell.radio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-normal.png"));
	background-repeat: no-repeat;
	background-position: center;
}

radio:disabled,
.radio:disabled {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-normal-ins.png"));
}

radio row:disabled,
.radio row:disabled {
	background-color: transparent;
}

radio:active,
.view.cell radio:active,
radio:checked,
.view.cell radio:checked,
.radio:active,
.view.cell.radio:active,
.radio:checked,
.view.cell.radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-active.png"));
}

radio:active:disabled,
radio:checked:disabled,
.radio:active:disabled,
.radio:checked:disabled {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-active-ins.png"));
}

radio:indeterminate,
.radio:indeterminate {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-active.png"));
}

.radio:indeterminate:disabled,
.radio:indeterminate:disabled {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-active-ins.png"));
}

.sidebar .view.radio:active,
.sidebar .view.radio:active:focus,
.sidebar .view.radio:active:hover,
.sidebar .view.radio:checked,
.sidebar .view.radio:checked:focus,
.sidebar .view.radio:checked:hover {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-checked.svg"));
}

.sidebar .view.radio:hover {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-prelight.svg"));
}

.sidebar .view.radio:active:selected,
.sidebar .view.radio:active:selected:focus,
.sidebar .view.radio:checked:selected,
.sidebar .view.radio:checked:selected:focus {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected.svg"));
}

.sidebar .view.radio:selected:hover,
.sidebar .view.radio:selected:focus {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected-prelight.svg"));	
}

/*************
 * GtkSwitch *
 *************/

switch,
GtkSwitch.trough {
 	background-image: url("assets/switch-off.png");
    background-repeat: no-repeat;
}

switch:active,
GtkSwitch.trough:active {
	background-image: url("assets/switch-on.png");
    background-repeat: no-repeat;
}

switch:disabled,
GtkSwitch.trough:disabled {
	background-image: url("assets/switch-off-ins.png");
    background-repeat: no-repeat;
}

switch:active:disabled,
GtkSwitch.trough:active:disabled {
	background-image: url("assets/switch-on-ins.png");
    background-repeat: no-repeat;
}

/*********************
 * GtkScale's slider *
 *********************/
scale slider,
.scale.slider,
.scale.slider.horizontal {
	background-image: url("assets/slider.png");
    background-repeat: no-repeat;
}

scale slider:hover,
.scale.slider:hover,
.scale.slider.horizontal:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}
/*
.scale.slider:active,
.scale.slider:active:hover,
.scale.slider.horizontal:active,
.scale.slider.horizontal:active:hover {
	background-image: url("assets/slider-hover.png");
}
*/
scale slider:disabled,
scale slider:disabled:hover,
.scale.slider.horizontal:disabled,
.scale.slider.horizontal:disabled:hover {
	background-image: url("assets/slider-ins.png");
    background-repeat: no-repeat;
}
/*
.scale.scale-has-marks-above.slider.horizontal {
	background-image: url("assets/slider.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.horizontal:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.horizontal:active:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.horizontal:disabled:hover {
	background-image: url("assets/slider-ins.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.vertical {
	background-image: url("assets/slider.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.vertical:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.vertical:active,
.scale.scale-has-marks-above.slider.vertical:active:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-above.slider.vertical:disabled,
.scale.scale-has-marks-above.slider.vertical:disabled:hover {
	background-image: url("assets/slider-ins.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.horizontal {
	background-image: url("assets/slider.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.horizontal:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.horizontal:active,
.scale.scale-has-marks-below.slider.horizontal:active:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.horizontal:disabled:hover {
	background-image: url("assets/slider-ins.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.vertical {
	background-image: url("assets/slider.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.vertical:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.vertical:active,
.scale.scale-has-marks-below.slider.vertical:active:hover {
	background-image: url("assets/slider-hover.png");
    background-repeat: no-repeat;
}

.scale.scale-has-marks-below.slider.vertical:disabled,
.scale.scale-has-marks-below.slider.vertical:disabled:hover {
	background-image: url("assets/slider-ins.png");
    background-repeat: no-repeat;
}
*/
/********************************
 * Touch text selection handles *
 ********************************/
cursor-handle.bottom,
.cursor-handle.bottom {
	background-image: url("assets/slider.png");
}

cursor-handle.top,
.cursor-handle.top {
	background-image: url("assets/slider.png");
}

entry cursor-handle.top,
cursor-handle.top,
.entry.cursor-handle.top,
.cursor-handle.top {
	-gtk-icon-source: -gtk-icontheme("selection-start-symbolic");
}

entry cursor-handle.bottom,
cursor-handle.bottom,
.entry.cursor-handle.bottom,
.cursor-handle.bottom {
	-gtk-icon-source: -gtk-icontheme("selection-end-symbolic");
}

/****************
 * Content view *
 ****************/
.view.content-view,
.content-view.view {
	/*background-image: url("assets/noise-texture-light.png");*/
}
