/*********************
 * CAJA File manager *
 *********************/

/* for breadcrumbs path bar */

.caja-pathbar-button,
CajaPathbarButton {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_bg_color, 0.8), 1.1)),
                                    color-stop (.3, shade(alpha(@theme_bg_color, 0.8), 1.1)),
                                    color-stop (.7, shade(alpha(@theme_bg_color, 0.8), 0.98)),
                                    color-stop (1, shade(alpha(@theme_bg_color, 0.8), 0.90)));
    border-color: #979797;
    color: @theme_fg_color;
    -CajaPathbarButton-border-radius: 3px;
}

CajaPathbarButton:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_bg_color, 0.8), .8)),
                                    color-stop (.3, shade(alpha(@theme_bg_color, 0.8), .9)),
                                    color-stop (1, shade(alpha(@theme_bg_color, 0.8), 1.0)));
}

CajaPathbarButton:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
                                    color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
                                    color-stop (.7, shade(alpha(@theme_selected_bg_color, 0.8), 0.95)),
                                    color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 0.85)));
}

CajaPathbarButton:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), .80)),
                                    color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), .95)),
                                    color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)));
}

/* For Places Sidebar diskfull indicators */
CajaPlacesTreeView {
    -CajaPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, .65);
    -CajaPlacesTreeView-disk-full-fg-color: shade(@theme_selected_bg_color, 1.0);
    -CajaPlacesTreeView-disk-full-bar-width: 2px;
    -CajaPlacesTreeView-disk-full-bar-radius: 1px;
    -CajaPlacesTreeView-disk-full-bottom-padding: 1px;
    -CajaPlacesTreeView-disk-full-max-length: 70px;
}

CajaPlacesTreeView:selected {
    -CajaPlacesTreeView-disk-full-bg-color: shade(@theme_bg_color, 2.0);
    -CajaPlacesTreeView-disk-full-fg-color: shade(@theme_fg_color, 2.0);
}

CajaPlacesTreeView:hover {
}

CajaPlacesTreeView:selected:hover {
}

/* Caja places combobox */
CajaWindow .button.flat {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
}

CajaWindow .button.flat:first-child {
    transition: all 400ms ease-out;
    border-radius: 3px 0 0 3px;
    border-right-width: 0;
/* remove right border */
    border-image: url("borders/button.png") 3 4 4 3 / 3px 0px 4px 3px stretch;
}

CajaWindow .button.flat:last-child {
    transition: all 400ms ease-out;
    border-radius: 0 3px 3px 0;
    border-left-width: 0;
/* remove left border */
    border-image: url("borders/button.png") 3 3 4 4 / 3px 3px 4px 0px stretch;
}

CajaWindow .button.flat:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
}

CajaWindow .button.flat:hover:first-child {
    border-radius: 6px 0 0 6px;
    border-right-width: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 0px 4px 3px stretch;
}

CajaWindow .button.flat:hover:last-child  {
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 0px stretch;
}

/* some overrides for button.flat */
/* zoom button */
CajaWindow .primary-toolbar .button.flat,
CajaWindow .primary-toolbar .button.flat:first-child,
CajaWindow .primary-toolbar .button.flat:last-child {
    transition: all 400ms ease-out;
    border-width: 3px;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    border-image: none;
}

/* zoom button */
CajaWindow .primary-toolbar .button.flat:hover {
    border-width: 3px;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
}

/* ComboBox views */
CajaWindow .toolbar GtkComboBox .button {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    padding: 4px 4px;
}

CajaWindow .toolbar GtkComboBox .button:hover {
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
    padding: 4px 4px;
}

/* to avoid padding when executing toogle button */
CajaLocationBar .entry {
    padding: 4px;
}

/* the small line between sidebar and view */
CajaWindow GtkPaned.horizontal {
    -GtkPaned-handle-size: 3px;
    border-color: transparent;
    background-color: @theme_bg_color;
}

/* caja sidebar */
CajaWindow FMTreeView .view,
CajaWindow CajaNotesViewer .view,
CajaWindow CajaPlacesSidebar .view,
CajaWindow CajaHistorySidebar .view,
CajaWindow CajaInformationPanel GtkVBox,
CajaWindow CajaEmblemSidebar GtkViewport {
    background-color: shade (@theme_bg_color, 1.08);
    color: @theme_fg_color;
}

CajaWindow CajaPlacesSidebar .view row:active:hover,
CajaWindow CajaPlacesSidebar .view row:checked:hover,
CajaWindow CajaPlacesSidebar .view row:selected:hover,
CajaWindow CajaHistorySidebar .view row:active:hover,
CajaWindow CajaHistorySidebar .view row:checked:hover,
CajaWindow CajaHistorySidebar .view row:selected:hover,
CajaWindow FMTreeView .view row:active:hover,
CajaWindow FMTreeView .view row:checked:hover,
CajaWindow FMTreeView .view row:selected:hover {
    color: shade (@theme_selected_fg_color, 1.00);
}

CajaWindow CajaPlacesSidebar .view row:hover,
CajaWindow FMTreeView .view row:hover,
CajaWindow CajaHistorySidebar .view row:hover {
    background-color: shade (@theme_selected_bg_color, 1.15);
    color: shade (@theme_selected_bg_color, 0.35);
}

CajaWindow .rubberband,
CajaWindow .view.rubberband {
    background-color: alpha (@theme_selected_bg_color, 0.35);
}

CajaWindow CajaPlacesSidebar .frame {
    border-right-width: 1px;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.90);
    border-left: none;
    border-top: none;
    border-bottom: none;
}

/* moved eject button to left better for overlay scrollbars */
CajaWindow CajaPlacesSidebar .view row {
    padding: 0px 4px 0px 0px;
}

CajaWindow CajaPlacesSidebar row:selected {
    color: @theme_selected_fg_color;
}

CajaWindow CajaPlacesSidebar row:backdrop:selected {
    color: @theme_fg_color;
    text-shadow: none; 
}

CajaWindow CajaPlacesSidebar row:hover {
    background-color: shade (@theme_bg_color, 0.97);
}

/* better for overlay scrollbars */
CajaWindow FMTreeView .vertical.scrollbar.overlay-indicator,
CajaWindow CajaNotesViewer .vertical.scrollbar.overlay-indicator,
CajaWindow CajaPlacesSidebar .vertical.scrollbar.overlay-indicator,
CajaWindow CajaEmblemSidebar .vertical.scrollbar.overlay-indicator,
CajaWindow CajaHistorySidebar .vertical.scrollbar.overlay-indicator {
	-GtkRange-slider-width: 11;
}

.caja-canvas-item {
    border-radius: 3px;
}

/* view */
CajaNavigationWindow.background .view.caja-canvas-item {
    color: @theme_fg_color;
}

CajaNavigationWindow.background .view.caja-canvas-item:active,
CajaNavigationWindow.background .view.caja-canvas-item:selected {
    color: @theme_selected_fg_color;
}

/* desktop mode */
CajaDesktopWindow.background FMIconContainer.view EelEditableLabel.entry {
   border-image: none;
   border-width: 1px;
   text-shadow: none;
}

CajaDesktopWindow.background .caja-canvas-item {
    color: @theme_selected_fg_color;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

CajaDesktopWindow.background .caja-canvas-item:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

CajaDesktopWindow.background .caja-canvas-item:active,
CajaDesktopWindow.background .caja-canvas-item:prelight,
CajaDesktopWindow.background .caja-canvas-item:selected {
    text-shadow: none;
}

/* inactive pane */

.caja-inactive-pane .view {
    background-color: shade(@theme_base_color, 0.9);
}

/* Toolbar */
CajaWindow .toolbar .button {
    border-image: none;
}

/* Misc */
CajaView.frame,
CajaNotebook.notebook {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

CajaNotebook.notebook tab.top,
CajaNotebook.notebook tab.bottom {
    border-right-width: 1px;
    border-left-width: 1px;
}

CajaNotebook .frame {
    border-width: 1px 0 0 0;
}

/* close button styling */
/* surpress styling of close button */
CajaWindow .notebook tab .button.flat,
CajaWindow .notebook tab .button.flat:hover {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    icon-shadow: none;
    border-image: none;
}

CajaWindow .notebook tab.top {
    padding: 6px 3px 6px 0px;
}

.caja-cluebar-label {
    font: normal;
    text-shadow: 0 1px shade (@cluebar_color, 1.06);
}

CajaSearchBar .horizontal .entry {
    padding: 4px;
}

CajaTrashBar.info,
CajaXContentBar.info,
CajaSearchBar.info,
CajaQueryEditor.info {
    background-color: @cluebar_color;
    border-bottom-color: shade (@cluebar_color, 0.92);
    border-radius: 0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: @theme_fg_color;
}

CajaTrashBar .button,
CajaXContentBar .button,
CajaSearchBar .button,
CajaQueryEditor .button {
    border-radius: 0;
}

/****************
 * Mate-Panel *
 ****************/

/* first make all transparent */
PanelToplevel.background.horizontal {
    background-color: transparent;
}

WnckSelector.menubar,
PanelMenuBar.menubar,
WnckSelector GtkMenuItem,
PanelMenuBar GtkMenuItem,
MatePanelApplet GtkToggleButton.button {
    border-image: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

/* let's started */
/* the panel bar itself */
PanelToplevel.background.horizontal {
    background-color: @theme_bg_color;
}

.mate-panel-menu-bar {
    background-color: @theme_bg_color;
    background-image: none;
    /* normal panel */
    color: @theme_fg_color;
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
}

/* workaround to avoid unwanted black frames if switching compositor on/off */
.mate-panel-menu-bar .window-frame.csd.popup {
    box-shadow: none;
}

/* panel grip */
PanelToplevel.background {
    border-radius: 2px;
/* enable for making borders visible */
/*    box-shadow: inset  0px  1px shade (@theme_bg_color, 1.0),
                inset  1px  0px shade (@theme_bg_color, 1.0),
                inset -1px  0px shade (@theme_bg_color, 1.0),
                inset  0px -1px shade (@theme_bg_color, 1.0); */
}

/* hide buttons */
PanelToplevel.background .button {
    background: transparent;
    border-image: none;
    border-radius: 2px;
    border-width: 0px;
    padding: 0px;
    box-shadow: none;
}

PanelToplevel.background .button:hover,
PanelToplevel.background .button:hover:active {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.86),
                                      shade (@theme_selected_bg_color, 0.26));
    color: shade (@theme_selected_fg_color, 1.00);
    text-shadow: none;
    border-style: solid;
    border-width: 0px;
}

MatePanelApplet {
    border-width: 0;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-color: @theme_bg_color;
    color: shade (@theme_fg_color, 4.30);
    text-shadow: none;
}

/* the grid left from wnckpager and wncktasklist */
MatePanelAppletFrameDBus {
    background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

/* main menu */
/* set normal menubar button */
PanelMenuBar.menubar .menuitem {
    transition: all 200ms ease-out;
    text-shadow: none;
}

/* set selected menubar button */
PanelMenuBar.menubar .menuitem:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.86),
                                      shade (@theme_selected_bg_color, 0.26));
    color: shade (@theme_selected_fg_color, 1.00);
    text-shadow: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
}

/* set menubar menuitem separator */
PanelMenuBar.menubar .menu .menuitem.separator {
    color: @menu_separator;
    -GtkMenuItem-horizontal-padding: 0;
}

/* set normal menubar menuitem */
PanelMenuBar.menubar .menu .menuitem {
    transition: all 150ms ease-out;
    padding: 6px;
}

/* set selected menubar menuitem */
PanelMenuBar.menubar .menu .menuitem:checked:hover,
PanelMenuBar.menubar .menu .menuitem:active:hover,
PanelMenuBar.menubar .menu .menuitem:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 1.0),
                                      shade (@theme_selected_bg_color, 0.85));
    color: shade (@theme_selected_fg_color, 1.00);
    text-shadow: none;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

/* mate menu */

/* Mate menu button hover */
PanelMenuButton.button:hover {
    color: shade (@theme_selected_bg_color, 1.00);
}

/* Mate menu menuitem */
PanelMenuButton .menu .menuitem {
    padding: 6px;
}

/* Mate menu menuitem separator */
PanelMenuButton .menu .menuitem.separator {
    color: @menu_separator;
    -GtkMenuItem-horizontal-padding: 0;
}

/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
MatePanelApplet .button,
MatePanelApplet .button.flat {
    transition: all 400ms ease-out;
    background-image: none;
    background-color: transparent;
/*    color: @theme_selected_fg_color;*/
    border-image: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
    padding: 4px 4px 4px 4px;
}

MatePanelApplet .button:checked,
MatePanelApplet .button:active,
MatePanelApplet .button:checked:hover,
MatePanelApplet .button:active:hover,
MatePanelApplet .button.flat:checked,
MatePanelApplet .button.flat:active,
MatePanelApplet .button.flat:checked:hover,
MatePanelApplet .button.flat:active:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.86),
                                      shade (@theme_selected_bg_color, 0.26));
    background-color: transparent;
    color: shade (@theme_selected_fg_color, 1.00);
    border-image: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
    padding: 4px 4px 4px 4px;
}

MatePanelApplet .button:hover,
MatePanelApplet .button.flat:hover {
    background-image: linear-gradient(to bottom,
                                      @theme_bg_color,
                                      shade (@theme_selected_bg_color, 0.86));
    background-color: transparent;
    color: shade (@theme_text_color, 1.0);
    border-image: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
    padding: 4px 4px 4px 4px;
}

/*Wncklist */
WnckTasklist .button {
    transition: all 400ms ease-out;
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    background-color: transparent;
/*    color: @theme_selected_fg_color;*/
    border-image: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}

WnckTasklist .button:checked:hover,
WnckTasklist .button:checked,
WnckTasklist .button:active:hover,
WnckTasklist .button:active {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.86),
                                      shade (@theme_selected_bg_color, 0.26));
    background-color: transparent;
    color: shade (@theme_selected_fg_color, 1.00);
    border-image: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}

WnckTasklist .button:hover,
WnckTasklist .button.flat:hover {
    background-image: linear-gradient(to bottom,
                                      @theme_bg_color,
                                      shade (@theme_selected_bg_color, 0.86));
    background-color: transparent;
    color: shade (@theme_text_color, 1.0);
    border-image: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}

/* set selected button WnckSelector */
WnckSelector.menubar .menuitem:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.86),
                                      shade (@theme_selected_bg_color, 0.26));
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
}

/* set WnckSelector normal menuitem */
WnckSelector.menubar .menu .menuitem {
    background-color: @menu_bg_color;
    background-image: none;
    color: shade (@theme_fg_color, 1.00);
    text-shadow: none;
}

/* set WnckSelector selected menuitem */
WnckSelector.menubar .menu .menuitem:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 1.0),
                                      shade (@theme_selected_bg_color, 0.85));
    color: shade (@theme_selected_fg_color, 1.00);
    text-shadow: none;
    border-radius: 0px;
}

/* set WnckSelector menuitem separator */WnckSelector.menubar .menu .menuitem.separator {
    color: @menu_separator;
    -GtkMenuItem-horizontal-padding: 0;
}

/* WnckPager */
WnckPager {
    background-image: none;
    background-color: transparent;
    text-shadow: none;
}

/* selected WnckPager */
WnckPager:selected {
    background-image: linear-gradient(to bottom,
                                      @theme_selected_bg_color,
                                      shade (@theme_selected_bg_color, 0.36));
}

/* prelight of WnckPager */
WnckPager:hover {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_selected_bg_color, 0.56),
                                      @theme_selected_bg_color);
}

ClockBox,
.mate-panel-menu-bar.menubar,
MatePanelApplet > GtkMenuBar.menubar {
    font: normal;
}

/* no background for icon-padding area */
GtkTrayIcon.background {
    background-color: transparent;
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 3px;
    -NaTrayApplet-icon-size: 16;
}

/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
}

.mate-panel-applet-slider .frame {
    background-color: @theme_bg_color;
    border-image: none;
    border-style: solid;
    border-radius:3px;
    padding: 2px;
    margin: 0px;
}

.mate-panel-applet-slider .frame .frame{
    background-color:transparent;
    border-style: none;
    box-shadow: none;
}

.mate-panel-applet-slider .frame .button {
    color: @theme_fg_color;
}

CalendarWindow#MatePanelPopupWindow {
	border-radius: 3px;
}

/* FIXME, does not work */
CalendarWindow#MatePanelPopupWindow ClockMap {
	border-style: solid;
	border-width: 1px;
    border-color: @borders;
}

/****************
 * Mate-Terminal *
 ****************/

TerminalWindow GtkNotebook.notebook tab {
    padding: 2px;
    border-color: transparent;
    border-width: 0px;
    background-image: none;
    background-color: transparent;
}

TerminalWindow GtkNotebook.notebook tab.top,
.notebook tab.bottom {
    padding: 2px;
}

/****************
 * Pluma *
 ****************/

/* pluma line numbers */
PlumaView {
    background-color: shade (@theme_bg_color, 1.07);
}

/*FIXME normaly this isn't the right entry for adjusting
the sidebar entry hover color*/
PlumaWindow .view row:hover {
    background-color: shade (@theme_selected_bg_color, 1.15);
    color: shade (@theme_selected_bg_color, 0.35);
}

/* Pluma status bar */
PlumaStatusbar.horizontal.statusbar .frame.flat .flat.button {
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
}

PlumaWindow .button.flat:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
    padding: 2px 5px;
}

PlumaCloseButton.button.flat,
PlumaCloseButton.button.flat:hover,
PlumaCloseButton:prelight.button.flat,
PlumaCloseButton:prelight.button.flat:hover {
    padding: 1px;
}

/* surpress styling of close button */
PlumaWindow .notebook tab .button.flat,
PlumaWindow .notebook tab .button.flat:hover {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255,255,255,0), 0 1px rgba(255,255,255,0);
    text-shadow: none;
    icon-shadow: none;
    border-image: none;
    padding: 1px;
}

PlumaWindow .notebook tab.top {
    padding: 6px 0px 6px 6px;
}

/* Printpreview */
PlumaPrintPreview.vertical .toolbar.horizontal {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: alpha(@borders, 0.4);
    -GtkWidget-window-dragging: true;
    box-shadow: inset 0 1px 0 0 alpha(@borders, 0.4);
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal GtkToolItem .horizontal .entry {
    padding: 4px 6px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 0px;
}

PlumaPrintPreview.vertical .toolbar.horizontal .button.flat.text-button {
    padding: 0px 16px;
    border-radius: 2px;
}

PlumaPrintPreview.vertical GtkLayout {
    background-color: @theme_base_color;
}

/* sidebar file-browser */
PlumaPanel.vertical {
    border-radius: 4px 4px 0px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: @borders;
    box-shadow: none;
}

PlumaFileBrowserWidget.vertical {
    background-color: @theme_bg_color;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal {
    background-image: linear-gradient(to bottom,
                                      shade (@theme_bg_color, 1.0),
                                      shade (@theme_bg_color, 0.96));
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: alpha(@borders, 0.4);
    -GtkWidget-window-dragging: true;
    box-shadow: inset 0 1px 0 0 alpha(@borders, 0.4);
    padding: 4px 0px;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat,
PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.menu-button {
    padding: 4px 2px ;
}

PlumaFileBrowserWidget.vertical .toolbar.horizontal .button.flat.image-button {
    padding: 4px 3px ;
}

/* color of of expander arrow */
PlumaFileBrowserWidget.vertical GtkExpander:hover {
    color: @theme_fg_color;
}

/***********************
 * Mate-Control-Center *
 ***********************/

/* background */
ShellWindow AppResizer .view {
    background-color: @theme_base_color;
}

/* button of sidebar */
ShellWindow .button.flat {
    border-image: none;
    padding: 4px 1px;
}

ShellWindow .button.flat:hover {
    padding: 4px 1px;

}

/* button of applications */
ShellWindow GtkScrolledWindow .button.flat {
    padding: 4px 0px;
    border-image: none;
}

ShellWindow GtkScrolledWindow .button.flat:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b);
    border-image: url("borders/button.png") 3 3 4 3 / 3px 3px 4px 3px stretch;
    padding: 4px 0px;
}

/*********
 * Atril *
 *********/

/* size of page entry */
EvPageActionWidget .entry {
    padding: 2px;
}

EvWindow .toolbar .button,
EvWindow .toolbar .button.flat {
    padding: 0px 4px;
}

/* atril and eom */
EggToolbarEditor.vertical GtkScrolledWindow .frame {
    background-color: shade (@theme_base_color, 1.0);
    border-color: @borders;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
}

/*******
 * Eom *
 *******/

EomThumbNav .button.flat:first-child {
    border-radius: 4px 0px 0px 4px;
    border-width: 1px 0px 1px 1px;
}

EomThumbNav .button.flat:last-child {
    border-radius: 0px 4px 4px 0px;
    border-width: 1px 1px 1px 0px;
}

EomThumbNav .button.flat {
    border-image: none;
    border-color: @unfocused_borders;
}

EomThumbNav .button.flat:hover {
    border-image: none;
    border-color: @menu_combobox_border;
}

EomThumbNav .button.flat:insensitive {
    border-color: transparent;
}

.lock-dialog {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: @wm_csd_solid_border_color;
    /* not sure if box-shadow works here */
    box-shadow: 0 0 0 1px @wm_border, 0 2px 8px 3px @wm_shadow;
}

.lock-dialog .frame {
    border-radius: 3px;
    border-style: none;
    border-width: 0px;
}

